<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script src="../../../../vendor/components/jquery/jquery.js"></script>
	<script> path = "../../../../"; </script>
	<script src="../../js/all.js"></script>
	<style> @import "../../skins/default/all.css"; </style>
	<title>|Layout model|</title>
</head>
<body>
<!--BEGIN-->
<!--use ITRocks\Framework\Tools\Paths-->

	<article class="{@class.short.lower} layout-model {@feature.lower}" data-class="{@class}" data-feature="{@feature}" data-id="{?id}">
		<header><h2>|{@class.display.ucfirst}|</h2></header>
		{/component/button/general_buttons.html}
		<!-- TODO move lines before in above BEGIN and rename this template object.html (but solve it.rocks resolving context problem) -->
		{/feature/output/object.html}

		<section class="buttons toolbox" data-class="{class_name}">
			<h3>|Toolbox|</h3>

			<section class="add tools">
				<h4>|Add element|</h4>
				<ul>
					<li class="free-text field" title="|Create a zone where you can type free text|"><a>|Free text|</a></li>
					<li class="page-number-count field" title="|The current page number / page count|"><a>#/#</a></li>
					<li class="page-number field" title="|The current page number|"><a>#page.number</a></li>
					<li class="pages-count field" title="|The total pages count|"><a>#pages.count</a></li>
					<li class="rectangle field" title="|Rectangle|"><a>|Rectangle|</a></li>
					<li class="horizontal line field" title="|Horizontal line|"><a>|Horizontal line|</a></li>
					<li class="vertical line field" title="|Vertical line|"><a>|Vertical line|</a></li>
				</ul>
			</section>

			<section class="selected tools">
				<h4>|Selected element|</h4>
				<ul>
					<li class="size smaller" title="|Reduce the size of the text|"><a>|smaller size|</a></li>
					<li class="size bigger" title="|Enlarge the size of the text|"><a>|bigger size|</a></li>
				</ul>
				<ul>
					<li class="align left" title="|Align left|"><a>|left align|</a></li>
					<li class="align center" title="|Align center|"><a>|center align|</a></li>
					<li class="align right" title="|Align right|"><a>|right align|</a></li>
				</ul>
				<ul>
					<li class="format image" title="|Display as image|"><a>|display as image|</a></li>
					<li class="format text" title="|Display as full text|"><a>|display as text|</a></li>
					<li class="format text-cr" title="|Display as text delimited by the size you define|"><a>|display as delimited text|</a></li>
				</ul>
				<input id="align" type="hidden">
				<input id="format" type="hidden">
				<input id="size" type="hidden">
			</section>

			<ul class="pages">
				<!--pages-->
				<li class="page" data-id="{id}">
					<h4>|page {ordering}|</h4>
					<ul>
						<li>
							<label for="background{ordering}">|background|</label>
							<input id="background{ordering}" name="pages[background][{ordering}]" type="file">
						</li>
					</ul>
				</li>
				<!--end-->
			</ul>

		</section>

		{/ITRocks/Framework/Property/select/{classNamePath}/print}

		{/pages.html}

	</article>

<!--END-->
</body>
</html>
