<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script src="../../../../vendor/components/jquery/jquery.js"></script>
	<script> path = "../../../../"; </script>
	<script src="../../js/all.js"></script>
	<style> @import "../../skins/flat/all.css"; </style>
	<title>|Layout model pages|</title>
</head>
<body>
<!--BEGIN-->

	<div class="tabber">
		<ul>
			<!--pages-->
			<li><a href="dyn://#page-(orderingCaption)">|{orderingCaption}|</a></li>
			<!--end-->
		</ul>
		<!--pages-->
		<fieldset class="page" id="page-{orderingCaption}">
			<legend>|{orderingCaption}|</legend>
			{/output.html}
		</fieldset>
		<!--end-->
	</div>

<!--END-->
</body>
</html>
