<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script src="../../../../vendor/components/jquery/jquery.js"></script>
	<script> path = "../../../../"; </script>
	<script src="../../js/all.js"></script>
	<style> @import "../../skins/default/all.css"; </style>
	<title>|Layout model pages|</title>
</head>
<body>
<!--BEGIN-->

	<section class="pages tabber">
		<h4>|Pages|</h4>
		<ul>
			<!--pages-->
			<li><a href="dyn://#page-(orderingCaption)">|{orderingCaption}|</a></li>
			<!--end-->
		</ul>
		<!--pages-->
		{/output.html}
		<!--end-->
	</section>

<!--END-->
</body>
</html>
