<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>|Custom settings|</title>
	<style type="text/css">
		@import "../../skins/default/all.css";
	</style>
</head>
<body>
<!--BEGIN-->

<input class="customized" value="{?settings.name}">
<!--customized_lists?-->
<select class="customized">
	<option value=""> </option>
	<!--customized_lists--><option {?.}>{#}</option><!--customized_lists-->
</select>
<!--customized_lists?-->

<!--END-->
</body>
</html>
