<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script src="../../../../vendor/components/jquery/jquery.js"></script>
	<script> path = "../../../../"; </script>
	<script src="../../js/all.js"></script>
	<style> @import "../../skins/flat/all.css"; </style>
	<title>Default HTML view template</title>
</head>
<body>
<!--BEGIN-->

	<section class="{@class.short.lower} {@feature.lower}">
		<h2>{@class.display.ucfirst} {@feature.display}</h2>
		<p>{.}</p>
	</section>

<!--END-->
</body>
</html>
