<!doctype html>
<html lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Default list template</title>
	<script type="text/javascript" src="../../main/js/jquery.js"></script>
	<style type="text/css">
		@import "../../../skins/default/application.css";
	</style>
</head>
<body>

<!--BEGIN-->
<div class="window list form" id="/{@class}/{@feature}">
	<h2 class="window title">|¦{@class.ucfirst}¦ list|</h2>

	<div class="general buttons">
		<!--general_buttons-->
		<a class="button trashable {feature.lower}" href="{link}" target="#main">|{caption}|</a>
		<!--sample-->
		<a class="button trashable new" href="/Class/new" target="#main">New</a>
		<!--general_buttons-->
	</div>

	<form action="/{@class}/{@feature}" method="POST">
	<table class="list">
	<thead>
	<tr>
		<th class="columns_select"></th>
		<!--getProperties-->
		<th id="{.}" class="trashable">|{@display}|</th>
		<!--sample-->
		<th id="column2" class="trashable">column2</th>
		<!--getProperties-->
	</tr>
	<tr class="search">
		<td></td>
		<!--search-->
		<td>{@edit}</td>
		<!--sample-->
		<td><input name="column2"></td>
		<!--search-->
	</tr>
	</thead>
	<tbody>
	<!--elements:-20-->
	<tr>
		<td><input type="checkbox" name="s[]" value="{id}"></td>
		<!--formatValues:1-->
		<td>
			<!--..class_name-->
			<a href="/{..class_name.short}/{..id}" target="#main" class="trashable">{value}</a>
			<!--..class_name-->
		</td>
		<!--formatValues-->
		<!--formatValues:2-...count-->
		<td>{value}</td>
		<!--formatValues-->
	</tr>
	<!--sample-->
	<tr>
		<td><input type="checkbox"></td>
		<td><a href="/Class/2">code2</a></td>
		<td>3,18</td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td><a href="/Class/3">code3</a></td>
		<td>2,29</td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td><a href="/Class/4">code4</a></td>
		<td>12,39</td>
	</tr>
	<!--elements-->
	</tbody>
	</table>
	</form>

	<div class="selection buttons">
		<span class="selection arrow trashable">[select]</span>
		<!--selection_buttons-->
		<a class="button trashable {feature.lower}" href="{link}">|{caption}|</a>
		<!--sample-->
		<a class="button trashable print" href="/Class/print">Print</a>
		<!--selection_buttons-->
	</div>

</div>
<!--END-->

</body>
</html>
