<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Default list template</title>
	<script type="text/javascript" src="../../../vendor/jquery/jquery-1.8.3.js"></script>
	<style type="text/css">
		@import "../../../skins/default/application.css";
	</style>
</head>
<body>

<!--BEGIN-->

<ul class="general buttons">
	<!--general_buttons-->
	<li class="{feature.lower} trashable button {color}"><a class="{?class}" href="{link}" target="{?target}">|{caption}|</a>
		<!--sub_buttons?-->
		<ul class="sub_buttons">
			<!--sub_buttons-->
			<li class="{feature.lower} trashable sub_button {color}"><a class="{?class}" href="{link}" target="{?target}">|{caption}|</a></li>
			<!--sub_buttons-->
		</ul>
		<!--sub_buttons?-->
	</li>
	<!--sample-->
	<li class="trashable write submit button {color}"><a href="/abook/Contact/1/write" target="#messages">Write</a></li>
	<!--general_buttons-->
</ul>

<!--END-->

</body>
</html>
