<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>|¦{@class.display.ucfirst}¦ written|</title>
    <style type="text/css">
        @import "../../../skins/default/all.css";
    </style>
</head>
<body>

	<!--BEGIN-->
	|¦{@class.display.ucfirst}¦ written|

	<!--fill_combo-->
	<script>
	if (document.{fill_combo} != undefined) {
		document.{fill_combo}.value = {id};
		$(document.{fill_combo}.nextSibling).val("{.}").keyup().select();
	}
	</script>
	<!--fill_combo-->

	<!--close--><script> $("#{.}").remove(); </script><!--close-->
	<!--!close?--><script> redirect("/{@class.short}/{id}", "#main"); </script><!--!close?-->

	<!--END-->

</body>
</html>
