<!doctype html>
<html lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>SAF Application</title>
	<style type="text/css">
		@import "style/default/style.css";
	</style>
</head>
<body>

<div class="main_title">
	[{@application.ucwords}]
</div>
<div class="breadcrumb">
	<!--@class--><span class="entry">[{@class.display}]</span><!--@class-->
	<!--@feature--><span class="entry">[{@feature.display}]</span><!--@feature-->
	<!--@top--><span class="entry">{@top}</span><!--@top-->
</div>

<div class="Menu output">
	{/Menu/output}
</div>
<div class="{@class} {@feature}">
	{@content}
</div>

</body>
</html>
