<!doctype html>
<html lang="fr">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>User register template</title>
	<style type="text/css">
		@import "../../skins/default/application.css";
	</style>
</head>
<body>
<!--BEGIN-->
<div class="window user register">
	<h2>|User register|</h2>
	<form name="user_register" action="/User/register" method="post">
		<div class="fieldset">
			<div class="field">
				<span class="label">|login|</span>
				<span class="value"><input name="login"></span>
			</div>
			<div class="field">
				<span class="label">|password|</span>
				<span class="value"><input name="password" type="password"></span>
			</div>
		</div>
		<input type="submit" value="|register|">
	</form>
</div>
<!--END-->
</body>
</html>
