<!doctype html>
<html lang="fr">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>
		[{@application.ucwords}] - [{@class.ucfirst}]<!--@top--> {@top}<!--@top--> [{@feature.display}]
	</title>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/jquery.form.js"></script>
	<script type="text/javascript" src="js/saf.functions.js"></script>
	<script type="text/javascript" src="js/saf.form.js"></script>
	<style type="text/css">
		@import "style/default/style.css";
	</style>
</head>

<body id="main">

<div class="application top">
	[{@application.ucwords}]
</div>

<div class="application breadcrumb">
	<!--@class--><span class="entry">[{@class.display}]</span><!--@class-->
	<!--@feature--><span class="entry">[{@feature.display}]</span><!--@feature-->
	<!--@top--><span class="entry">{@top}</span><!--@top-->
</div>

{@content}

</body>
</html>
