body {
	background-color: #74c4cf;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
}

div {
	white-space: normal;
}

em {
	font-style: italic;
}

p {
	padding-bottom: 1em;
	padding-top: 1em;
}

p:first-child {
	padding-top: 0;
}

p:last-child {
	padding-bottom: 0;
}

strong {
	font-weight: bold;
}

#main {
	white-space: nowrap;
}

.application.center {
	background-color: #fafafa;
	height: 100%;
}

.application.top {
	background-color: lightgrey;
	border-bottom: solid darkgrey 1px;
	height: 52px;
}

.saf.logo {
	background: url("img/fingers_40.png");
	color: transparent;
	display: inline-block;
	height: 40px;
	margin: 12px 16px 0 6px;
	width: 44px;
}

.trashcan {
	border-radius: 2px;
	display: inline-block;
	bottom: 8px;
	position: absolute;
	right: 8px;
}

.trashcan a {
	background: url("img/trashcan.png");
	color: transparent;
	display: inline-block;
	float: right;
	height: 32px;
	width: 32px;
}

.delete.message,
.remove.message {
	background: url("img/talk_down.png") bottom right no-repeat;
	padding-bottom: 7px;
}

.delete.message h2,
.delete.message div,
.remove.message h2,
.remove.message div {
	background-color: white;
	border-right: 1px solid black;
	display: block;
	padding: 0 3px 1px 3px;
}

.dragging {
	border: 1px solid lightgray;
	border-radius: 2px;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
	cursor: move;
	padding: 0 4px;
}

.candrop {
	box-shadow: 0 0 3px 3px red;
}

div.popup {
	position: absolute;
}

.visible {
	display: inline-block;
}

.messages {
	background-color: white;
	border: 1px solid lightgray;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1);
	display: inline-block;
	left: 4px;
	padding: 3px;
	position: absolute;
	top: 4px;
	z-index: 1000000000;
}

.messages:empty {
	display: none;
}

.ui-draggable .window.title {
	cursor: move;
}
