@import "colors.scss";

input:not([type=button]):not([type=hidden]):not([type=file]):not([type=submit]):not(.customized),
select,
textarea {
	background-color: white;
	border: 1px solid #a3a3a3;
	border-radius: 2px;
	padding: 1px 2px;
}

/* datetime input */

input.datetime {
	background: white url("img/input_datetime.png") right top no-repeat;
}
.ui-datepicker-trigger {
	display: none;
}

/* float / integer input / display */

.float,
.integer {
	text-align: right;
}

/* combo input */

input.combo {

	&~.ui-helper-hidden-accessible {
		display: none;
	}

	&~button, &~a {
		color: transparent;
		height: 16px;
		font-size: 1px;
		margin: 2px 0;
		padding: 0 2px;
		vertical-align: top;
		width: 16px;

		&.more {
			background: url("img/input_combo.png") no-repeat center 1px;
			border: 0;
			cursor: pointer;
			display: inline-block;
			margin-left: -16px;
		}

		&.edit {
			background: url("img/add_action.png") no-repeat center 2px;
			display: none;
			position: absolute;
		}
	}
}

/* fieldset */

form>fieldset {
	display: table;

}

fieldset>fieldset {
	display: table-row-group;
}

fieldset {

	>div:not(.tabber) {
		display: table-row;

		>label, >div {
			display: table-cell;
		}

		/* standard field */
		&:not(.multiple) {
			&:hover {
				background-color: $field_hover;
			}

			>label {
				font-weight: bold;
				padding-top: 6px;
				vertical-align: top;
				white-space: nowrap;
				&:after {
					content: " :";
					margin-right: .5em;
				}
			}

			>div {
				>input, >select, >textarea {
					margin: 2px 0;
				}
			}
		}

		/* multiple field */
		&.multiple {
			border: lightgrey 1px solid;
			caption-side: bottom;
			display: table-caption;

			>* {
				display: block;
				padding: 3px;
			}

			>label {
				background-color: #e9ede7;
				height: 14px;
				font-weight: bold;
			}

			>div>table>tbody>tr {

				&:hover {
					background-color: $field_hover;
				}

				>td {
					padding-right: 5px;

					>input, >select, >textarea {
						margin: 0 0 1px;
						width: 100%;
					}

					&.minus {
						background: url("img/remove_row.png") right no-repeat;
						color: transparent;
						cursor: pointer;
						max-width: 16px;
						min-width: 16px;
						width: 16px;
					}
				}
			}
		}

		/* columns */
		&.columns {
			display: block;
			width: 100%;

			>.column {
				vertical-align: top;

				&:not(:last-child) {
					float: left;
				}

				&:last-child {
					float: right;

					fieldset {
						display: inline-block;
					}
				}
			}
		}
	}

	/* block fieldset */
	&.block {
		display: table-row-group;
		border: 1px solid #a3a3a3;
		border-radius: 4px;
		padding: 0 .25em;

		>legend {
			color: #202020;
			font-size: 14px;
			margin-left: .25em;
			padding: 0 .25em;
			white-space: nowrap;
		}
	}
}

/* main tabber */

form>fieldset>.tabber {
	border-bottom: 1px solid #575757;
	padding-bottom: 2px;
}

/* TODO include */

/*

.collection tr:hover td,
.map tr:hover td {
	background-color: #DEFDAF;
}

*/
