/* components */
/* features colors and action left button part */
/* modules */
input:not([type=button]):not([type=hidden]):not([type=file]):not([type=submit]):not(.customized),
select,
textarea {
  background-color: white;
  border: 1px solid #a3a3a3;
  border-radius: 2px;
  padding: 1px 2px; }

/* datetime input */
input.datetime {
  background: white url("img/input_datetime.png") right top no-repeat; }

.ui-datepicker-trigger {
  display: none; }

/* float / integer input / display */
.float,
.integer {
  text-align: right; }

/* combo input */
input.combo ~ .ui-helper-hidden-accessible {
  display: none; }
input.combo ~ button, input.combo ~ a {
  color: transparent;
  height: 16px;
  font-size: 1px;
  margin: 2px 0;
  padding: 0 2px;
  vertical-align: top;
  width: 16px; }
  input.combo ~ button.more, input.combo ~ a.more {
    background: url("img/input_combo.png") no-repeat center 1px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    margin-left: -16px; }
  input.combo ~ button.edit, input.combo ~ a.edit {
    background: url("img/add_action.png") no-repeat center 2px;
    display: none;
    position: absolute; }

/* fieldset */
form > fieldset {
  display: table; }

fieldset > fieldset {
  display: table-row-group; }

fieldset {
  /* block fieldset */ }
  fieldset > div:not(.tabber) {
    display: table-row;
    /* standard field */
    /* multiple field */
    /* columns */ }
    fieldset > div:not(.tabber) > label, fieldset > div:not(.tabber) > div {
      display: table-cell; }
    fieldset > div:not(.tabber):not(.multiple):hover {
      background-color: #defdaf; }
    fieldset > div:not(.tabber):not(.multiple) > label {
      font-weight: bold;
      padding-top: 6px;
      vertical-align: top;
      white-space: nowrap; }
      fieldset > div:not(.tabber):not(.multiple) > label:after {
        content: " :";
        margin-right: .5em; }
    fieldset > div:not(.tabber):not(.multiple) > div > input, fieldset > div:not(.tabber):not(.multiple) > div > select, fieldset > div:not(.tabber):not(.multiple) > div > textarea {
      margin: 2px 0; }
    fieldset > div:not(.tabber).multiple {
      border: lightgrey 1px solid;
      caption-side: bottom;
      display: table-caption; }
      fieldset > div:not(.tabber).multiple > * {
        display: block;
        padding: 3px; }
      fieldset > div:not(.tabber).multiple > label {
        background-color: #e9ede7;
        height: 14px;
        font-weight: bold; }
      fieldset > div:not(.tabber).multiple > div > table > tbody > tr:hover {
        background-color: #defdaf; }
      fieldset > div:not(.tabber).multiple > div > table > tbody > tr > td {
        padding-right: 5px; }
        fieldset > div:not(.tabber).multiple > div > table > tbody > tr > td > input, fieldset > div:not(.tabber).multiple > div > table > tbody > tr > td > select, fieldset > div:not(.tabber).multiple > div > table > tbody > tr > td > textarea {
          margin: 0 0 1px;
          width: 100%; }
        fieldset > div:not(.tabber).multiple > div > table > tbody > tr > td.minus {
          background: url("img/remove_row.png") right no-repeat;
          color: transparent;
          cursor: pointer;
          max-width: 16px;
          min-width: 16px;
          width: 16px; }
    fieldset > div:not(.tabber).columns {
      display: block;
      width: 100%; }
      fieldset > div:not(.tabber).columns > .column {
        vertical-align: top; }
        fieldset > div:not(.tabber).columns > .column:not(:first-child) {
          margin-left: 4px; }
        fieldset > div:not(.tabber).columns > .column:not(:last-child) {
          float: left; }
        fieldset > div:not(.tabber).columns > .column:last-child {
          float: right; }
          fieldset > div:not(.tabber).columns > .column:last-child fieldset {
            display: inline-block; }
  fieldset.block {
    display: table-row-group;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    padding: 0 .25em; }
    fieldset.block > legend {
      color: #202020;
      font-size: 14px;
      margin-left: .25em;
      padding: 0 .25em;
      white-space: nowrap; }

/* main tabber */
form > fieldset > .tabber {
  border-bottom: 1px solid #575757;
  padding-bottom: 2px; }
