.import.preview.window .worksheet:not(:last-child) {
	border-bottom: 2px solid black;
	padding-bottom: 6px;
	margin-bottom: 1em;
}

.import.preview.window .class:not(:nth-child(2)) {
	border-top: 1px solid darkgray;
	padding-top: 4px;
	margin-top: 4px;
}

.import.preview.window h3 {
	font-size: 1.4em;
	font-weight: normal;
	text-decoration: underline;
	margin-bottom: .25em;
}

.import.preview.window .fieldset .field .label {
	padding: 0;
}

.import.preview.window .fieldset .field .label:after {
	content : " = ";
}

.import.preview.window h3 span.class:after {
	content: " :";
}

.import.preview.window h3 span.property:not(:last-child):after {
	content: ".";
}

.import.preview.window .class div span {
	font-weight: bold;
}

.import.preview.window .class ul {
	display: inline-block;
	text-decoration: none;
}

.inport.preview.window .properties {
	border: 1px solid white;
}

.import.preview.window .identify.properties ul:empty:after {
	content: "(crée systématiquement un nouvel enregistrement)";
	font-style: italic;
}

.import.preview.window .write.properties ul:empty:after {
	content: "(aucune valeur à écrire)";
	font-style: italic;
}

.import.preview.window .ignore.properties ul:empty:after {
	content: "(aucune valeur n'est ignorée)";
	font-style: italic;
}

.import.preview.window .class li {
	border: 1px solid;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	margin: 0 2px;
	padding: .25em;
}

.import.preview.window .class li:not(:last-child):after {
	content: ", ";
}

.import.preview.window .class .identify li {
	background-color: green;
	border-color: darkgreen;
}

.import.preview.window .class .write li {
	background-color: blue;
	border-color: darkblue;
}

.import.preview.window .class .ignore li {
	background-color: #eee;
	border-color: #ccc;
	color: #333;
}

.import.preview.window option {
	background-color: white;
	color: black;
}

.import.preview.window option[value="create_new_value"] {
	background-color: blue;
	color: white;
}

.import.preview.window option[value="tell_it_and_stop_import"] {
	background-color: red;
	color: white;
}

.import.preview.window table {
	margin-top: .5em;
	width: 100%;
}

.import.preview.window table td,
.import.preview.window table th {
	border: 1px solid darkgray;
	padding: 3px;
	white-space: nowrap;
}

.import.preview.window table th {
	background: #606060;
	color: white;
}
