.menu.output {
	background: white;
	border: 1px solid darkgray;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1);
	display: inline-block;
	margin: -30px 4px 4px;
	padding-bottom: 10px;
}

.menu.output .minimize {
	background: url("img/arrow_black_up.gif") center no-repeat;
	color: transparent;
	cursor: pointer;
	float: left;
	font-size: 1px;
	height: 24px;
	width: 24px;
}

.menu.output.minimized .minimize {
	background: url("img/arrow_black_down.gif") center no-repeat;
}

.menu.output h2 {
	border-bottom: 1px solid #c0c0c0;
	margin-bottom: 4px;
	text-align: center;
}

.menu.output h2 a {
	color: black;
	display: block;
	padding: 6px 6px 4px;
	text-decoration: none;
}

.menu.output .blocks {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu.output .block {
	background: 3px 3px no-repeat;
	padding: 4px 0 0;
}

.menu.output h3 {
	background-color: lightgrey;
	color: black;
	font: bold 12px arial;
	margin: 0 0 0 0;
	padding: 0 6px 0 6px;
	white-space: nowrap;
}

.menu.output .items {
	background-color: white;
	list-style: none;
	margin: 0 0 0 6px;
	padding: 2px 0 8px;
}

.menu.output .item a {
	display: block;
	height: 14px;
	padding: 0 4px;
}

.menu.output .item a:hover {
	color: darkred;
	text-decoration: underline;
}

.menu.output .block.black    h3 { background-color: black;   color: white; }
.menu.output .block.blue     h3 { background-color: #5184d2; color: white;   }
.menu.output .block.cyan     h3 { background-color: cyan;      }
.menu.output .block.gray     h3 { background-color: lightgray; }
.menu.output .block.green    h3 { background-color: #93c437;     color: white; }
.menu.output .block.magenta  h3 { background-color: darkmagenta; color: white; }
.menu.output .block.orange   h3 { background-color: darkorange;  color: white; }
.menu.output .block.red_star h3 { background-color: red;         color: white; }

.menu.output .item a {
	color: black;
	font: 11px arial;
	text-decoration: none;
}
