.menu.output {
  background: white;
  border: 1px solid darkgrey;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  display: inline-block;
  float: left;
  margin: -30px 4px 4px;
  padding-bottom: 10px; }
  .menu.output > .minimize {
    background: url("img/arrow_black_up.gif") center no-repeat;
    color: transparent;
    cursor: pointer;
    float: left;
    font-size: 1px;
    height: 24px;
    width: 24px; }
  .menu.output > h2 {
    border-bottom: 1px solid silver;
    margin-bottom: 4px;
    text-align: center; }
    .menu.output > h2 > a {
      color: black;
      display: block;
      padding: 6px 6px 4px;
      text-decoration: none; }
  .menu.output > ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .menu.output > ul > li {
      background: 3px 3px no-repeat;
      padding: 4px 0 0; }
      .menu.output > ul > li > h3 {
        background-color: lightgrey;
        color: black;
        font: bold 12px arial;
        margin: 0 0 0 0;
        padding: 0 6px 0 6px;
        white-space: nowrap; }
      .menu.output > ul > li > ul {
        background-color: white;
        list-style: none;
        margin: 0 0 0 6px;
        padding: 2px 0 8px; }
        .menu.output > ul > li > ul > li > a {
          color: black;
          display: block;
          font: 11px arial;
          height: 14px;
          padding: 0 4px;
          text-decoration: none; }
        .menu.output > ul > li > ul > li > a:hover {
          color: darkred;
          text-decoration: underline; }

.menu.output.minimized > .minimize {
  background: url("img/arrow_black_down.gif") center no-repeat; }
