/* components */
/* features colors and action left button part */
/* modules */
/* actions */
ul.actions > li.cancel > *, ul.actions > li.close > * {
  padding-left: 12px;
  background: url("img/buttons/17/left_close.gif") -1px no-repeat, url("img/buttons/17/background.gif"); }
ul.actions > li.add > *, ul.actions > li.import > *, ul.actions > li.write > * {
  padding-left: 12px;
  background: url("img/buttons/17/left_green.gif") -1px no-repeat, url("img/buttons/17/background.gif"); }
ul.actions > li.export > *, ul.actions > li.print > * {
  padding-left: 12px;
  background: url("img/buttons/17/left_blue.gif") -1px no-repeat, url("img/buttons/17/background.gif"); }

/* modules on menu */
.menu > ul li.sales > h3 {
  background-color: #93c437; }
.menu > ul li.purchases > h3 {
  background-color: #5184d2; }
.menu > ul li.catalog > h3 {
  background-color: #93c437; }
.menu > ul li.administration > h3 {
  background-color: #222222;
  color: white; }
.menu > ul li.base_data > h3 {
  background-color: #222222;
  color: white; }

/* modules windows */
.window.purchases_order > h2, .window.purchases_orders > h2 {
  background-color: #5184d2; }
.window.sales_order > h2, .window.sales_orders > h2 {
  background-color: #93c437; }
.window.item > h2, .window.item > h2 {
  background-color: #93c437; }
