/* components */
/* features colors and action left button part */
/* modules */
.property_select {
  background-color: #DCDCDD;
  border: solid 1px #606060;
  border-radius: 0 2px 2px 2px;
  display: inline-block;
  padding: 2px 8px 2px 2px;
  position: absolute;
  text-align: left; }
  .property_select .joint {
    background-color: #DCDCDD;
    display: inline-block;
    height: 1px;
    left: 1px;
    position: absolute;
    top: -1px;
    width: 16px; }
  .property_select > input {
    margin: 0 0 3px;
    width: 100%; }
  .property_select ul {
    background-color: white;
    border-radius: 2px;
    list-style: none; }
    .property_select ul > li {
      background: url("img/tree/string-right.png") 8px -2px no-repeat;
      cursor: default;
      padding-left: 18px; }
      .property_select ul > li:last-child {
        background: url("img/tree/string-last.png") 8px -2px no-repeat; }
      .property_select ul > li > a {
        background: url("img/tree/plus.png") 4px 2px no-repeat;
        color: black;
        cursor: pointer;
        display: block;
        margin-left: -18px;
        padding-left: 18px;
        text-decoration: none;
        white-space: nowrap; }
        .property_select ul > li > a.expanded {
          background: url("img/tree/minus.png") 4px 2px no-repeat; }
      .property_select ul > li span {
        display: block; }
        .property_select ul > li span:hover {
          background-color: #aedc5f; }
