body > header > ul > li.rad.add > a {
  color: transparent;
  font-size: 1px; }
  body > header > ul > li.rad.add > a:before {
    color: #222;
    content: "+";
    font-size: 16px; }
  body > header > ul > li.rad.add > a:hover:before {
    color: #2D8F8D; }
