h2 {
	font-size: 1.5em;
	font-weight: bold;
}

html, body {
	height: 100%;
}

div, span, h1, h2, h3, h4, h5, p {
	cursor: inherit;
}

th, td {
	padding: 0 3px;
}

th {
	text-align: center;
}

.breadcrumb .entry:before {
	content: ' / ';
}

.left {
	float: left;
	text-align: left;
}

.right {
	float: right;
	text-align: right;
}

.toptab {
	background: url("img/tab_background.png");
	border: 1px solid #9ab3b7;
	color: #222;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	min-width: 20px;
	padding: 0 10px;
	text-decoration: none;
	white-space: nowrap;
}

.toptab.down {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top: 1px solid #d6dadc;
}

.toptab.up {
	border-bottom: 1px solid #d6dadc;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
