.vertical.scrollbar {
  background-color: white;
  border: 1px solid darkgray;
  height: auto;
  overflow: hidden;
  padding: 0;
  vertical-align: top;
  width: 17px; }
  .vertical.scrollbar .up, .vertical.scrollbar .down, .vertical.scrollbar .position {
    color: transparent;
    font-size: 1px;
    padding: 0; }
  .vertical.scrollbar .position {
    background-color: lightgray;
    border: 1px solid darkgray;
    display: block; }
