.window {
  background: white;
  border: 1px solid darkgray;
  border-radius: 4px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.10);
	display: inline-block;
  margin: 4px;
  padding: 8px;
  position: relative;

  >h2 {
    background-color: darkgray;
    border: 1px solid darkgray;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
	  margin: -9px -9px 8px;
    padding: 0 8px;
    white-space: nowrap;
  }
}

@import "colors.scss";

.categories.window >h2, .category.window >h2,
.item.window >h2, .items.window >h2 {
  background-color: $catalog;
}

.client.window >h2, .clients.window >h2,
.salesman.window >h2, .salesmen.window >h2 {
  background-color: $sales;
}
