<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>|Button edit hidden form fields|</title>
</head>
<body style="padding:4px;">
>
<!--BEGIN-->

	<form>
		<input type="hidden" name="custom_class_name" value="{custom_class_name}">
		<input type="hidden" name="custom_feature" value="{custom_feature}">
		<input type="hidden" name="custom_{custom_side}_button" value="{custom_{custom_side}_button}">
	</form>

<!--END-->
</body>
</html>
