<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script src="../../../../vendor/components/jquery/jquery.js"></script>
	<script> path = "../../../../"; </script>
	<script src="../../js/all.js"></script>
	<style> @import "../../skins/default/all.css"; </style>
	<title>|Button edit hidden form fields|</title>
</head>
<body>
<!--BEGIN-->

	<form>
		<input type="hidden" name="custom_class_name" value="{custom_class_name}">
		<input type="hidden" name="custom_feature" value="{custom_feature}">
		<input type="hidden" name="custom_{custom_side}_button" value="{custom_{custom_side}_button}">
	</form>

<!--END-->
</body>
</html>
