<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>|General buttons|</title>
	<style type="text/css">
		@import "../../skins/default/all.css";
	</style>
</head>
<body style="padding:4px;">
<!--BEGIN-->

	<!--general_buttons?-->
	<ul class="general actions">
		<!--general_buttons-->
		<li class="{feature.lower}">
			<a class="{?class}" data-class="{?data_object.@class}" data-confirm-cancel="{?cancel_label}" data-confirm-message="{?confirm_message}" data-confirm-ok="{?confirm_label}" data-id="{?data_object.id}" href="{link}" target="{?target}" title="|{?hint}|">|{caption}|</a>
			<!--sub_buttons?-->
			<ul>
				<!--sub_buttons-->
				<li class="{feature.lower}">
					<a class="{?class}" data-class="{?data_object.@class}" data-confirm-cancel="{?cancel_label}" data-confirm-message="{?confirm_message}" data-confirm-ok="{?confirm_label}" data-id="{?data_object.id}" href="{link}" target="{?target}" title="|{?hint}|">|{caption}|</a>
				</li>
				<!--end-->
			</ul>
			<!--end-->
		</li>
		<!--sample-->
		<li class="write"><a class="submit {?class}" data-confirm-cancel="{?cancel_label}" data-confirm-message="{?confirm_message}" data-confirm-ok="{?confirm_label}" href="/abook/ITRocks/ABook/Contact/1/write" target="#messages" title="Write this">Write</a></li>
		<!--end-->
	</ul>
	<!--end-->

<!--END-->
</body>
</html>
