<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script src="../../../../vendor/components/jquery/jquery.js"></script>
	<script> path = "../../../../"; </script>
	<script src="../../js/all.js"></script>
	<style> @import "../../skins/default/all.css"; </style>
	<title>|General buttons|</title>
</head>
<body>
<!--BEGIN-->

	<!--general_buttons?-->
	<ul class="general actions">
		<!--general_buttons-->
		<li class="{class}" data-align="{?align}" data-each="{data}">
			<a data-class="{?data_object.@class}" data-confirm-cancel="{?cancel_label}" data-confirm-message="{?confirm_message}" data-confirm-ok="{?confirm_label}" data-id="{?data_object.id}" href="app://(link)" target="{?target}" title="|{?hint}|">|{caption}|</a>
			<!--sub_buttons?-->
			<ul>
				<!--sub_buttons-->
				<li class="{class}">
					<a data-class="{?data_object.@class}" data-confirm-cancel="{?cancel_label}" data-confirm-message="{?confirm_message}" data-confirm-ok="{?confirm_label}" data-id="{?data_object.id}" href="app://(link)" target="{?target}" title="|{?hint}|">|{caption}|</a>
				</li>
				<!--end-->
			</ul>
			<!--end-->
		</li>
		<!--sample-->
		<li class="save">
			<a class="submit" data-confirm-cancel="Cancel" data-confirm-message="Confirm save" data-confirm-ok="Confirmed" href="app://application/ITRocks/ABook/Contact/1/save" target="#responses" title="Save this">
				Save
			</a>
		</li>
		<li class="import">
			<a class="submit" href="app://ITRocks/Framework/Users/export">Export</a>
		</li>
		<li class="print">
			<a class="submit" href="app://ITRocks/Framework/Users/print">Print</a>
			<ul>
				<li class="add">
					<a class="submit" href="app://ITRocks/Framework/Layout/Model/add/class_name/ITRocks/Framework/User" target="#main">New print model</a>
				</li>
				<li>
					<a class="submit" href="app://ITRocks/Framework/Users/print" target="#responses">Standard model</a>
				</li>
				<li>
					<a class="submit" href="app://ITRocks/Framework/Users/print" target="#responses">Secondary model</a>
				</li>
			</ul>
		</li>
		<li class="delete">
			<a class="submit" href="app://ITRocks/Framework/Users/delete" target="#responses">Delete</a>
		</li>
		<!--end-->
	</ul>
	<!--end-->

<!--END-->
</body>
</html>
