<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script src="../../../../../vendor/components/jquery/jquery.js"></script>
	<script> path = "../../../../../"; </script>
	<script src="../../../js/all.js"></script>
	<style> @import "../../../skins/default/all.css"; </style>
	<title>|Layout model page|</title>
</head>
<body>
<!--BEGIN-->

	<section class="page" id="{orderingCaption}-page">
		<h4>|{orderingCaption}|</h4>
		<input name="pages[id][{ordering}]"       type="hidden" value="{?id}">
		<input name="pages[layout][{ordering}]"   type="hidden" value="{layout.htmlEntities}">
		<input name="pages[ordering][{ordering}]" type="hidden" value="{ordering}">
		<div class="horizontal snap line tool" title="|horizontal snap line|">|horizontal snap line|<div class="handle"></div></div>
		<div class="vertical snap line tool" title="|vertical snap line|">|vertical snap line|<div class="handle"></div></div>
		<div class="scrollable">
			<div class="designer" data-file-input="background{ordering}" data-height="{ratio_height}" data-size="{font_size}" data-style="background-image: url('http://{backgroundImageUrl}'); background-size: {view_width}px {view_height}px; height: {view_height}px; width: {view_width}px;" data-width="{ratio_width}"></div>
		</div>
	</section>

<!--END-->
</body>
</html>
