<!doctype html>
<html lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Default output template</title>
	<script type="text/javascript" src="js/jquery.js"></script>
	<style type="text/css">
		@import "style/default/style.css";
	</style>
</head>
<body>

<!--BEGIN-->
<div class="window output trashable form" id="{@class}/{@feature}/1">
	<h2>{@class.ucfirst} {display}</h2>
	<div class="general button_bar">
		<!--general_buttons-->
		<a class="button {?class.lower}" href="{link}" target="{?target}">[{caption}]</a>
		<!--general_buttons-->
	</div>
	<div class="fieldset">
		<!--@properties-->
		<div id="{name}" class="field">
			<span class="label trashable">[{display}]</span>
			<span class="edit value">{value}</span>
		</div>
		<!--sample-->
		<div id="first_name" class="field">
			<span class="label trashable">first name</span>
			<span class="edit value">Robert</span>
		</div>
		<div id="last_name" class="field">
			<span class="label trashable">last name</span>
			<span class="edit value">Cheramy</span>
		</div>
		<div id="age" class="field">
			<span class="label trashable">age</span>
			<span class="edit value">35</span>
		</div>
		<!--@properties-->
	</div>
</div>
<!--END-->

</body>
</html>
