<!doctype html>
<html lang="fr">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>
		[{@application.ucwords}] - [{@class.ucfirst}]<!--@top--> {@top}<!--@top--> [{@feature.display}]
	</title>
	<style type="text/css">
		@import "style/default/style.css";
	</style>
</head>

<body>

<div class="Application top">
	[{@application.ucwords}]
</div>
<div class="Application breadcrumb">
	<!--@class--><span class="entry">[{@class.display}]</span><!--@class-->
	<!--@feature--><span class="entry">[{@feature.display}]</span><!--@feature-->
	<!--@top--><span class="entry">{@top}</span><!--@top-->
</div>

<div class="{@class} {@feature}">
	<h2>[{@class.ucfirst} {@feature.display}]</h2>
	{@content}
</div>

</body>
</html>
