<!doctype html>
<html lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<title>SAF Application</title>
	<style type="text/css" media="all">
		@import "style/default/style.css";
	</style>
</head>
<body>

	<!--BEGIN-->
	<div class="fieldset">
		<!--@properties-->
		<div class="field">
			<span class="label">{display}</span>
			<span class="value">{value}</span>
		</div>
		<!--sample-->
		<div class="field">
			<span class="label">first_name</span>
			<span class="value">Robert</span>
		</div>
		<div class="field">
			<span class="label">last_name</span>
			<span class="value">Cheramy</span>
		</div>
		<div class="field">
			<span class="label">age</span>
			<span class="value">35</span>
		</div>
		<!--@properties-->
	</div>
	<!--END-->

</body>
</html>
