<!doctype html>
<html lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Menu output template</title>
	<style type="text/css">
		@import "style/default/style.css";
	</style>
</head>
<body>

<!--BEGIN-->
	<h2>[{title}]</h2>
	<ul class="blocks">
		<!--blocks-->
		<li class="block {color}">
			<h3>[{title}]</h3>
			<ul class="items">
				<!--items-->
				<li class="item trashable"><a href="{link}">[{caption}]</a></li>
				<!--sample-->
				<li class="item trashable"><a href="#">Un autre caption</a></li>
				<li class="item trashable"><a href="#">Et un dernier</a></li>
				<!--items-->
			</ul>
		</li>
		<!--sample-->
		<li class="block green">
			<h3>Ventes</h3>
			<ul class="items">
				<li class="item trashable"><a href="#">Devis</a></li>
				<li class="item trashable"><a href="#">Commandes</a></li>
				<li class="item trashable"><a href="#">Factures</a></li>
			</ul>
		</li>
		<!--blocks-->
	</ul>
<!--END-->

</body>
</html>
