<!doctype html>
<html lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>SAF Application</title>
	<style type="text/css">
		@import "style/default/style.css";
	</style>
</head>
<body>

	<!--BEGIN-->
	<h2>{title}</h2>
	<ul class="blocks">
		<!--blocks-->
		<li>
			<h3>{caption}</h3>
			<ul class="items">
				<!--items-->
				<li>{caption}</li>
				<!--sample-->
				<li>Un autre caption</li>
				<li>Et un dernier</li>
				<!--items-->
			</ul>
		</li>
		<!--sample-->
		<li>
			<h3>Ventes</h3>
			<ul class="items">
				<li>Devis</li>
				<li>Commandes</li>
				<li>Factures</li>
			</ul>
		</li>
		<!--blocks-->
	</ul>
	<!--END-->

</body>
</html>
