<!doctype html>
<html lang="fr">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>User login template</title>
	<style type="text/css">
		@import "style/default/style.css";
	</style>
</head>

<body>

<div class="User login">
	<!--BEGIN-->
	<form name="User_login" action="authenticate" method="post">
		<div class="fieldset">
			<div class="field">
				<span class="label">[login]</span>
				<span class="value"><input name="login"></span>
			</div>
			<div class="field">
				<span class="label">[password]</span>
				<span class="value"><input name="password"></span>
			</div>
		</div>
		<input type="submit" value="login">
	</form>
	<script type="text/javascript"> document.User_login.login.focus(); </script>
	<!--END-->
</div>

</body>
</html>
