<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script src="../../../../vendor/components/jquery/jquery.js"></script>
	<script> path = "../../../../"; </script>
	<script src="../../js/all.js"></script>
	<style> @import "../../skins/default/all.css"; </style>
	<title>|Main menu|</title>
</head>
<body>
<!--BEGIN-->

	<nav id="menu">
		<!--BEGIN:blocks-->
		<h2>
			<a href="app://(title_link)" target="#main">
				{ITRocks\Framework\Application.current.name}
			</a>
		</h2>
		<ul>
			<!--blocks-->
			<li class="{module}">
				<!--title?-->
				<h3>|{title}|</h3>
				<!--end-->
				<ul>
					<!--items-->
					<li>
						<a class="{?class}" data-confirm-cancel="{?cancel_label}" data-confirm-message="{?confirm_message}" data-confirm-ok="{?confirm_label}" href="app://(link)" target="#main">
							|{caption}|
						</a>
					</li>
					<!--sample-->
					<li>
						<a class="{?class}" data-confirm-cancel="{?cancel_label}" data-confirm-message="{?confirm_message}" data-confirm-ok="{?confirm_label}" href="#" target="#main">
							Another caption
						</a>
					</li>
					<li>
						<a class="{?class}" data-confirm-cancel="{?cancel_label}" data-confirm-message="{?confirm_message}" data-confirm-ok="{?confirm_label}" href="#" target="#main">
							The last one
						</a>
					</li>
					<!--end-->
				</ul>
			</li>
			<!--sample-->
			<li class="sales">
				<h3>Sales</h3>
				<ul>
					<li>
						<a class="{?class}" data-confirm-cancel="{?cancel_label}" data-confirm-message="{?confirm_message}" data-confirm-ok="{?confirm_label}" href="#" target="#main">
							Quotes
						</a>
					</li>
					<li>
						<a class="{?class}" data-confirm-cancel="{?cancel_label}" data-confirm-message="{?confirm_message}" data-confirm-ok="{?confirm_label}" href="#" target="#main">
							Orders
						</a>
					</li>
					<li>
						<a class="{?class}" data-confirm-cancel="{?cancel_label}" data-confirm-message="{?confirm_message}" data-confirm-ok="{?confirm_label}" href="#" target="#main">
							Invoices
						</a>
					</li>
				</ul>
			</li>
			<!--end-->
		</ul>
		<!--END:blocks-->
	</nav>

<!--END-->
</body>
</html>
