.ql-snow .ql-picker.ql-header .ql-picker-item:before, .ql-snow .ql-picker.ql-header .ql-picker-label:before {
  color: initial;
  content: 'Texte'; }
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='1']:before, .ql-snow .ql-picker.ql-header .ql-picker-label[data-value='1']:before {
  content: 'Titre 1'; }
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='2']:before, .ql-snow .ql-picker.ql-header .ql-picker-label[data-value='2']:before {
  content: 'Titre 2'; }
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='3']:before, .ql-snow .ql-picker.ql-header .ql-picker-label[data-value='3']:before {
  content: 'Titre 3'; }
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='4']:before, .ql-snow .ql-picker.ql-header .ql-picker-label[data-value='4']:before {
  content: 'Titre 4'; }
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='5']:before, .ql-snow .ql-picker.ql-header .ql-picker-label[data-value='5']:before {
  content: 'Titre 5'; }
