@import 'colors.scss';
@import 'sizes.scss';

li.actions > ul,
ul.actions {
	display: block;
	font-size: 0;
}

li.action,
li.actions > ul > li,
ul.actions > li {
	background-color: #f8f8f8;
	background-position: 1px center;
	background-repeat: no-repeat;
	border: 1px solid #d0d0d0;
	border-radius: 2px;
	box-shadow: 0 0 0 1px #ececec, inset 0 0 0 1px #f5f5f5;
	display: inline-flex;
	height: 26px;
	margin: 5px 6px 5px 4px;

	a {
		display: block;
		font-size: $font-size;
		margin: auto;
		padding: 7px 5px 7px 26px;
		white-space: nowrap;
	}

	> ul {
		display: none;
	}

	&:hover > ul {
		background-color: $background;
		border: $thin-border;
		display: inline-block;
		left: 0;
		position: absolute;
		top: 1em + ($action-vertical-padding * 2);
		z-index: 1;

		> li {
			display: block;
		}
	}
}
