@import 'colors.scss';
@import 'sizes.scss';

button.action {
	background-color: #efefef;
	border: 1px solid #d0d0d0;
	padding: 7px 10px !important;
	position: absolute;

	&:not(:hover) {
		background-image: linear-gradient(to bottom, #f8f8f8 50%, #efefef);
	}
}

//------------------------------------------------------------------------------------------- Style

li.action,
li.actions > ul > li,
ul.actions > li {
	border: 1px solid #d0d0d0;
	border-radius: 2px;
	height: 25px;
	margin: 5px 6px 5px 4px;
	white-space: nowrap;

	&[data-align=center], &[data-align=right] {
		margin-left: auto;
	}

	> a, > ul > li > a {
		background: #f8f8f8 1px center no-repeat;
		box-sizing: border-box;
		display: block;
		height: 100%;
		padding: 6px 10px 6px 26px;

		&:focus, &:hover {
			background-color: #efefef;
			color: #444;
		}
	}

	> ul > li > a {
		padding: 6px 10px;
	}

	> ul > li {
		background-color: white;
		border-left: 1px solid #d8d8d8;
		border-right: 1px solid #d8d8d8;
	}
}

ul.actions:not(.general) > li > ul > li:first-child {
	border-top: 1px solid #d8d8d8;
}

ul.actions:not(.selection) > li > ul > li:last-child {
	border-bottom: 1px solid #d8d8d8;
}

article.list ul.general.actions > li > ul {
	top: 38px;
}

article:not(.list) ul.general.actions {
	border-top: 1px solid #d8d8d8;

	> li > ul {
		padding-top: 6px;
		top: 25px;
	}
}

ul.selection.actions {
	transition: margin-bottom var(--transition-duration) linear;

	&:not(.visible) {
		margin-bottom: -37px;
	}

	&.visible {
		margin-bottom: 0;
	}

	> li > ul {
		border-left: 1px solid #d8d8d8;
		padding-bottom: 6px;
		bottom: 25px;

		> li {
			border-left: none;
		}
	}
}

ol.properties > .action > a,
ul.properties > .action > a {
	border: 1px solid #d8d8d8;
	padding: 9px 10px 9px 26px;
}

.actions > .label,
.actions > .text {
	border: none;
	box-sizing: border-box;
	padding: 7px 0;
}

.actions > .label:after {
	content: ' :';
}

//------------------------------------------------------------------------------------------ Layout

li.actions > ul,
ul.actions {
	background-image: linear-gradient(to bottom, #f8f8f8 50%, #efefef);
	display: flex;
	flex-wrap: wrap;
}

li.action,
li.actions > ul > li,
ul.actions > li {
	display: inline-block;
	position: relative;

	> ul {
		display: inline-block;
		left: -1px;
		position: absolute;
		z-index: 1;

		> li {
			display: block;
		}
	}

	&:not(:hover) > ul {
		display: none;
	}
}
