/* components */
/* features colors and action left button part */
/* modules */
li.actions > ul,
ul.actions {
  display: block; }

li.action,
li.actions > ul > li,
ul.actions > li {
  display: inline-block;
  margin: .3em 0;
  position: relative;
  vertical-align: top;
  white-space: nowrap; }
  li.action > a,
  li.actions > ul > li > a,
  ul.actions > li > a {
    display: inline-block; }
  li.action > ul,
  li.actions > ul > li > ul,
  ul.actions > li > ul {
    display: none; }
  li.action:hover > ul,
  li.actions > ul > li:hover > ul,
  ul.actions > li:hover > ul {
    background-color: #fff;
    border: 1px solid #98989a;
    display: inline-block;
    left: 0;
    position: absolute;
    top: 1.3em;
    z-index: 1; }
    li.action:hover > ul > li,
    li.actions > ul > li:hover > ul > li,
    ul.actions > li:hover > ul > li {
      display: block; }
      li.action:hover > ul > li > a,
      li.actions > ul > li:hover > ul > li > a,
      ul.actions > li:hover > ul > li > a {
        display: block; }
