@import 'colors.scss';
@import 'sizes.scss';

li.actions > ul,
ul.actions {
	display: block;
}

li.action,
li.actions > ul > li,
ul.actions > li {
	display: inline-block;
	margin: $actions-vertical-margin $actions-horizontal-margin;
	position: relative;
	vertical-align: top;

	a {
		display: block;
		padding: $action-vertical-padding $action-horizontal-padding;
		white-space: nowrap;
	}

	> ul {
		display: none;
	}

	&:hover > ul {
		background-color: $background;
		border: $thin-border;
		display: inline-block;
		left: 0;
		position: absolute;
		top: 1em + ($action-vertical-padding * 2);
		z-index: 1;

		> li {
			display: block;
		}
	}
}
