@import 'colors.scss';
@import 'sizes.scss';
@import 'tabs.scss';

article {
	background: #f8f8f8;
	position: relative;

	header {
		background: #efefef;
		border-top: 1px solid #ccc;
		color: #333333;
		position: relative;
		width: 100%;

		> .breadcrumb {
			height: 32px;
			white-space: nowrap;

			> li > a {
				height: 10px;
				padding: 11px .5em;
			}
		}

		> h2 {
			display: inline-block;
			font-weight: $medium;

			&:first-letter {
				text-transform: uppercase;
			}
		}

		> .actions {
			border-top: 1px solid #ccc;
		}

		> .favorites {
			display: inline-block;
			font-size: 0;
			height: 32px;
			position: absolute;
			right: 0;
			top: 0;
			white-space: nowrap;

			> li {
				display: inline-block;
				margin-right: 1px;

				> a {
					@include tab(#efefef);
					background: #d8d8d8;
					font-size: $font-size;
					height: 9px;
					margin-top: 5px;
					padding: 10px .5em;
				}

				&.current > a {
					background: #f8f8f8;
					margin-bottom: -1px;
					padding-bottom: 11px;
				}

				&:not(.current) > a {
					box-shadow: inset 0 -2px 2px -2px rgba(0, 0, 0, .1);
				}
			}
		}
	}

	footer {
		bottom: 0;
		position: absolute;
		width: 100%;
	}

	> form > ul.data, > ul.data {
		border-top: 1px solid #ccc;
	}
}
