@import 'colors.scss';
@import 'sizes.scss';

@import 'colors.scss';

article {

	> h2, > header > h2 {
		padding: $article-head-padding;
	}

	> h2, > header {
		background-color: $window-head-background;
		color: $window-head-color;

		&header > h2 {
			cursor: pointer;
			display: inline-block;
		}
	}

	> p {
		margin: $window-padding 0;
	}

	&:not(.list),
	> form {

		> ul.general.actions {
			border-bottom: $thin-border;
		}
	}
}
