article > h2, article > header > h2 {
  padding: 0.5em; }
  article > h2:first-letter, article > header > h2:first-letter {
    text-transform: uppercase; }
article > h2, article > header {
  background-color: darkgrey;
  color: white; }
  article > h2header > h2, article > headerheader > h2 {
    cursor: pointer;
    display: inline-block; }
article > p, article > section {
  margin: 0.5em; }
article:not(.list) > ul.general.actions,
article > form > ul.general.actions {
  border-bottom: 1px solid lightgrey; }
