article {
  background: #f8f8f8; }
  article > header {
    background: #efefef;
    color: #333333;
    display: table;
    height: 38px;
    width: 100%; }
    article > header > h2 {
      cursor: pointer;
      display: table-cell;
      font-size: 14px;
      font-weight: 500;
      padding-left: .8em;
      vertical-align: middle; }
      article > header > h2:first-letter {
        text-transform: uppercase; }
  article ul.actions {
    position: absolute;
    left: 0; }
