@import 'colors.scss';
@import 'sizes.scss';
@import 'tabs.scss';

article {
	background: #f8f8f8;

	> header {
		background: #efefef;
		color: #333333;
		display: table;
		height: $article-header-height;
		width: 100%;

		> h2 {
			cursor: pointer;
			display: table-cell;
			font-size: 14px;
			font-weight: 500;
			padding-left: .8em;
			vertical-align: middle;

			&:first-letter {
				text-transform: uppercase;
			}
		}
	}

	ul.actions {
		position: absolute;
		left: 0;
	}
}
