body {
  --dark-color: #d8d8d8;
  --light-color: #efefef;
  background: white;
  color: #444;
  font-family: Roboto, sans-serif;
  font-size: 12px; }
  body > .company.logo {
    border-bottom: 2px solid #d8d8d8d8;
    border-right: 2px solid #d8d8d8d8;
    position: relative; }
    body > .company.logo:after {
      border-right: 2px solid #d8d8d8d8;
      border-top: 2px solid #d8d8d8d8;
      border-left: 2px solid transparent;
      border-bottom: 2px solid transparent;
      content: '';
      height: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 0; }
  body > #menu {
    border-right: 2px solid #d8d8d8d8; }

body {
  --z-index: 0;
  display: grid;
  grid-template-areas: "title notifications side" "menu  favorites     side" "menu  main          side";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 64px auto 1fr;
  height: 100vh;
  overflow: hidden; }
  body > .company.logo {
    grid-area: title; }
    body > .company.logo > a {
      display: block;
      height: 100%; }
  body > h1 {
    display: none; }
  body > #menu {
    grid-area: menu; }
  body > #short-menu {
    display: none; }
  body > #notifications {
    grid-area: notifications; }
  body > #favorites {
    grid-area: favorites; }
  body > main {
    grid-area: main;
    overflow: hidden; }
  body > aside {
    display: none;
    grid-area: side; }
  body > .trashcan {
    display: none; }
