@import 'colors.scss';
@import 'sizes.scss';

//------------------------------------------------------------------------------------------- Style

body {
	--dark-color: #d8d8d8;
	--light-color: #efefef;
	--transition-duration: 50ms;
	color: $color;
	font-family: Roboto, sans-serif;
	font-size: $font-size;

	> * {
		background: $background;
	}

	> .company.logo {
		background: #d8d8d8;

		> a {
			border-bottom: $section-border;
			border-right: $section-border;
			border-top-right-radius: 6px;
			box-sizing: border-box;

			&:after {
				border-right: 2px solid $section-border-color;
				border-top: 2px solid $section-border-color;
				border-left: 2px solid transparent;
				border-bottom: 2px solid transparent;
				content: '';
				height: 0;
				position: absolute;
				right: 0;
				top: 0;
				width: 0;
			}
		}
	}

	> #menu,
	> #quick-menu {
		border-right: $section_border;
	}

	> #quick-menu {
		border-top: $section_border;
		z-index: 1;
	}

	.access.denied > .technical {
		display: none;
	}
}

//------------------------------------------------------------------------------------------ Layout

body {
	--z-index: 0;
	display: grid;
	grid-template-areas:
		"title notifications side"
		"menu  favorites     side"
		"menu  main          side"
		"quick main          side";
	grid-template-columns: 256px 1fr min-content;
	grid-template-rows: 64px auto 1fr min-content;
	height: 100vh;
	overflow: hidden;
	transition-duration: var(--transition-duration);

	&[data-inside] {
		grid-template-columns: 0 1fr min-content;
	}

	&.min-left {
		grid-template-columns: 44px 1fr min-content;
	}

	> aside {
		display: none;
		grid-area: side;
	}

	> h1 {
		display: none;
	}

	> main {
		grid-area: main;
		margin-top: -1px;
		overflow: hidden;
	}

	> .company.logo {
		grid-area: title;

		> a {
			display: block;
			height: 100%;
		}
	}

	> #favorites {
		display: none;
		grid-area: favorites;
	}

	> #menu {
		grid-area: menu;
	}

	> #notifications {
		grid-area: notifications;
	}

	> #quick-menu {
		grid-area: quick;
	}

}

