@import 'colors.scss';
@import 'sizes.scss';

//------------------------------------------------------------------------------------------- Style

body {
	--dark-color: #d8d8d8;
	--light-color: #efefef;
	background: $background;
	color: $color;
	font-family: Roboto, sans-serif;
	font-size: $font-size;

	> .company.logo {
		border-bottom: $section-border;
		border-right: $section-border;
		position: relative;

		&:after {
			border-right: 2px solid $section-border-color;
			border-top: 2px solid $section-border-color;
			border-left: 2px solid transparent;
			border-bottom: 2px solid transparent;
			content: '';
			height: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: 0;
		}
	}

	> #menu {
		border-right: $section_border;
	}
}

//------------------------------------------------------------------------------------------ Layout

body {
	--z-index: 0;
	display: grid;
	grid-template-areas:
		"title notifications side"
		"menu  favorites     side"
		"menu  main          side";
	grid-template-columns: auto 1fr auto;
	grid-template-rows: 64px auto 1fr;
	height: 100vh;

	> .company.logo {
		grid-area: title;

		> a {
			display: block;
			height: 100%;
		}
	}

	> h1 {
		display: none;
	}

	> #menu {
		grid-area: menu;
	}

	> #short-menu {
		display: none;
	}

	> #notifications {
		grid-area: notifications;
	}

	> #favorites {
		grid-area: favorites;
	}

	> main {
		grid-area: main;
		overflow: hidden;
	}

	> aside {
		display: none;
		grid-area: side;
	}

	> .trashcan {
		display: none;
	}
}
