@import 'colors.scss';
@import 'sizes.scss';

body {
	--dark-color: #d8d8d8;
	--light-color: #efefef;

	color: $color;
	font-family: Roboto, sans-serif;
	font-size: 0;
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: 100%;

	> * {
		font-size: $font-size !important;
	}

	> .contextual, > .main, > .menu {
		background: $background;
		box-sizing: border-box;
		display: inline-block;
		height: 100%;
		position: relative;
		vertical-align: top;
	}

	> .menu {
		border-right: $section-border;
		width: $menu-width;

		&:after {
			border-right: 2px solid $section-border-color;
			border-top: 2px solid $section-border-color;
			border-left: 2px solid transparent;
			border-bottom: 2px solid transparent;
			content: '';
			height: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: 0;
		}

		> .company.logo {
			border-bottom: $section-border;
			height: 64px;

			> a {
				background: url('img/b-appli.svg') 12px center no-repeat;
				display: block;
				font-size: 0;
				height: 100%;
			}
		}

		> h1 {
			display: none;
		}

		> #short-menu {
			display: none;
			border-top: $section-border;
			bottom: 0;
			position: absolute;
			width: 100%;
		}
	}

	> .main {
		width: $main-width;

		main {
			height: $main-height;
			position: relative;

			> article {
				height: 100%;
			}
		}
	}

	> .contextual {
		display: none;
		border-left: $section-border;
		position: absolute;
		right: 0;
		width: $contextual-width;
	}
}
