article header > ol.breadcrumb {
  display: inline-block; }
  article header > ol.breadcrumb > li:not(:last-child) {
    display: inline-block; }
    article header > ol.breadcrumb > li:not(:last-child).back_link > a {
      background-position: center center;
      background-image: url("img/arrow-back-small-24.svg");
      background-repeat: no-repeat; }
    article header > ol.breadcrumb > li:not(:last-child):not(.back_link):after {
      content: '>'; }
    article header > ol.breadcrumb > li:not(:last-child) > a {
      display: inline-block; }
  article header > ol.breadcrumb > li:last-child {
    display: none; }
