article header > ol.breadcrumb {
	display: inline-block;

	> li:not(:last-child) {
		display: inline-block;

		&.back_link {
			> a {
				background-position: center center;
				background-image: url('img/arrow-back-small-24.svg');
				background-repeat: no-repeat;
			}
		}

		&:not(.back_link):after  {
			content: '>';
		}

		> a {
			display: inline-block;
		}
	}

	> li:last-child {
		display: none;
	}
}
