div.checklist {
	display: table-cell !important;

	> label {
		display: block !important;
		height: auto !important;
	}

	> div {
		position: relative;
		white-space: normal !important;

		> ul {
			border: 1px solid darkgray;
			list-style: none;
			max-height: 9.2em;
			overflow-y: scroll;
		}
	}

}
