div.checklist {
  display: table-cell !important; }
  div.checklist > label {
    display: block !important;
    height: auto !important; }
  div.checklist > div {
    position: relative;
    white-space: normal !important; }
    div.checklist > div > ul {
      border: 1px solid darkgray;
      list-style: none;
      max-height: 9.2em;
      overflow-y: scroll; }
