@import 'sizes.scss';

// html components

$background: white;
$color: #444;
$medium: 500;

$input-background: white;
$input-border-color: #d8d8d8;
$input-border: $input_border_size solid $input-border-color;

// sections

$section-border-color: #d8d8d8;
$section-border: $section-border-size solid $section-border-color;

// menu section

$menu-module-background: #f8f8f8;

// Framework colors
$brown-grey: #999999;
$browned-grey: #666666;
$ocean-blue: #0076b3;
$very-light-pink-four: #e8e8e8;
$very-light-pink-six: #cccccc;
$very-light-pink-three: #efefef;
$white-two: #f8f8f8;
$azure: #009def;

// Functional

$pale-two: #f9d4d4;
$light-mint: #b9f2bf;
$very-light-pink-eight: #ffe9e0;
