$background: white;
$color: #444;

$action-focus-background: #aedc5f;
$action-focus-color: white;

$action-zone-background: #dff;

$edit-focus-background: #eee;
$edit-focus-color: $color;

$error-border-color: darkred;

$head-background: lightgrey;
$head-color: $color;

$line-even: white;
$line-odd: #def; // #eef;

$list-border: 1px solid darkgrey;

$separator-color: #ddd;

$thin-border: 1px solid lightgray;
$thin-border-top: 1px solid transparent;

$window-head-background: darkgrey;
$window-head-color: white;
