button.more {
  background-image: url("img/input-combo.png");
  top: 5px; }

.ui-autocomplete {
  max-height: 286px;
  overflow: hidden auto;
  white-space: nowrap; }

.ui-state-active {
  background: black !important;
  color: white !important; }
