@import 'colors.scss';
@import 'sizes.scss';

button.more {
	background-image: url('img/input-combo.png');
}

.ui-state-active {
	background: $action-focus-background !important;
	color: $action-focus-color !important;
}
