@import 'colors.scss';

.component-objects > div > ul > li {

	> ol > li {

		> input, > select, > textarea {
			background: transparent;
			border: none !important;
			color: black;
			width: calc(100% - 4px);
		}

		&.float,
		&.float > div > input,
		&.integer,
		&.integer > div > input {
			text-align: right;
		}
	}
}
