.company.logo > a {
  background: white url("img/itrocks.svg") 36px 6px no-repeat;
  background-size: auto 50px;
  font-size: 0;
  transition-duration: var(--transition-duration); }

@media screen and (min-width: 470px) {
  body.min-left .company.logo > a {
    background: white url("img/itr.svg") 2px 12px no-repeat;
    background-size: auto 40px; } }
