ul.custom.select {
  background: white;
  border: solid #d0d0d0;
  border-width: 1px 2px 2px 1px;
  box-shadow: 5px 0 5px -3px rgba(216, 216, 216, 0.4), 0 5px 5px -3px rgba(216, 216, 216, 0.4);
  display: none;
  left: -1px;
  position: absolute;
  z-index: calc(var(--z-index) + 2); }
  ul.custom.select > li {
    display: block; }
    ul.custom.select > li > a {
      display: block;
      padding: 10px; }
      ul.custom.select > li > a:hover {
        background: var(--light-color); }
    ul.custom.select > li.default {
      font-weight: 500; }

.custom.helper.select {
  background: white;
  border: 1px solid #d0d0d0;
  box-shadow: 0 0 3px 3px rgba(216, 216, 216, 0.4);
  padding: 10px;
  position: relative; }
  .custom.helper.select.outside:before {
    background: url("img/delete-24-red.svg") center no-repeat;
    content: '';
    height: 32px;
    left: -32px;
    position: absolute;
    top: 0;
    width: 32px; }
