@import 'colors.scss';

article > header {
	position: relative;

	> .custom {
		display: none;
	}

	> input {
		background: white;
		border-style: none;
		display: none;
		height: 20px;
		margin-left: .5em;
		padding: 1px 2px;
		position: absolute;
		z-index: 1;
	}

	> span {
		cursor: pointer;
	}

	> ul.custom.actions {
		margin: 0;
		padding-left: .5em;

		> li {
			box-shadow: none;
			line-height: 19px;

			> a {
				border-style: none;
				box-shadow: none;
				color: transparent;
				font-size: 1px;
				height: 16px;
				padding: 1px;
				vertical-align: top;
				width: 16px;

				&:hover:before {
					opacity: .66;
				}
			}

			&.custom_save > a {
				background: url('img/floppy.png') center no-repeat;

				&:hover {
					background: none;
				}

				&:hover:before {
					content: url('img/floppy.png');
				}
			}
		}
	}

	&:hover > ul.custom.actions {
		display: inline-block;
	}

	ul.custom.selection {
		border: 1px solid $border_color;
		border-radius: 3px;
		background: white;
		padding-bottom: .3em;
		position: absolute;
		z-index: 1;

		> li {
			list-style: none;
			margin: 0;

			&:first-child > a {
				font-weight: bold;
			}

			&.selected {
				background: $selected;
			}

			&:hover {
				background: $hover;
			}

			> a {
				color: $black;
				display: block;
				font-weight: normal;
				padding: 0 .5em;
				text-decoration: none;
			}
		}
	}
}

.window label > a {
	color: inherit;
	font-weight: inherit;
	text-decoration: none;
}
