/* components */
/* features colors and action left button part */
/* modules */
article > header {
  position: relative; }
  article > header > .custom {
    display: none; }
  article > header > input {
    background: white;
    border-style: none;
    display: none;
    height: 20px;
    margin-left: .5em;
    padding: 1px 2px;
    position: absolute;
    z-index: 1; }
  article > header > span {
    cursor: pointer; }
  article > header > ul.custom.actions {
    margin: 0;
    padding-left: .5em; }
    article > header > ul.custom.actions > li {
      box-shadow: none;
      line-height: 19px; }
      article > header > ul.custom.actions > li > a {
        border-style: none;
        box-shadow: none;
        color: transparent;
        font-size: 1px;
        height: 16px;
        padding: 1px;
        vertical-align: top;
        width: 16px; }
        article > header > ul.custom.actions > li > a:hover:before {
          opacity: .66; }
      article > header > ul.custom.actions > li.custom_save > a {
        background: url("img/floppy.png") center no-repeat; }
        article > header > ul.custom.actions > li.custom_save > a:hover {
          background: none; }
        article > header > ul.custom.actions > li.custom_save > a:hover:before {
          content: url("img/floppy.png"); }
  article > header:hover > ul.custom.actions {
    display: inline-block; }
  article > header ul.custom.selection {
    border: 1px solid #333;
    border-radius: 3px;
    background: white;
    padding-bottom: .3em;
    position: absolute;
    z-index: 1; }
    article > header ul.custom.selection > li {
      list-style: none;
      margin: 0; }
      article > header ul.custom.selection > li:first-child > a {
        font-weight: bold; }
      article > header ul.custom.selection > li.selected {
        background: #cef37f; }
      article > header ul.custom.selection > li:hover {
        background: #aedc5f; }
      article > header ul.custom.selection > li > a {
        color: #222;
        display: block;
        font-weight: normal;
        padding: 0 .5em;
        text-decoration: none; }

.window label > a {
  color: inherit;
  font-weight: inherit;
  text-decoration: none; }
