@import 'colors.scss';

article header {
	font-size: 0;

	> * {
		font-size: $font-size;
	}

	> .breadcrumb {
		vertical-align: top;
	}

	> h2.editing {
		padding: 0;

		> input {
			left: 4px;
			position: relative;
		}
	}

	ul.custom.select {
		background: white;
		border: solid #d0d0d0;
		border-width: 1px 2px 2px 1px;
		box-shadow: 5px 0 5px -3px rgba(216, 216, 216, .4),
		0 5px 5px -3px rgba(216, 216, 216, .4);
		display: none;
		left: -1px;
		position: absolute;
		z-index: calc(var(--z-index) + 2);

		> li {
			display: block;

			> a {
				display: block;
				padding: 10px;

				&:hover {
					background: var(--light-color);
				}
			}

			&.default {
				font-weight: $medium;
			}
		}
	}

}

.custom.helper.select {
	background: white;
	border: 1px solid #d0d0d0;
	box-shadow: 0 0 3px 3px rgba(216, 216, 216, .4);
	padding: 10px;
	position: relative;

	&.outside:before {
		background: url('img/delete-24-red.svg') center no-repeat;
		content: '';
		height: 32px;
		left: -32px;
		position: absolute;
		top: 0;
		width: 32px;
	}
}
