@import 'colors.scss';
@import 'sizes.scss';

article > header {
	position: relative;

	> div.custom {
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;

		> :not(.actions) {
			display: none;

			&.name > label {
				display: none;
			}
		}

		> .actions {
			display: inline-block;
			position: absolute;
			right: 0;

			> li {
				margin: 1px;

				&.custom_save > a {
					font-size: 0;
					height: $article-head-height - 2px;
					width: $article-head-height - 2px;
				}
			}
		}

		> .name {
			position: absolute;
			right: $article-head-height + 3px;
			top: 3px;
		}

		> .select {
			background: $background;
			color: $color;
			border: $thin-border;
			margin: ($article-head-padding - $action-vertical-padding) ($article-head-padding - $action-horizontal-padding);

			> li {
				display: block;

				&.default {
					font-weight: bold;
				}

				> a {
					display: block;
					padding: $action-vertical-padding $action-horizontal-padding;
				}
			}
		}
	}

	&:hover > div.custom > .actions > li.custom_save > a {
		background: url('../default/img/floppy.png') center no-repeat;

		&:hover {
			background-color: white;
		}
	}

}
