@import 'sizes.scss';

article.dashboard .row {
	font-size: 0;

	> li {
		font-size: $font-size;

		&.free {
			border-color: transparent;

			&.ui-droppable-hover {
				background: #ddd;
			}
		}
	}
}

article.dashboard .free, article.dashboard .indicator, .dashboard.indicator.ui-draggable-dragging {
	border: 1px solid #ddd;
	display: inline-block;
	height: 64px;
	margin: 8px 0 0 8px;
	vertical-align: top;
	width: 166px;

	&.indicator {
		background: #f8f8f8;

		&.ui-draggable-dragging {
			display: inline-block;
			opacity: .9;
			position: absolute;
			z-index: 1;
		}

		a {
			display: grid;
			grid-template-areas: 'image text' 'value value';
			grid-template-columns: 32px auto;
			grid-template-rows: 32px auto;
			height: 64px;
			width: 166px;

			&:hover {
				background: #efefef;
			}

			img {
				grid-area: image;
				width: 32px;
			}

			.text {
				grid-area: text;
				margin: auto auto;
			}

			.value {
				font-size: 200%;
				grid-area: value;
				text-align: center;
			}
		}
	}
}

#notifications > .drop_on > .dashboard {
	background-image: url('img/dashboard-add-24.svg');
}
