@import 'sizes.scss';

button.ui-datepicker-trigger {
	background-image: url('../default/img/input_datetime.png');
	top: 5px;
}

.ui-datepicker td.ui-datepicker-week-col {
	text-align: center;
}

input.datetime {

	&.show-seconds {
		width: 136px;
	}

	&.show-time:not(.show-seconds) {
		width: 118px;
	}
}

li.date_time.object {

	&:not(.show-seconds):not(.show-time) input.datetime {
		width: 102px;
	}

	&.show-seconds input.datetime {
		width: 156px;
	}

	&.show-time:not(.show-seconds) input.datetime {
		width: 138px;
	}
}
