
article > form {
	background-color: #efefef;

	.properties > li {

		> div > span {

			&.set {
				display: inline-block;
				max-width: 360px;
				vertical-align: top;

				label {
					white-space: nowrap;

					&:not(:last-child) {
						margin-right: 10px;
					}
				}
			}
		}

		&.required > label:after {
			content: '*';
			padding-left: 2px;
			position: absolute;
		}
	}


	input + .unit, select + .unit,
	li.value[data-property] {
		padding: 8px;
	}
}
