
article > form {
	background-color: #efefef;
}

article > form > ul.data ol.properties > li {

	&.float > div > input,
	&.integer > div > input {
		text-align: right;
	}

	> div > span {

		&.set {
			display: inline-block;
			vertical-align: top;
		}
	}

	&.required > label:after {
		content: '*';
		padding-left: 2px;
		position: absolute;
	}

	&.component-objects > label,
	&.objects > label {
		cursor: pointer;

		&:after {
			content: '+';
			padding-right: .5em;
			position: absolute;
			right: 0;
		}
	}
}
