#favorites {
  background: #fefefe;
  display: flex;
  height: 28px;
  white-space: nowrap; }
  #favorites > li {
    border-top-left-radius: 4px;
    background-color: #d8d8d8;
    margin-right: 1px;
    position: relative; }
    #favorites > li:after {
      border-right: 3px solid #fefefe;
      border-top: 3px solid #fefefe;
      border-left: 4px solid transparent;
      border-bottom: 4px solid transparent;
      content: '';
      height: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 0; }
    #favorites > li > a {
      display: block;
      height: 100%;
      padding: 8px 12px 0; }
    #favorites > li.add {
      background: #d8d8d8 url("img/favorite-24.svg") center no-repeat;
      display: none;
      font-size: 0;
      margin-left: auto;
      width: 28px; }
      #favorites > li.add > a {
        box-sizing: border-box;
        height: 100%;
        width: 100%; }
    #favorites > li.current {
      background: var(--dark-color);
      color: white;
      margin-bottom: -1px;
      z-index: 1; }
    #favorites > li.recent {
      background: #efefef; }

article .favorites > .add {
  display: none !important; }
