@import 'sizes.scss';
@import 'tabs.scss';

div.main > .favorites {
	background: #fefefe;
	font-size: 0;
	white-space: nowrap;

	> li {
		border-bottom: 1px solid #ccc;
		margin-right: 1px;

		> a {
			display: inline-block;
		}

		&:not(.add) {
			@include tab(#fefefe, #04b497);
			background: #d8d8d8;
			font-size: $font-size;

			> a {
				padding: 8px 12px 7px;
			}
		}

		&.add {
			@include tab(#fefefe);
			background: #d8d8d8 url('img/favorite-24.svg') center no-repeat;
			position: absolute;
			right: 0;

			> a {
				box-sizing: border-box;
				height: 27px;
				width: 27px;
			}
		}

		&.current {
			background: #04b497;
			border-bottom: 1px solid #68d2c1;
			color: white;
		}

		&.recent {
			background: #efefef;
		}
	}
}

ul.favorites > li.add {
	display: none !important;
}
