div.main > .favorites {
  background: #fefefe;
  font-size: 0;
  white-space: nowrap; }
  div.main > .favorites > li {
    border-bottom: 1px solid #ccc;
    margin-right: 1px; }
    div.main > .favorites > li > a {
      display: inline-block; }
    div.main > .favorites > li:not(.add) {
      border-top-left-radius: 4px;
      display: inline-block;
      position: relative;
      background: #d8d8d8;
      font-size: 12px; }
      div.main > .favorites > li:not(.add):after {
        border-right: 3px solid #fefefe;
        border-top: 3px solid #fefefe;
        border-left: 4px solid transparent;
        border-bottom: 4px solid transparent;
        content: '';
        height: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 0; }
      div.main > .favorites > li:not(.add) > a {
        padding: 8px 12px 7px; }
    div.main > .favorites > li.add {
      border-top-left-radius: 4px;
      display: inline-block;
      position: relative;
      background: #d8d8d8 url("img/favorite-24.svg") center no-repeat;
      position: absolute;
      right: 0; }
      div.main > .favorites > li.add:after {
        border-right: 3px solid #fefefe;
        border-top: 3px solid #fefefe;
        border-left: 4px solid transparent;
        border-bottom: 4px solid transparent;
        content: '';
        height: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 0; }
      div.main > .favorites > li.add > a {
        box-sizing: border-box;
        height: 27px;
        width: 27px; }
    div.main > .favorites > li.current {
      color: white;
      margin-bottom: -1px;
      z-index: 1; }
    div.main > .favorites > li.recent {
      background: #efefef; }

ul.favorites > li.add {
  display: none !important; }
