
li.action,
li.actions > ul > li,
ul.actions > li {

	&.add > a {
		background-image: url('img/add-24.svg');
	}

	&.delete > a {
		background-image: url('img/delete-24.svg');
	}

	&.export > a {
		background-image: url('img/export-24.svg');
	}

	&.import > a {
		background-image: url('img/import-24.svg');
	}

	&.print > a {
		background-image: url('img/print-24.svg');
	}

}
