
li.action,
li.actions > ul > li,
ul.actions > li {

	&.add > a {
		background-image: url('img/add-24.svg');
	}

	&.add-small > a {
		background-image: url('img/add-small-24.svg');
		font-size: 0;
		padding-left: 16px;
	}

	&.archive > a {
		background-image: url('img/archive-24.svg');
	}

	&.back > a {
		background-image: url('img/back-24.svg');
	}

	&.close > a {
		background-image: url('img/close-24.svg');
	}

	&.close-small > a {
		background-image: url('img/close-small-24.svg');
		font-size: 0;
		padding-left: 16px;
	}

	&.confirm > a {
		background-image: url('img/valid-24.svg');
	}

	&.delete > a {
		background-image: url('img/delete-24.svg');
	}

	&.duplicate > a {
		background-image: url('img/duplicate-24.svg');
	}

	&.edit > a {
		background-image: url('img/edit-24.svg');
	}

	&.email > a {
		background-image: url('img/email-24.svg');
	}

	&.export > a {
		background-image: url('img/export-24.svg');
	}

	&.fileexport > a {
		background-image: url('img/export-24.svg');
	}

	&.import > a {
		background-image: url('img/import-24.svg');
	}

	&.install > a {
		background-image: url('img/install-24.svg');
	}

	&.lock > a {
		background-image: url('img/lock-24.svg');
	}

	&.merge > a {
		background-image: url('img/merge-24.svg');
	}

	&.outputnext > a {
		background-image: url('img/next-16.svg');
		font-size: 0;
		padding-left: 8px;
	}

	&.outputprevious > a {
		background-image: url('img/previous-16.svg');
		font-size: 0;
		padding-left: 8px;
	}

	&.print > a {
		background-image: url('img/print-24.svg');
	}

	&.save > a {
		background-image: url('img/save-24.svg');
	}

	&.send > a {
		background-image: url('img/email-24.svg');
	}

	&.uninstall > a {
		background-image: url('img/uninstall-24.svg');
	}

	&.unlock > a {
		background-image: url('img/unlock-24.svg');
	}
}

.merge.confirm.message .actions > .confirm > a {
	background-image: url('img/merge-24.svg');
}
