article > form > ul.data li.file.object > div {
	background: url('img/upload.svg') left center no-repeat;
	background-size: 22px;
	cursor: pointer;
	min-width: 26px;
	padding-left: 26px;

	> a {
		margin-left: 28px;
	}

	> input[type=file] {
		display: none;
	}
}
