article > form > ul.data li.file.object > div,
article > form > ul.data .component-objects > ul > li.data > ol > .file,
article > form > ul.data li[class~="attachment[]"] li[class~="attachment[]"] > div,
article > form > ul.data li[class~="file[]"] li[class~="file[]"] > div {
	background: url('img/upload.svg') left center no-repeat;
	background-size: 22px;
	cursor: pointer;
	min-width: 26px;
	padding-left: 26px;

	> a, > span {
		display: inline-block;
		height: 22px;
		padding-top: 8px;

		> span {
			margin-left: .5em;
		}
	}

	> input[type=file] {
		display: none;
	}
}
