article > form > ul.data li.file.object > div {
  background: url("img/upload.svg") left top no-repeat;
  background-size: 22px;
  cursor: pointer;
  padding-left: 26px; }
  article > form > ul.data li.file.object > div > input[type=file] {
    display: none; }
