form li.class {
  position: relative; }
form ol.properties > li > div > ul > li:not(:last-child) > ol > li {
  border-bottom: 1px solid lightgray; }
form ol.properties > li > div > ul > li > ol > li:not(:last-child) {
  border-right: 1px solid lightgray; }
form ol.properties > li > div > ul > li > ol > li.minus {
  cursor: pointer;
  text-align: center;
  width: 18px; }
  form ol.properties > li > div > ul > li > ol > li.minus:hover {
    background: #aedc5f;
    color: white; }
form ol.properties > li > div > ul > li > ol > li > input, form ol.properties > li > div > ul > li > ol > li > select, form ol.properties > li > div > ul > li > ol > li > textarea {
  background: transparent;
  border: none !important;
  width: 100%; }
