@import 'colors.scss';
@import 'sizes.scss';

form {

	li.class {
		position: relative;
	}

	ol.properties > li > div > ul > li {

		&:not(:last-child) > ol > li {
			border-bottom: $thin-border;
		}

		> ol > li {

			&:not(:last-child) {
				border-right: $thin-border;
			}

			&.minus {
				cursor: pointer;
				text-align: center;
				width: $font-size;

				&:hover {
					background: $action-focus-background;
					color: $action-focus-color;
				}
			}

			> input, > select, > textarea {
				background: transparent;
				border: none !important;
				width: 100%;
			}
		}
	}
}
