@import "colors.scss";

input:not([type=button]):not([type=checkbox]):not([type=hidden]):not([type=file]):not([type=submit]):not(.customized),
select,
textarea {
	background-color: white;
	border: 1px solid #a3a3a3;
	border-radius: 2px;
	font-size: 12px;
	line-height: 14px;
	margin: 2px 0;

	& select {
		height: 22px;
	}

	&:not(select) {
		height: 18px;
		padding: 1px 2px;
	}

	&[readonly] {
		background: none;
		border: none;
		overflow: visible !important;
		resize: none;
	}
}

input[type=checkbox] {
	margin-left: 0;
}

/* datetime input */

div.date_time,
td.date_time {
	position: relative;

	.ui-datepicker-trigger {
		background: url("img/input_datetime.png") center no-repeat;
		border: none;
		color: transparent;
		cursor: pointer;
		font-size: 1px;
		height: 21px;
		margin-left: -22px !important;
		position: absolute;
		top: 2px;
		width: 22px;
	}

}

td.date_time .ui-datepicker-trigger {
	height: 20px;
	top: 0;
}

div.dtp--datetimepicker {
	box-sizing: initial !important;
	max-width: initial !important;
	text-rendering: initial !important;

	> .dtp--container {
		border: initial !important;
		border-radius: initial !important;
		display: initial !important;
		flex: initial !important;
		flex-direction: initial !important;
		justify-content: initial !important;
		position: initial !important;

		&:not(:first-child) {
			margin-left: -15px;
		}

		> input.dtp--date {
			flex: initial !important;
			max-width: initial !important;
			text-align: initial !important;
			text-transform: lowercase;
			width: 86px;
		}

		> input.dtp--time {
			flex: initial !important;
			max-width: initial !important;
			text-align: initial !important;
			width: 52px;
		}

		> .icon {
			left: -17px;
			position: relative;
			top: 3px;
		}
	}
}

/* combo list TODO confirm */

.ui-state-active {
	background: $selected !important;
}

.ui-autocomplete {
	max-height: 230px;
	overflow-y: scroll;
}

/* float / integer input / display */

.float,
.integer {

	> input {
		text-align: right;
	}
}

/* combo input */

div.class,
td.class {
	position: relative;

	> input.combo {

		& ~ .ui-helper-hidden-accessible {
			display: none;
		}

		& ~ a,
		& ~ button {
			color: transparent;
			height: 24px;
			font-size: 1px;
			width: 22px;

			&.more {
				background: url("img/input_combo.png") center no-repeat;
				border: none;
				cursor: pointer;
				height: 22px;
				margin-left: -14px !important;
				position: absolute;
				top: 2px;
				width: 14px;
			}
		}
	}
}

td.class > input.combo {
	& ~ a.more,
	& ~ button.more {
		height: 20px;
		right: 0;
		top: 0;
	}
}

/* fieldset */

fieldset {

	> div.hidden {
		display: none;
	}

	> div:not(.hidden):not(.tabber):not([class*=before-]) {
		display: table-row;

		> div,
		> label {
			display: table-cell;
			white-space: pre-line;

			> :not(pre):not(textarea) {
				white-space: initial;
			}

			> span.unit {
				height: 18px;
				margin-left: .3em;
				vertical-align: middle;
			}
		}

		/* standard field */
		&:not(.multiple) {

			&:hover {
				background-color: $field_hover;
			}

			> label {
				font-weight: bold;
				height: 24px;
				vertical-align: middle;
				white-space: nowrap;

				&:after {
					content: " :";
					margin-right: .5em;
				}
			}

			> div {
				height: 24px;
				vertical-align: middle;
			}
		}

		/* columns */
		&.columns {
			display: block;
			width: 100%;

			> .column {
				vertical-align: top;

				&:not(:first-child) {
					margin-left: 4px;
				}

				&:not(:last-child) {
					float: left;
				}

				&:last-child {
					float: right;

					fieldset {
						display: inline-block;
					}
				}
			}
		}

		/* multiple field */
		&.multiple {
			border: lightgrey 1px solid;
			caption-side: bottom;
			display: block;

			> * {
				display: block;
				padding: 3px;
			}

			> label {
				background-color: #e9ede7;
				height: 14px;
				font-weight: bold;
				white-space: nowrap;
			}

			table.collection, table.map {

				> thead > tr > th {
					padding: 1px 2px;
					white-space: nowrap;
				}

				> tbody > tr {

					&:hover {
						background-color: $field_hover;
					}

					> td {
						padding: 1px 5px 0 0;
						white-space: nowrap;

						> div.dtp--datetimepicker {
							margin-right: -6px;

							input.dtp--date {
								margin-top: -2px;
								vertical-align: top;
							}
						}

						> input:not([type=file]),
						> textarea {
							height: 18px;
							margin-top: -2px;
							vertical-align: top;
							width: 100%;
						}

						> select {
							height: 22px;
							margin: -2px -6px -2px 0;
							vertical-align: top;
						}

						> textarea {
							height: 15px;
							padding-top: 4px;
						}

						&.minus {
							background: url("img/remove_row.png") right 3px no-repeat;
							color: transparent;
							cursor: pointer;
							max-width: 16px;
							min-width: 16px;
							width: 16px;
						}

						&.multiple > ul {
							margin-left: .5em;
							padding-left: 1em;
						}
					}
				}
			}
		}

	}

	/* block fieldset */
	&.block {
		border: 1px solid #a3a3a3;
		border-radius: 4px;
		padding: 0 .25em;

		> legend {
			color: #202020;
			font-size: 14px;
			margin-left: .25em;
			padding: 0 .25em;
			white-space: nowrap;
		}
	}

}

form fieldset div span.unit {
	padding-top: 1px;
}

/* main tabber */

form > fieldset:not(:last-child) > .tabber {
	border-bottom: 1px solid #575757;
	padding-bottom: 2px;
}
