form.edit.window table.collection > thead > tr > th.no-autowidth {
  color: transparent;
  font-size: 1px;
  width: 20px; }
form.edit.window td.ordering {
  background: transparent url("img/moveable-clear.png") center no-repeat;
  cursor: ns-resize;
  width: 20px; }
  form.edit.window td.ordering:hover {
    background-image: url("img/moveable.png"); }
