.integer[data-property=ordering] {
  font-size: 0;
}

article > form ul > li.ui-draggable.ui-draggable-dragging,
article > form ul > tbody > tr.ui-draggable.ui-draggable-dragging, article > form ol > li.ui-draggable.ui-draggable-dragging,
article > form ol > tbody > tr.ui-draggable.ui-draggable-dragging, article > form table > li.ui-draggable.ui-draggable-dragging,
article > form table > tbody > tr.ui-draggable.ui-draggable-dragging {
  z-index: 999;
}
article > form ul > li.ui-draggable .integer[data-property=ordering],
article > form ul > tbody > tr.ui-draggable .integer[data-property=ordering], article > form ol > li.ui-draggable .integer[data-property=ordering],
article > form ol > tbody > tr.ui-draggable .integer[data-property=ordering], article > form table > li.ui-draggable .integer[data-property=ordering],
article > form table > tbody > tr.ui-draggable .integer[data-property=ordering] {
  background: url("img/drag-handle-16.svg") center no-repeat;
  cursor: ns-resize;
  width: 4px;
}
article > form ul > li.ui-draggable .integer[data-property=ordering] > input,
article > form ul > tbody > tr.ui-draggable .integer[data-property=ordering] > input, article > form ol > li.ui-draggable .integer[data-property=ordering] > input,
article > form ol > tbody > tr.ui-draggable .integer[data-property=ordering] > input, article > form table > li.ui-draggable .integer[data-property=ordering] > input,
article > form table > tbody > tr.ui-draggable .integer[data-property=ordering] > input {
  display: none;
}
