
.integer[data-property=ordering] {
	font-size: 0;
}

article > form {

	ul, ol, table {

		> li.ui-draggable,
		> tbody > tr.ui-draggable {

			&.ui-draggable-dragging {
				z-index: 999;
			}

			.integer[data-property=ordering] {
				background: url('img/drag-handle-16.svg') center no-repeat;
				cursor: ns-resize;
				width: 4px;

				> input {
					display: none;
				}
			}
		}
	}
}
