
ul.component-objects,
ol.component-objects,
table.component-objects,
.component-objects > ul,
.component-objects > ol,
.component-objects > table {

	> .head,
	> thead {
		> * > [data-property=ordering] {
			font-size: 0;
			width: 4px;
		}
	}

	> :not(.head):not(thead) {

		> .ui-draggable-dragging {
			z-index: 999;
		}

		> * > [data-property=ordering] {
			background: url('img/drag-handle-16.svg') center no-repeat;
			cursor: ns-resize;

			> input {
				display: none;
			}
		}
	}
}
