@import 'colors.scss';
@import 'sizes.scss';

a {
	color: inherit;
	text-decoration: inherit;

	&:hover {
		background-color: $action-focus-background;
		color: $action-focus-color;
	}
}

button,
input[type=submit] {
	background: none;
	border: none;
	cursor: pointer;
	font-size: inherit;
	margin: $actions-vertical-margin $actions-horizontal-margin !important;
	padding: $action-vertical-padding $action-horizontal-padding !important;
	white-space: nowrap;

	&:hover {
		background-color: $action-focus-background;
		color: $action-focus-color;
	}
}

input, select, textarea {
	padding: 2px;
}

input:not([type=submit]), select, textarea {
	background-color: $background;
	border: none;
	font-size: 1em;

	&:not([readonly]) {
		border-bottom: $thin-border;

		&:focus {
			background-color: $edit-focus-background;
			color: $edit-focus-color;
		}

		&:hover {
			background-color: $action-focus-background;
			color: $action-focus-color;
		}
	}
}

table {
	margin: .5em 0;

	tr {

		&:nth-child(even) {
			background: #ececec;
		}

		&:nth-child(odd) {
			background: #dedede;
		}

		td, th {
			border: 1px solid white;
			padding: $list-vertical-padding $list-horizontal-padding;
		}

		th {
			background: $action-focus-background;
			color: $action-focus-color;
		}
	}
}

div.popup {
	background-color: $background;
	border: 1px solid $action-focus-background;
	color: $color;
	position: fixed;
	z-index: 1;

	> article > header {
		cursor: pointer;
		margin: -1px;
	}
}

.auto-redirect {
	display: none;
}

.hidden {
	display: none;
}
