a {
  color: inherit;
  text-decoration: inherit; }

button,
input[type=button],
input[type=submit] {
  background: none;
  border: none;
  cursor: pointer;
  white-space: nowrap; }

iframe {
  height: 300px;
  width: 100%; }

div.popup {
  background-color: white;
  color: #444;
  position: fixed;
  z-index: calc(var(--z-index) + 5); }
  div.popup > article > header {
    cursor: pointer;
    margin: -1px; }

a.auto-redirect, button.auto-refresh {
  display: none; }

.hidden {
  display: none; }
