@import 'colors.scss';
@import 'sizes.scss';

a {
	color: inherit;
	text-decoration: inherit;

	&:hover {
		background-color: $action-focus-background;
		color: $action-focus-color;
	}
}

button,
input[type=button],
input[type=submit] {
	background: none;
	border: none;
	cursor: pointer;
	white-space: nowrap;
}

iframe {
	height: 300px;
	width: 100%;
}

div.popup {
	background-color: $background;
	border: 1px solid $action-focus-background;
	color: $color;
	position: fixed;
	z-index: 1;

	> article > header {
		cursor: pointer;
		margin: -1px;
	}
}

a.auto-redirect, button.auto-refresh {
	display: none;
}

.hidden {
	display: none;
}
