.entry.output.window {

	fieldset {

		> div[id^="data."] > div {
			white-space: pre;
		}

		> div#sql > div {
			display: block;
			height: 191px;
			line-height: 8px;
			overflow-y: scroll;
			padding-top: 1px;
			white-space: pre;
		}
	}

	pre {
		line-height: 8px;
	}
}
