article.import section.preview li.block > .constants {
  display: none; }
article.import section.preview li.block > section > h3 {
  display: none; }
article.import section.preview li.block > section > ul {
  display: inline-block; }
  article.import section.preview li.block > section > ul[data-empty]:empty:after {
    content: "(" attr(data-empty) ")";
    font-style: italic; }
  article.import section.preview li.block > section > ul > li {
    cursor: pointer;
    display: inline-block; }
    article.import section.preview li.block > section > ul > li:not(:last-child):after {
      content: ',';
      margin-right: .25em; }
article.import section.preview li.block > section.identify li {
  background-color: green;
  color: white; }
article.import section.preview li.block > section.ignore li {
  background-color: #eee;
  color: red; }
article.import section.preview li.block > section.save li {
  background-color: blue;
  color: white; }
