article.import > .data {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  overflow: hidden; }

article.import section.preview {
  overflow: auto; }
  article.import section.preview li.block > .constants {
    display: none; }
  article.import section.preview li.block > section {
    min-height: 24px; }
    article.import section.preview li.block > section:not(.none) {
      padding-top: 6px; }
    article.import section.preview li.block > section > h3 {
      display: none; }
    article.import section.preview li.block > section > ul {
      display: inline-block; }
      article.import section.preview li.block > section > ul[data-empty]:empty:after {
        content: "(" attr(data-empty) ")";
        font-style: italic; }
      article.import section.preview li.block > section > ul > li {
        cursor: pointer;
        display: inline-block;
        min-height: 16px;
        padding-top: 4px;
        vertical-align: middle; }
        article.import section.preview li.block > section > ul > li:first-child {
          padding-left: 4px; }
        article.import section.preview li.block > section > ul > li:last-child {
          padding-right: 4px; }
        article.import section.preview li.block > section > ul > li:not(:last-child):after {
          content: ',';
          margin-right: .25em; }
    article.import section.preview li.block > section.identify li {
      background-color: green;
      color: white; }
    article.import section.preview li.block > section.ignore li {
      background-color: #eee;
      color: red; }
    article.import section.preview li.block > section.write li {
      background-color: blue;
      color: white; }
  article.import section.preview table {
    margin: 10px; }
    article.import section.preview table th {
      background: #d8d8d8; }
    article.import section.preview table th, article.import section.preview table td {
      border: 1px solid #444;
      padding: 4px; }
