@import 'colors.scss';
@import 'sizes.scss';

article.import.preview > form > .data {

	.classes {
		list-style: none;
	}

	.block {
		border-bottom: 1px solid #d8d8d8;
		padding: 6px 10px;

		> h3 {
			margin: 1em 0;

			> span {
				display: inline-block;

				&:before {
					content: ' . ';
				}
			}
		}

		> .constants {
			display: none;
		}

		> section {
			min-height: 24px;

			&:not(.none) {
				padding-top: 6px;
			}

			> h4 {
				display: none;
			}

			> ul {
				display: inline-block;

				&[data-empty]:empty:after {
					content: '(' attr(data-empty) ')';
					font-style: italic;
				}

				> li {
					cursor: pointer;
					display: inline-block;
					min-height: 16px;
					padding-top: 4px;
					position: relative;
					vertical-align: middle;

					&:first-child {
						padding-left: 4px;
					}

					&:last-child {
						padding-right: 4px;
					}

					&:not(:last-child):after {
						content: ',';
						margin-right: .25em;
					}
				}
			}

			&.identify li {
				background-color: green;
				color: white;
			}

			&.ignore li {
				background-color: #eee;
				color: red;
			}

			&.write li {
				background-color: blue;
				color: white;
			}
		}
	}

	&.preview_import {
		padding: 20px;
	}

	table.preview {
		margin: 10px;

		th {
			background: #d8d8d8;
		}

		th, td {
			border: 1px solid #444;
			padding: 4px;
		}

		td {
			background: white;
		}
	}

}

article.import.execute > .data > p {
	padding: 10px;
}

div.data > table.preview_import {
	border-collapse: collapse;
	margin: 15px 0;
	font-size: 1em;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

	> thead {
		> tr {
			background-color: #03a388;
			font-weight: bold;
			text-align: center;
			> th {
				padding: 7px 7px;
			}
		}
	}

	> tbody {
		> tr {
			text-align: center;
			&:not(:last-of-type) {
				border-bottom: 1px solid #dddddd;
			}

			&:nth-of-type(even) {
				background-color: #cccccc;
			}

			> th.treatment {
				padding-right: 10px;
				padding-left: 10px;
			}
		}
	}
}
