@import 'colors.scss';
@import 'sizes.scss';

article.import.preview > form > .data {

	.classes {
		list-style: none;
	}

	.block {
		border-bottom: 1px solid #d8d8d8;
		padding: 6px 10px;

		> h3 {
			margin: 1em 0;

			> span {
				display: inline-block;

				&:before {
					content: ' . ';
				}
			}
		}

		> .constants {
			display: none;
		}

		> section {
			min-height: 24px;

			&:not(.none) {
				padding-top: 6px;
			}

			> h4 {
				display: none;
			}

			> ul {
				display: inline-block;

				&[data-empty]:empty:after {
					content: '(' attr(data-empty) ')';
					font-style: italic;
				}

				> li {
					cursor: pointer;
					display: inline-block;
					min-height: 16px;
					padding-top: 4px;
					position: relative;
					vertical-align: middle;

					&:first-child {
						padding-left: 4px;
					}

					&:last-child {
						padding-right: 4px;
					}

					&:not(:last-child):after {
						content: ',';
						margin-right: .25em;
					}
				}
			}

			&.identify li {
				background-color: green;
				color: white;
			}

			&.ignore li {
				background-color: #eee;
				color: red;
			}

			&.write li {
				background-color: blue;
				color: white;
			}
		}
	}

	table.preview {
		margin: 10px;

		th {
			background: #d8d8d8;
		}

		th, td {
			border: 1px solid #444;
			padding: 4px;
		}

		td {
			background: white;
		}
	}

}

article.import.execute > .data > p {
	padding: 10px;
}
