.import.error.window {
	background-color: red;
	color: white;
	white-space: pre;
}

.import.preview.window {

	&.media > ul {
		display: block;
		overflow: hidden;

		> li {
			border: 1px solid #333;
			border-radius: 3px;
			box-shadow: 2px 2px rgba(0, 0, 0, .1);
			float: left;
			list-style: none;
			margin: 4px;
			text-align: center;

			> img {
				background: url("img/loading.gif") center no-repeat;
				display: block;
				height: 140px;
				margin: 2px 2px 0;
				width: 140px;
			}

			> input {
				border: none !important;
				width: 140px;
			}
		}
	}

	div.errors {
		border: 2px solid red;

		> h3 {
			background-color: red;
			color: white;
			font-size: 1.4em;
			padding: 2px;
		}

		> ul > li {
			margin-left: 1.4em;
		}
	}

	fieldset {

		&.constants {

			> div > label {
				padding: 0;
				&:after {
					content : " = ";
				}
			}

			a.constant.add {
				display: table-caption;
				text-align: left;
				white-space: nowrap;
			}

			a.constant.remove {
				background: url("img/delete.png") center no-repeat;
				color: transparent;
				display: table-cell;
				height: 18px;
				font-size: 1px;
				vertical-align: top;
				white-space: nowrap;
				width: 20px;
			}
		}

		&.properties {
			border: 1px solid white;

			> ul {
				display: inline-block;

				> li {
					border: 1px solid;
					color: white;
					cursor: pointer;
					display: inline-block;
					font-weight: bold;
					margin: 0 2px;
					padding: .25em;
					&:not(:last-child):after {
						content: ", ";
					}
				}
			}

			&.identify {

				li {
					background-color: green;
					border-color: darkgreen;
				}

				ul:empty:after {
					content: "(crée systématiquement un nouvel enregistrement)";
					font-style: italic;
				}
			}

			&.ignore {

				li {
					background-color: #eee;
					border-color: #ccc;
					color: #333;
				}

				ul:empty:after {
					content: "(aucune valeur n'est ignorée)";
					font-style: italic;
				}
			}

			&.write {

				li {
					background-color: blue;
					border-color: darkblue;
				}

				ul:empty:after {
					content: "(aucune valeur à écrire)";
					font-style: italic;
				}
			}

		}

		> h3 {
			font-size: 1.4em;
			font-weight: normal;
			text-decoration: underline;
			margin-bottom: .25em;

			> span.property:not(:last-child):after {
				content: ".";
			}
		}

		option {
			background-color: white;
			color: black;
		}

		option[value="create_new_value"], select.create_new_value {
			background-color: blue;
			color: white;
		}

		option[value="tell_it_and_stop_import"], select.tell_it_and_stop_import {
			background-color: red;
			color: white;
		}

		div span {
			font-weight: bold;
		}

	}

	> .worksheet:not(:last-child) {
		border-bottom: 2px solid black;
		padding-bottom: 6px;
		margin-bottom: 1em;

		> .class {

			&:not(:first-of-type) {
				border-top: 1px solid darkgray;
				padding-top: 4px;
				margin-top: 4px;
			}

			> .constants {
				display: none;
			}
		}

	}

	> .check {
		padding: 0 1.5em;
	}

	table.preview {
		margin-top: .5em;
		width: 100%;

		td {
			border: 1px solid darkgray;
			padding: 3px;
			white-space: nowrap;
		}

		th {
			@extend td;
			background: #606060;
			color: white;
		}
	}

	h3.preview {
		background: #606060;
		color: white;
		margin-top: 1em;
		padding: 4px;
	}

}
