@import 'colors.scss';
@import 'sizes.scss';

article.import.preview {

	li.block {

		> .constants {
			display: none;
		}

		> section {

			> h3 {
				display: none;
			}

			> ul {
				display: inline-block;

				&[data-empty]:empty:after {
					content: '(' attr(data-empty) ')';
					font-style: italic;
				}

				> li {
					cursor: pointer;
					display: inline-block;

					&:not(:last-child):after {
						content: ',';
						margin-right: .25em;
					}
				}
			}

			&.identify li {
				background-color: green;
				color: white;
			}

			&.ignore li {
				background-color: #eee;
				color: red;
			}

			&.save li {
				background-color: blue;
				color: white;
			}
		}
	}

}
