@import 'colors.scss';
@import 'sizes.scss';

article.import > .data {
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	overflow: hidden;
}

article.import section.preview {
	overflow: auto;

	li.block {

		> .constants {
			display: none;
		}

		> section {
			min-height: 24px;

			&:not(.none) {
				padding-top: 6px;
			}

			> h3 {
				display: none;
			}

			> ul {
				display: inline-block;

				&[data-empty]:empty:after {
					content: '(' attr(data-empty) ')';
					font-style: italic;
				}

				> li {
					cursor: pointer;
					display: inline-block;
					min-height: 16px;
					padding-top: 4px;
					vertical-align: middle;

					&:first-child {
						padding-left: 4px;
					}

					&:last-child {
						padding-right: 4px;
					}

					&:not(:last-child):after {
						content: ',';
						margin-right: .25em;
					}
				}
			}

			&.identify li {
				background-color: green;
				color: white;
			}

			&.ignore li {
				background-color: #eee;
				color: red;
			}

			&.write li {
				background-color: blue;
				color: white;
			}
		}
	}

	table {
		margin: 10px;

		th {
			background: #d8d8d8;
		}

		th, td {
			border: 1px solid #444;
			padding: 4px;
		}
	}

}
