@import 'colors.scss';
@import 'sizes.scss';

input:not([type=button]):not([type=checkbox]):not([type=color]):not([type=radio]):not([type=submit]),
select,
textarea {
	background: $input-background;
	border: $input-border;
	border-radius: $input-border-radius;

	&:not(select):not(.auto_width):not(.datetime) {
		width: 100px;
	}

	&:not([type=file]):not(select) {
		box-sizing: border-box;
		height: $input-height;
		padding: 4px $input-padding 3px;
	}

	&[readonly] {
		background: transparent;
	}
}

input[type=checkbox], input[type=radio] {
	margin: 8px 4px 8px 0;
}

select {
	height: $input-height;
}

textarea {
	line-height: 18px;
}

.quill.string,
.ql.string {
	min-width: 500px;
}
