input:not([type=button]):not([type=checkbox]):not([type=color]):not([type=radio]):not([type=submit]),
select,
textarea {
  background: white;
  border: 1px solid #d8d8d8;
  border-radius: 2px; }
  input:not([type=button]):not([type=checkbox]):not([type=color]):not([type=radio]):not([type=submit]):not(select):not(.auto_width):not(.datetime),
  select:not(select):not(.auto_width):not(.datetime),
  textarea:not(select):not(.auto_width):not(.datetime) {
    width: 100px; }
  input:not([type=button]):not([type=checkbox]):not([type=color]):not([type=radio]):not([type=submit]):not([type=file]):not(select),
  select:not([type=file]):not(select),
  textarea:not([type=file]):not(select) {
    box-sizing: border-box;
    height: 30px;
    padding: 4px 10px 3px; }
  input:not([type=button]):not([type=checkbox]):not([type=color]):not([type=radio]):not([type=submit])[readonly],
  select[readonly],
  textarea[readonly] {
    background: transparent; }

input[type=checkbox], input[type=radio] {
  margin: 8px 4px 8px 0; }

select {
  height: 30px; }

textarea {
  line-height: 18px; }

.quill.string,
.ql.string {
  min-width: 500px; }
