@import 'sizes.scss';

input + button {
	background: transparent center no-repeat;
	background-size: 66%;
	cursor: pointer;
	font-size: 0;
	height: $font-size * 1.5;
	margin-left: -($font-size * 1.5) !important;
	margin-top: 1px !important;
	position: absolute;
	width: $font-size * 1.5;
}
