input + button {
  background: transparent center no-repeat;
  background-size: 66%;
  cursor: pointer;
  font-size: 0;
  height: 18px;
  margin-left: -18px !important;
  margin-top: 1px !important;
  position: absolute;
  width: 18px; }
