@import 'colors.scss';
@import 'sizes.scss';

input:not([type=button]):not([type=submit]), select, textarea {
	background: $input-background;
	border: $input-border;
	border-radius: $input-border-radius;
	height: $input-height - ($input-padding * 2);
	padding: $input-padding 0 $input-padding $input-padding;
}
