@import 'colors.scss';
@import 'sizes.scss';

input:not([type=button]):not([type=checkbox]):not([type=color]):not([type=radio]):not([type=submit]),
select,
textarea {
	background: $input-background;
	border: $input-border;
	border-radius: $input-border-radius;

	&:not(select):not(.auto_width):not(.datetime) {
		width: 100px;
	}

	&:not([type=file]):not(select):not(textarea) {
		height: $input-height - ($input-padding * 2);
		padding: $input-padding;
	}

	&[readonly] {
		background: transparent;
	}
}

select {
	height: $input-height;
}

input[type=checkbox], input[type=radio] {
	margin: 8px 4px 8px 0;
}

textarea {
	height: 21px;
	line-height: 1.5em;
	padding: $input-padding;
}
