
//------------------------------------------------------------------------------------------- Style

article.layout-model {

	h3, h4 {
		display: none;
	}

	.buttons.toolbox,
	.pages.tabber {
		background-image: linear-gradient(to bottom, #f8f8f8 50%, #efefef);
	}

	.buttons.toolbox ul,
	.pages.tabber ul {
		border: none;
		font-size: 0;
		padding: 10px;
		white-space: nowrap;

		> li {
			cursor: pointer;
			display: inline-block;
			font-size: 0;
			margin-left: -1px;
			height: 28px;

			&:first-child {
				border-bottom-left-radius: 2px;
				border-top-left-radius: 2px;
			}

			&:last-child {
				border-bottom-right-radius: 2px;
				border-top-right-radius: 2px;
			}

			> * {
				font-size: 0;
				height: 28px;
			}
		}
	}

	.buttons.toolbox > .pages {
		display: none;
	}

	.buttons.toolbox > section {
		display: inline-block;
		font-size: 0;

		> ul {
			display: inline-block;
		}

		> .selected.tools > label {
			display: none;
		}
	}

	.buttons.toolbox ul > li {
		border: 1px solid #ddd;
		width: 28px;

		&:hover:not(.selected) {
			background-color: #eee !important;
		}

		&.selected {
			background-color: #04b497 !important;
			border-color: #03a388 !important;
		}

		&.align.center {
			background: #f7f7f7 url('img/align-center-24.svg') center no-repeat;

			&.selected {
				background-image: url('img/align-center-24-white.svg');
			}
		}

		&.align.left {
			background: #f7f7f7 url('img/align-left-24.svg') center no-repeat;

			&.selected {
				background-image: url('img/align-left-24-white.svg');
			}
		}

		&.align.right {
			background: #f7f7f7 url('img/align-right-24.svg') center no-repeat;

			&.selected {
				background-image: url('img/align-right-24-white.svg');
			}
		}

		&.bold {
			background: #f7f7f7 url('img/bold-24.svg') center no-repeat;
		}

		&.copy-page {
			background: #f7f7f7 url('img/copy-page-24.svg') center no-repeat;
		}

		&.empty-page {
			background: #f7f7f7 url('img/delete-24.svg') center no-repeat;
		}

		&.font-color {
			background: #f7f7f7 url('img/text-color-24.svg') center no-repeat;
		}

		&.free-text {
			background: #f7f7f7 url('img/free-text-24.svg') center no-repeat;
		}

		&.horizontal.line {
			background: #f7f7f7 url('img/horizontal-line-24.svg') center no-repeat;
		}

		&.image {
			background: #f7f7f7 url('img/image-24.svg') center no-repeat;

			&.selected {
				background-image: url('img/image-24-white.svg');
			}
		}

		&.page-number-count {
			background: #f7f7f7 url('img/page-number-24.svg') center no-repeat;
		}

		&.page-number, &.pages-count {
			display: none;
		}

		&.paste-page {
			background: #f7f7f7 url('img/paste-page-24.svg') center no-repeat;
		}

		&.rectangle {
			background: #f7f7f7 url('img/rectangle-24.svg') center no-repeat;
		}

		&.size.bigger {
			background: #f7f7f7 url('img/bigger-font-24.svg') center no-repeat;
		}

		&.size.smaller {
			background: #f7f7f7 url('img/smaller-font-24.svg') center no-repeat;
		}

		&.text {
			background: #f7f7f7 url('img/text-auto-24.svg') center no-repeat;
		}

		&.text-cr {
			background: #f7f7f7 url('img/text-manual-24.svg') center no-repeat;
		}

		&.vertical.line {
			background: #f7f7f7 url('img/vertical-line-24.svg') center no-repeat;
		}
	}

	.data .properties {
		display: flex;
	}

	.page {
		border-top: 1px solid #d8d8d8;
		grid-template-areas: "angle horizontal" "vertical page";
		grid-template-columns: 15px 1fr;
		grid-template-rows: 15px 1fr;
		overflow: hidden;

		&.active {
			display: grid;
		}

		> .scrollable {
			grid-area: page;
			overflow: auto;
		}

		> .horizontal {
			border-top: 1px dashed darkgrey;
			grid-area: horizontal;
			top: 7px;

			> .handle {
				cursor: ns-resize;
				margin: -7px 0;
			}
		}

		> .snap.line.tool {
			font-size: 0;
			position: relative;

			> .handle {
				height: 100%;
				position: absolute;
				width: 100%;
			}
		}

		> .vertical {
			border-left: 1px dashed darkgrey;
			grid-area: vertical;
			left: 7px;

			> .handle {
				cursor: ew-resize;
				margin: 0 -7px;
			}
		}
	}

	.pages.tabber > ul > li {
		margin: 0;
		padding: 0;

		&:not(.unique-page) {
			width: 34px;
		}

		&:not(.active) {
			border: 1px solid #ccc;
			box-shadow: inset 0 2px rgba(232, 232, 232, .7), inset 0 -2px #ccc;
		}

		&:hover:not(.active) {
			background-color: #eee !important;
		}

		&.active {
			background-color: #04b497 !important;
			border: 1px solid #03a388;
			box-shadow: inset 0 2px #03a388, inset 0 -2px #68d2c1;
		}

		&.all-page {
			background: #d8d8d8 url('img/all-pages-24.svg') center no-repeat;

			&.active {
				background-image: url('img/all-pages-24-white.svg');
			}
		}

		&.first-page {
			background: #d8d8d8 url('img/first-page-24.svg') center no-repeat;

			&.active {
				background-image: url('img/first-page-24-white.svg');
			}
		}

		&.last-page {
			background: #d8d8d8 url('img/last-page-24.svg') center no-repeat;

			&.active {
				background-image: url('img/last-page-24-white.svg');
			}
		}

		&.middle-page {
			background: #d8d8d8 url('img/middle-page-24.svg') center no-repeat;

			&.active {
				background-image: url('img/middle-page-24-white.svg');
			}
		}

		&.unique-page {
			background: #d8d8d8 url('img/unique-page-24.svg') center no-repeat;
			width: 28px;

			&.active {
				background-image: url('img/unique-page-24-white.svg');
			}
		}
	}

	.property-select {
		border-right: 2px solid #d8d8d8;
		overflow: hidden auto;

		input {
			margin: 9px 8px;
			padding: 14px 10px !important;
			width: calc(100% - 16px);
		}
	}
}

//------------------------------------------------------------------------------------------ Layout

article.layout-model {

	&:not(.form) {
		grid-template-areas: "header" "header2" "content" "pages" "page" "footer";
		grid-template-columns: 1fr;

		.property-select,
		.snap.line,
		.toolbox {
			display: none;
		}
	}

	> form {
		grid-template-areas:
			"header     header  header "
			"header2    header2 header2"
			"content    content content"
			"properties pages   toolbox"
			"properties page    page   "
			"footer     footer  footer ";
		grid-template-columns: 200px min-content 1fr;

		ul.data {
			background: white;
		}
	}

	&:not(.form),
	> form {
		grid-template-rows: min-content min-content min-content min-content 1fr min-content;

		> .buttons.toolbox {
			grid-area: toolbox;
		}

		> .page {
			grid-area: page;
		}

		> .pages {
			grid-area: pages;
		}

		> .property-select {
			grid-area: properties;
		}
	}
}
