
article.layout_model {

	&:not(.form),
	> form {
		grid-template-areas: "header" "data" "content" "footer";
		grid-template-rows: min-content min-content 1fr min-content;

		> ul.data {
			grid-area: data;
		}

		> section {
			grid-area: content;
			overflow: auto;
		}
	}

	&.output {

		.snap.line,
		.toolbox {
			display: none;
		}
	}

	.editor {

		> h3 {
			visibility: hidden;
		}

		> :not(h3) {
			display: inline-block;
			vertical-align: top;
		}

		> .pages {
			margin-top: 0;

			> h4 {
				display: none;
			}

			> .page {
				border: 1px solid darkgrey;
				padding: 8px;
				position: relative;

				> h5 {
					visibility: hidden;
				}
			}
		}

		.designer {
			background-repeat: no-repeat;
			left: 11px;
			position: absolute;
			top: 11px;

			.field {
				white-space: pre-line;

				&.line > .handle {
					cursor: pointer;
				}
			}
		}

		.tool {

			&.snap.line {
				font-size: 0;
				position: absolute;

				&.horizontal {
					border-top: 1px dashed darkgrey;
					height: 0;
					left: 11px;
					top: 5px;

					> .handle {
						cursor: ns-resize;
						height: 18px;
						top: -9px;
					}
				}

				&.vertical {
					border-left: 1px dashed darkgrey;
					left: 5px;
					top: 11px;
					width: 0;

					> .handle {
						cursor: ew-resize;
						left: -9px;
						top: 0;
						width: 18px;
					}
				}

				> .handle {
					position: absolute;
				}
			}
		}

		.toolbox {

			> h4 {
				display: none;
			}

			> .pages, > .selected.tools {
				display: none;
			}

			> .add.tools {
				span {
					cursor: pointer;
					padding: 2px 0;
				}
			}

			> .pages, > .tools {

				h5 {
					font-weight: normal;
				}

				li {
					list-style: none;
					margin: 0;
				}

				ul {
					background-color: #dcdcdd;
					border: solid 1px #606060;
					border-radius: 0 2px 2px;
					padding: 2px 8px 2px 2px;
					margin-bottom: 1em;

					> li {
						display: table-row;

						> * {
							display: table-cell;
						}

						> label {
							padding-right: .5ch;
							vertical-align: middle;
						}

						> input, textarea {
							max-width: 200px;
						}
					}
				}
			}

			> .pages {

				label[for^='background'] {
					display: none;
				}

				input[id^='background'] {
					column-span: all;
				}
			}
		}
	}
}
