
//------------------------------------------------------------------------------------------- Style

article.layout-model {

	h3, h4 {
		display: none;
	}

	.buttons.toolbox,
	.pages.tabber {
		background-image: linear-gradient(to bottom, #f8f8f8 50%, #efefef);
	}

	.buttons.toolbox ul,
	.pages.tabber ul {
		border: none;
		font-size: 0;
		padding: 10px;
		white-space: nowrap;

		> li {
			border: 1px solid #ddd;
			cursor: pointer;
			display: inline-block;
			font-size: 0;
			margin-left: -1px;
			height: 28px;
			width: 28px;

			&:first-child {
				border-bottom-left-radius: 2px;
				border-top-left-radius: 2px;
			}

			&:last-child {
				border-bottom-right-radius: 2px;
				border-top-right-radius: 2px;
			}

			> * {
				font-size: 0;
				height: 28px;
			}
		}
	}

	.buttons.toolbox > .pages {
		display: none;
	}

	.buttons.toolbox > section {
		display: inline-block;
		font-size: 0;

		> ul {
			display: inline-block;
		}
	}

	.buttons.toolbox ul > li {

		&.align.center {
			background: url('img/align-center-24.svg') center no-repeat;
		}

		&.align.left {
			background: url('img/align-left-24.svg') center no-repeat;
		}

		&.align.right {
			background: url('img/align-right-24.svg') center no-repeat;
		}

		&.free-text {
			background: url('img/free-text-24.svg') center no-repeat;
		}

		&.horizontal.line {
			background: url('img/horizontal-line-24.svg') center no-repeat;
		}

		&.page-number {
			background: url('img/page-number-24.svg') center no-repeat;
		}

		&.pages-count {
			display: none;
		}

		&.rectangle {
			background: url('img/rectangle-24.svg') center no-repeat;
		}

		&.size.bigger {
			background: url('img/bigger-font-24.svg') center no-repeat;
		}

		&.size.smaller {
			background: url('img/smaller-font-24.svg') center no-repeat;
		}

		&.vertical.line {
			background: url('img/vertical-line-24.svg') center no-repeat;
		}
	}

	.data .properties {
		display: flex;
	}

	.general.actions {
		border-top: 1px solid #d8d8d8;
	}

	.page {
		border-top: 1px solid #d8d8d8;
		grid-template-areas: "angle horizontal" "vertical page";
		grid-template-columns: 15px 1fr;
		grid-template-rows: 15px 1fr;
		overflow: hidden;

		&.active {
			display: grid;
		}

		> .scrollable {
			grid-area: page;
			overflow: auto;
		}

		> .horizontal {
			border-top: 1px dashed darkgrey;
			grid-area: horizontal;
			top: 7px;

			> .handle {
				cursor: ns-resize;
				margin: -7px 0;
			}
		}

		> .snap.line.tool {
			font-size: 0;
			position: relative;

			> .handle {
				height: 100%;
				position: absolute;
				width: 100%;
			}
		}

		> .vertical {
			border-left: 1px dashed darkgrey;
			grid-area: vertical;
			left: 7px;

			> .handle {
				cursor: ew-resize;
				margin: 0 -7px;
			}
		}
	}

	.pages.tabber > ul > li {

		&.all-page {
			background: url('img/all-pages-24.svg') center no-repeat;
		}

		&.first-page {
			background: url('img/first-page-24.svg') center no-repeat;
		}

		&.last-page {
			background: url('img/last-page-24.svg') center no-repeat;
		}

		&.middle-page {
			background: url('img/middle-page-24.svg') center no-repeat;
		}

		&.unique-page {
			background: url('img/unique-page-24.svg') center no-repeat;
		}
	}

	.property_select {
		border-right: 2px solid #d8d8d8;
		overflow: hidden auto;

		input {
			margin: 10px 8px;
			padding: 14px 10px !important;
			width: calc(100% - 16px);
		}
	}
}

//------------------------------------------------------------------------------------------ Layout

article.layout-model {

	&:not(.form),
	> form {
		grid-template-areas:
			"header     header  header "
			"content    content content"
			"properties pages   toolbox"
			"properties page    page   "
			"footer     footer  footer ";
		grid-template-columns: 200px min-content 1fr;
		grid-template-rows: min-content min-content 48px 1fr min-content;

		> .buttons.toolbox {
			grid-area: toolbox;
		}

		> .page {
			grid-area: page;
		}

		> .pages {
			grid-area: pages;
		}

		> .property_select {
			grid-area: properties;
		}
	}

	&.output {

		.property_select,
		.snap.line,
		.toolbox {
			display: none;
		}
	}
}
