article.list > .summary {
  background: #efefef;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
  height: 39px;
  position: relative; }
  article.list > .summary > h3 {
    display: none; }
  article.list > .summary > p.lines {
    position: absolute;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    padding: 0 10px 0;
    right: 0; }

article.list > .general.actions {
  z-index: 1; }
