@import 'sizes.scss';

//------------------------------------------------------------------------------------------- Style

article.list > form {
	background: white;

	> table {
		border-bottom: 1px solid #ccc;
		border-top: 1px solid #ccc;
		overflow: hidden;
		white-space: nowrap;

		tr {
			height: 33px;

			> td, > th {
				box-shadow: inset 0 -1px #d8d8d8;
				vertical-align: middle;

				&:first-child:hover {
					background: #d2f1f9;
				}

				&.insert-right {
					box-shadow: inset -1px 0 0 0 black, inset 0 -1px #d8d8d8;
				}
			}

			> td {
				box-sizing: border-box;
			}
		}
	}
}

div.data > table.preview_import {
	border-collapse: collapse;
	margin: 15px 0;
	font-size: 1em;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

	> thead {
		> tr {
			background-color: #03a388;
			font-weight: bold;
			text-align: center;
			> th {
				padding: 7px 7px;
			}
		}
	}

	> tbody {
		> tr {
			text-align: center;
			&:not(:last-of-type) {
				border-bottom: 1px solid #dddddd;
			}

			&:nth-of-type(even) {
				background-color: #cccccc;
			}

			> th.treatment {
				padding-right: 10px;
				padding-left: 10px;
			}
		}
	}
}

//------------------------------------------------------------------------------------------ Layout

article.list > form {
	position: relative;

	> .general.actions {
		grid-area: header;
		position: absolute;
		top: 34px;
	}
}
