@import 'colors.scss';
@import 'responsive.scss';
@import 'sizes.scss';

@media screen and (max-width: $phone-max-width) {

	article.list > form > ul.footer {
		display: none;
	}
}

article.list > form > ul.footer {
	background: #efefef;
	box-sizing: border-box;
	border-top: 1px solid #ccc;
	display: block;
	height: $list-footer-height;
	white-space: nowrap;

	> li {
		display: block;

		> ul.selection.actions {
			display: inline-block;
		}
	}
}
