article.list header > .summary {
  background-image: linear-gradient(to bottom, #f8f8f8 50%, #efefef);
  border-top: 1px solid #ccc;
  padding: 13px 10px 12px;
  text-align: left;
  white-space: nowrap; }
  article.list header > .summary > h3, article.list header > .summary > .filters {
    display: none; }
