@import 'colors.scss';
@import 'mixins.scss';
@import 'sizes.scss';

article.list > .summary {
	background: #efefef;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	box-sizing: border-box;
	height: $actions-height - 1px;
	position: relative;

	> h3 {
		display: none;
	}

	> p.lines {
		@include vertical-align(absolute);
		padding: 0 10px 0;
		right: 0;
	}
}

article.list > .general.actions {
	z-index: 1;
}
