@import 'colors.scss';
@import 'mixins.scss';
@import 'sizes.scss';

article.list header {

	> .summary {
		background: #f8f8f8;
		border-top: 1px solid #ccc;
		padding: 13px 10px 12px;
		text-align: right;
		white-space: nowrap;

		> h3, > .filters {
			display: none;
		}
	}
}
