@media screen and (max-width: 469px) {
  article.list > form > ul.footer {
    display: none; } }
article.list > form > ul.footer {
  background: #efefef;
  box-sizing: border-box;
  border-top: 1px solid #ccc;
  display: block;
  height: 39px;
  white-space: nowrap; }
  article.list > form > ul.footer > li {
    display: block; }
    article.list > form > ul.footer > li > ul.selection.actions {
      display: inline-block; }
