article.list > form > table > tfoot {
  background: #efefef;
  border-top: 1px solid #ccc; }
  article.list > form > table > tfoot th.fix:first-child {
    min-width: 32px !important;
    text-align: center; }
  article.list > form > table > tfoot th.hover {
    background-color: #f5e6d1 !important; }
  article.list > form > table > tfoot th > span {
    padding: 0 .75em 0 .5em; }
