@import 'colors.scss';
@import 'sizes.scss';

article.list > form > table > tbody > tr {

	&:nth-child(even) {
		> td {
			background: #f8f8f8;
		}
		> th {
			background: #e8e8e8;
		}
	}

	&:nth-child(odd) {
		> td {
			background: white;
		}
		> th {
			background: #efefef;
		}
	}

	&:hover:nth-child(even):not(.selected){

		> td {
			background: #f9f1e6;
		}

		> th {
			box-shadow: inset 0 -1px #a8a8a8;

			&:not(:hover) {
				background: #bbb;
			}
		}
	}

	&:hover:nth-child(odd):not(.selected) {

		> td {
			background: #fcf7f1;
		}

		> th {
			box-shadow: inset 0 -1px #b8b8b8;

			&:not(:hover) {
				background: #ccc;
			}
		}
	}

	&:hover:not(.selected) > th:not(:hover) {
	}

	&:nth-child(even):not(.selected) > .hover {
		background: #f9f1e6;
	}

	&:nth-child(odd):not(.selected) > .hover {
		background: #fcf7f1;
	}

	&.selected {
		> td {
			background: #a8e9f4;
		}
		> th {
			background: #009def;
		}
	}

	&.selected:hover {
		> td {
			background: #98d9e4;
		}
		> th {
			background: #008ddf;
		}
	}

	td {
		color: #444;
		padding: 0 .75em 0 .5em;

		> a {
			display: block;
			height: 22px;
			padding-top: 10px;
		}
	}

	th {
		padding: 0 .83em 0 .75em;
	}
}
