@import 'colors.scss';
@import 'sizes.scss';

article.list > form > table > tbody > tr {

	&:nth-child(even) {
		> td {
			background: #f8f8f8;
		}
		> th {
			background: #e8e8e8;
		}
	}

	&:nth-child(odd) {
		> td {
			background: white;
		}
		> th {
			background: #efefef;
		}
	}

	&:hover:nth-child(even):not(.selected){

		> td {
			background: #f9f1e6;
		}

		> th {
			border-bottom: 1px solid #a8a8a8;

			&:not(:hover) {
				background: #bbb;
			}
		}
	}

	&:hover:nth-child(odd):not(.selected) {

		> td {
			background: #fcf7f1;
		}

		> th {
			border-bottom: 1px solid #b8b8b8;

			&:not(:hover) {
				background: #ccc;
			}
		}
	}

	&:hover:not(.selected) > th:not(:hover) {
	}

	&:nth-child(even):not(.selected) > .hover {
		background: #f9f1e6;
	}

	&:nth-child(odd):not(.selected) > .hover {
		background: #fcf7f1;
	}

	&.selected {
		> td {
			background: #a8e9f4;
		}
		> th {
			background: #009def;
		}
	}

	&.selected:hover {
		> td {
			background: #98d9e4;
		}
		> th {
			background: #008ddf;
		}
	}

	td {
		color: #444;
		padding: 0 .75em 0 .5em;

		> a {
			display: block;
			height: 22px;
			padding-top: 10px;
		}

	}

	th {
		padding: 0 .83em 0 .75em;

		> input {
			margin: 0;
		}

		> label {
			display: none;
		}
	}

	&.more {
		display: block;
		font-size: 0;
		text-align: center;

		> td {
			border: none;
			display: block;
			height: 30px;

			> .loading {
				display: none;
			}
		}
	}
}

article.list > form > table.complete > tbody > tr.more {
	display: none;
}

.loading {
	animation: loading 400ms ease 0ms infinite alternate;
	background: rgba(0, 0, 0, .6);
	border-radius: 50%;
	box-sizing: border-box;
	display: inline-block;
	font-size: 0;
	height: 10px;
	margin: 10px 5px;
	opacity: 1;
	transform: scale(0);
	width: 10px;

	&.two {
		animation: loading 400ms ease 200ms infinite alternate;
	}

	&.three {
		animation: loading 400ms ease 400ms infinite alternate;
	}
}

@keyframes loading {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: .25;
		transform: scale(.75);
	}
}
