@import 'colors.scss';
@import 'sizes.scss';

article.list > form > table > thead {
	background: #efefef;

	> tr {

		> :first-child {
			background: #efefef;
			z-index: calc(var(--z-index) + 1);
		}

		&.title {
			padding: 0 .75em 0 .5em;

			> th {
				color: #333;
				font-weight: 500;
				text-align: left;

				&:first-child {
					padding: 0 .83em 0 .75em;
				}

				&:not(:first-child) {
					padding: 0 .75em 0 .5em;
				}

				&.column_select {
					background: #efefef url('img/add-column-16.svg') right 4px center no-repeat;
					padding: 0;
					position: relative;
					z-index: calc(var(--z-index) + 1);

					> a {
						display: block;
						font-size: 0;
						height: 24px;
						min-width: 24px;
						width: 100%;
					}
				}
			}
		}

		&.search {

			> .reset {
				font-size: 0;
				text-align: center;
				vertical-align: middle;

				> a {
					background: url('img/filter-24.svg') center no-repeat;
					display: inline-block;
					height: 28px;
					width: 28px;
				}
			}

			> td {
				position: relative;
				vertical-align: top;

				> input {
					background: transparent;
					border: none;
					display: block;
					height: 12px;
					padding: 10px .75em 10px .5em;
				}
			}
		}
	}

}
