@import 'colors.scss';
@import 'mixins.scss';
@import 'sizes.scss';

article.list header {

	> .summary {
		background-image: linear-gradient(to bottom, #f8f8f8 50%, #efefef);
		border-top: 1px solid #ccc;
		padding: 13px 10px 12px;
		text-align: right;
		white-space: nowrap;

		> h3, > .filters {
			display: none;
		}
	}
}

.property.ui-draggable-dragging {
	background: #efefef;
	border: 1px solid #d0d0d0;
	box-shadow: 0 0 3px 3px rgba(216, 216, 216, .4);
	padding: 10px;
	position: relative;

	&.outside:before {
		background: url('img/delete-24-red.svg') center no-repeat;
		content: '';
		height: 32px;
		left: -32px;
		position: absolute;
		top: 0;
		width: 32px;
	}
}
