@import 'sizes.scss';

//------------------------------------------------------------------------------------------- Style

article.list > form {
	background: white;

	> table {
		border-bottom: 1px solid #ccc;
		border-collapse: separate;
		border-spacing: 0;
		border-top: 1px solid #ccc;
		overflow: hidden;
		white-space: nowrap;

		tr {
			height: 33px;

			> td, > th {
				border-bottom: 1px solid #d8d8d8;
				vertical-align: middle;

				&:first-child:hover {
					background: #d2f1f9;
				}

				&.insert-right {
					border-right: 1px solid black;
				}
			}

			> td {
				box-sizing: border-box;
			}
		}
	}
}

//------------------------------------------------------------------------------------------ Layout

article.list > form {
	position: relative;

	> .general.actions {
		grid-area: header;
		position: absolute;
		top: 34px;
	}
}
