article.list header > .actions {
  border: none;
  position: absolute;
  top: 34px; }
article.list header > .summary {
  background: #f8f8f8;
  border-top: 1px solid #ccc;
  padding: 13px 10px 12px;
  text-align: right;
  white-space: nowrap; }
  article.list header > .summary > h3, article.list header > .summary > .filters {
    display: none; }
