@import 'colors.scss';
@import 'responsive.scss';

@media screen and (max-width: $tab-max-width) {

	article.list > form {
		min-width: 100%;
	}
}

@media screen and (min-width: $tab-min-width) {

	article.list > form {
		min-width: 500px;
	}
}

article.list {

	> section.summary {
		cursor: pointer;

		> details.error {
			border: 1px solid $error-border-color;
		}

		> h3 {
			display: none;
		}
	}

	> form {
		display: inline-block;

		input {
			background: transparent;
			border: none;
		}
	}
}
