@media screen and (max-width: 479px) {
  body > header .logo {
    display: none !important; } }
@media screen and (min-width: 480px) {
  body {
    white-space: nowrap; }
    body > :not(nav) {
      white-space: initial; } }
body {
  background-color: white;
  color: #444;
  font-size: 18px;
  height: 100%;
  position: absolute;
  width: 100%; }
  body > h1 {
    display: none; }
  body > header {
    background: lightgrey url("img/header-background.png") bottom right;
    color: #444;
    display: table-row;
    height: 54px;
    position: relative; }
    body > header .logo {
      background: transparent center no-repeat;
      background-size: contain;
      font-size: 0;
      height: 54px; }
    body > header > .logo {
      background-color: white;
      background-image: url("img/bappli-studio-logo.png");
      display: table-cell; }
    body > header > .top.bar {
      display: none;
      vertical-align: middle; }
      body > header > .top.bar > .logo {
        background-image: url("img/bappli-studio-logo-for-dark.png");
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        width: 211.5px; }
  body > main {
    width: 100%; }
  body > main, body > nav {
    display: table-cell;
    vertical-align: top; }
  body[class] > header > .logo {
    border-right: 1px solid lightgray; }
  body[class] > header > .top.bar {
    display: table-cell; }
