@import 'colors.scss';
@import 'responsive.scss';
@import 'sizes.scss';

@media screen and (max-width: $tab-max-width) {

	body > header .logo {
		display: none;
	}

	body[class] > header > .top.bar {
		display: table-row;

		> * {
			display: table-cell;
			vertical-align: middle;
		}
	}
}

@media screen and (min-width: $tab-min-width) {

	body {
		white-space: nowrap;

		> :not(nav) {
			white-space: initial;
		}
	}
}

@media screen and (min-width: $pc-min-width) {

	body {

		> header {
			display: table-row;

			> .logo {
				display: table-cell;
			}

			> .top.bar > .logo {
				display: inline-block;
				position: absolute;
				right: 0;
				top: 0;
				width: $head-height / 3 * 11.75;
			}
		}

		> main, > nav {
			display: table-cell;
		}

		&[class] > header > .top.bar {
			display: table-cell;
		}
	}
}

body {
	background-color: $background;
	color: $color;
	font-size: $font-size;
	height: 100%;
	position: absolute;
	width: 100%;

	> h1 {
		display: none;
	}

	> header {
		background: $head-background url('img/header-background.png') bottom right;
		color: $head-color;
		height: $head-height;
		position: relative;

		.logo {
			background: transparent center no-repeat;
			background-size: contain;
			font-size: 0;
			height: $head-height;
		}

		> .logo {
			background-color: $background;
			background-image: url('img/bappli-studio-logo.png');
		}

		> .top.bar {
			display: none;
			vertical-align: middle;

			> .logo {
				background-image: url('img/bappli-studio-logo-for-dark.png');
			}
		}
	}

	> main {
		width: 100%;
	}

	> main, > nav {
		vertical-align: top;
	}

	&[class] > header {
		> .logo {
			border-right: $thin-border;
		}
	}
}
