@media screen and (max-width: 1013px) {
  body > header .logo {
    display: none; }

  body[class] > header > .top.bar {
    display: table-row; }
    body[class] > header > .top.bar > * {
      display: table-cell;
      vertical-align: middle; } }
@media screen and (min-width: 470px) {
  body {
    white-space: nowrap; }
    body > :not(nav) {
      white-space: initial; } }
@media screen and (min-width: 1014px) {
  body > header {
    display: table-row; }
    body > header > .logo {
      display: table-cell; }
    body > header > .top.bar > .logo {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      width: 211.5px; }
  body > main, body > nav {
    display: table-cell; }
  body[class] > header > .top.bar {
    display: table-cell; } }
body {
  background-color: white;
  color: #444;
  font-size: 18px;
  height: 100%;
  position: absolute;
  width: 100%; }
  body > h1 {
    display: none; }
  body > header {
    background: lightgrey url("img/header-background.png") bottom right;
    color: #444;
    height: 54px;
    position: relative; }
    body > header .logo {
      background: transparent center no-repeat;
      background-size: contain;
      font-size: 0;
      height: 54px; }
    body > header > .logo {
      background-color: white;
      background-image: url("img/bappli-studio-logo.png"); }
    body > header > .top.bar {
      display: none;
      vertical-align: middle; }
      body > header > .top.bar > .logo {
        background-image: url("img/bappli-studio-logo-for-dark.png"); }
  body > main {
    width: 100%; }
  body > main, body > nav {
    vertical-align: top; }
  body[class] > header > .logo {
    border-right: 1px solid lightgrey; }
