@import 'colors.scss';
@import 'responsive.scss';
@import 'sizes.scss';

@media screen and (max-width: $tab-max-width) {

	header > .top.bar > button.menu {
		background: url('img/menu-button-white.png') no-repeat center;
		background-size: 32px;
		font-size: 0;
		height: $head-height;
		width: $head-height;
	}

	nav#menu {
		display: none;
	}
}

@media screen and (min-width: $pc-min-width) {

	header > .top.bar > button.menu {
		display: none;
	}
}

nav#menu {
	background-color: white;
	border-right: $thin-border;
	color: $head-color;
	position: relative;

	> .minimize {
		background: $head-background url('img/menu-button-white.png');
		background-size: contain;
		cursor: pointer;
		display: inline-block;
		font-size: 0;
		height: 2em;
		margin-top: -2.2em;
		position: absolute;
		width: 2em;
	}

	> h2 {
		display: none;
	}

	> ul {

		> li {

			> h3 {
				background-color: $window-head-background;
				color: white;
				padding: $menu-head-vertical-padding $menu-head-horizontal-padding;
			}

			> ul > li > a {
				display: block;
				padding: $menu-item-vertical-padding $menu-item-horizontal-padding;
			}
		}
	}
}
