nav#menu {
  position: relative; }
  nav#menu > .actions {
    display: table;
    font-size: 0;
    height: 64px;
    width: 100%; }
    nav#menu > .actions > * {
      display: table-cell;
      vertical-align: middle; }
    nav#menu > .actions > .minimize {
      background: url("img/menu-24.svg") center no-repeat;
      font-size: 0;
      height: 64px;
      width: 44px; }
    nav#menu > .actions > .filter {
      width: 100%; }
      nav#menu > .actions > .filter > label {
        display: none; }
      nav#menu > .actions > .filter > input {
        width: calc(100% - 30px); }
  nav#menu > h2 {
    display: none; }
  nav#menu > ul > li > h3 {
    background-color: #f8f8f8;
    display: table;
    font-size: 14px;
    font-weight: normal;
    height: 41px;
    width: 100%; }
    nav#menu > ul > li > h3 > a {
      display: table-cell;
      padding-left: 42px;
      vertical-align: middle; }
    nav#menu > ul > li > h3:focus, nav#menu > ul > li > h3:hover, nav#menu > ul > li > h3.selected {
      background: #efefef;
      position: relative; }
      nav#menu > ul > li > h3:focus:before, nav#menu > ul > li > h3:hover:before, nav#menu > ul > li > h3.selected:before {
        background: var(--dark-color);
        content: '';
        display: inline-block;
        height: 100%;
        position: absolute;
        width: 4px; }
  nav#menu > ul > li > ul > li {
    display: table;
    height: 29px;
    width: 100%; }
    nav#menu > ul > li > ul > li > a {
      display: table-cell;
      padding-left: 54px;
      vertical-align: middle; }
      nav#menu > ul > li > ul > li > a:focus, nav#menu > ul > li > ul > li > a:hover, nav#menu > ul > li > ul > li > a .selected {
        background: var(--light-color); }
