@import 'colors.scss';
@import 'responsive.scss';
@import 'sizes.scss';

nav#menu {
	position: relative;

	> .actions {
		display: table;
		font-size: 0;
		height: 64px;
		width: 100%;

		> * {
			display: table-cell;
			vertical-align: middle;
		}

		> .minimize {
			background: url('img/menu-24.svg') center no-repeat;
			font-size: 0;
			height: 64px;
			width: 44px;
		}

		> .filter {
			width: 100%;

			> label {
				display: none;
			}

			> input {
				width: calc(100% - 30px);
			}
		}
	}

	> h2 {
		display: none;
	}

	> ul {

		> li {

			> h3 {
				background-color: $menu-module-background;
				display: table;
				font-size: 14px;
				font-weight: normal;
				height: 41px;
				width: 100%;

				> a {
					display: table-cell;
					padding-left: 42px;
					vertical-align: middle;
				}

				&:focus, &:hover, &.selected {
					background: #efefef;
					position: relative;

					&:before {
						content: '';
						display: inline-block;
						height: 100%;
						position: absolute;
						width: 4px;
					}
				}
			}

			> ul > li {
				display: table;
				height: 29px;
				width: 100%;

				> a {
					display: table-cell;
					padding-left: 54px;
					vertical-align: middle;

					&:focus, &:hover {
						background: #efefef;
					}
				}
			}
		}
	}
}
