@import 'colors.scss';
@import 'sizes.scss';

.minus {
	cursor: pointer;
	height: $font-size * 1.5;
	margin: 0 !important;
	padding: 0 !important;
	text-align: center;
	width: $font-size * 1.5;

	&button {
		position: absolute;
	}

	&:hover {
		background: $action-focus-background;
		color: $action-focus-color;
	}
}
