.minus {
  cursor: pointer;
  height: 18px;
  margin: 0 !important;
  padding: 0 !important;
  text-align: center;
  width: 18px; }
  .minusbutton {
    position: absolute; }
  .minus:hover {
    background: #aedc5f;
    color: white; }
