@import 'colors.scss';

@mixin module-color($data-class, $module, $color1, $color2, $image) {

	article[data-class^='#{$data-class}'] {
		--dark-color: $color1;
		--light-color: $color2;
	}

	body.min-left > nav#menu > ul > li.#{$module} > h3 {
		> a {
			background: url('img/#{$image}-24.svg') 10px center no-repeat;
		}

		&:focus, &:hover, &.selected {
			> a {
				background: url('img/#{$image}-24-hilight.svg') 10px center no-repeat;
			}
		}
	}

	nav#menu > ul > li.#{$module} {
		--dark-color: $color1;
		--light-color: $color2;

		> h3 {

			> a {
				background: url('img/#{$image}-24.svg') 10px center no-repeat,
					url('img/expand-more-24.svg') right center no-repeat;
			}

			&:focus, &:hover, &.selected {

				> a {
					background: url('img/#{$image}-24-hilight.svg') 10px center no-repeat,
						url('img/#{$image}-expand-more-24.svg') right center no-repeat;
				}
			}
		}
	}
}

@mixin vertical-align($position: relative) {
	position: $position;
	top: 50%;
	transform: perspective(1px) translateY(-50%);
}
