#modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999999; }
  #modal:empty {
    display: none; }
  #modal > article {
    --light-color: white;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    left: calc(50% - 150px);
    position: absolute;
    right: 100px;
    top: calc(50% - 75px);
    height: 150px;
    width: 300px; }
    #modal > article > .actions {
      background: var(--light-color);
      border-top: 1px solid #eaeaea;
      text-align: center; }
      #modal > article > .actions > li {
        flex: 100%; }
    #modal > article > div > p {
      padding: 10px; }
    #modal > article > header {
      border: none;
      border-bottom: 1px solid #eaeaea; }
