@import 'colors.scss';

#modal {
	background-color: rgba(0, 0, 0, .25);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: 999999;

	&:empty {
		display: none;
	}

	> article {
		border: 1px solid #d6d6d6;
		border-radius: 3px;
		left: calc(50% - 150px);
		position: absolute;
		right: 100px;
		top: calc(50% - 75px);
		width: 360px;

		.actions {
			background: white;
			border-top: 1px solid #eaeaea;
			text-align: center;

			> li {
				flex: 100%;
			}
		}

		> div, > form > div {

			> h3 {
				font-weight: $medium;
				margin: 10px 0 10px 10px;

				&:after {
					content: ' :';
				}
			}

			> p {
				line-height: 1.4em;
				padding: 10px;
			}

			> ul:not(.actions) {
				margin: 10px 0;
				padding-left: 10px;

				> li {
					display: list-item;
					line-height: 1.4em;
					list-style-position: inside;
				}
			}
		}

		> header {
			border: none;
			border-bottom: 1px solid #eaeaea;
		}
	}
}
