@import 'mixins.scss';

//------------------------------------------------------------------------------------------- Style

#notifications {
	position: relative;

	> .drop-on {
		background: white;
		border: 1px solid #ddd;
		left: 10px;
		list-style: none;
		position: absolute;
		top: 3px;

		> li {
			border: 1px solid transparent;
			display: inline-block;
			height: 40px;
			padding: 4px;
			vertical-align: top;
			width: 40px;

			&:not(:first-child) {
				margin-left: 10px;
			}

			&:not(:last-child) {
				margin-right: 10px;
			}

			&:hover {
				border: 1px solid red;
			}
		}
	}

	> #query,
	> #responses {
		font-size: 11px;
		margin: 10px 0;
		overflow: hidden auto;
		padding: 0 10px 0 52px;

		> li {
			border-radius: 2px;
			display: block;
			line-height: 1.5em;
			padding: 3px 8px;

			h3 {
				font-weight: $medium;
			}

			li {
				list-style: disc;
				margin-left: 1em;
			}
		}

		&:empty:after {
			color: #7c7c7c;
			content: attr(data-empty);
			display: block;
			position: relative;
			top: calc(50% - #{$font-size / 2});
			text-align: center;
		}
	}

	> #query {
		box-shadow: inset -1px 0 #d8d8d8;

		&:empty {
			background: url('img/warning-32-inactive.svg') 10px top no-repeat;
		}

		&:not(:empty) {
			background: url('img/warning-32.svg') 10px top no-repeat;
		}

		> li {
			background: #f9d4d4;
		}
	}

	> #responses {
		box-shadow: inset 1px 0 #d8d8d8;

		&:empty {
			background: url('img/information-32-inactive.svg') 10px top no-repeat;
		}

		&:not(:empty) {
			background: url('img/information-32.svg') 10px top no-repeat;
		}

		> li {
			background: #e8e8e8;
		}
	}
}

//------------------------------------------------------------------------------------------ Layout

#notifications {
	display: grid;
	grid-template-areas: "query responses user";
	grid-template-columns: .5fr .5fr 32px;

	> h2 {
		display: none;
	}

	> #query {
		grid-area: query;
	}

	> #responses {
		grid-area: responses;
	}

	> .user {
		grid-area: user;
	}
}
