@import 'mixins.scss';

div.main > .notifications {
	height: 64px;
	position: relative;

	h2 {
		display: none;
	}

	> * {
		display: inline-block;
	}

	> #query,
	> #responses {
		background: white;
		box-sizing: border-box;
		height: calc(100% - 20px);
		margin: 10px 0;
		overflow-y: auto;
		padding: 0 10px 0 52px;
		width: calc(50% - 22px);

		> li {
			border-radius: 2px;
			display: block;
			font-size: 11px;
			line-height: 1.5em;
			padding: 3px 8px;
			background: #e8e8e8;
		}
	}

	> #query {

		&:not(:empty) {
			background: url('img/warning-32.svg') 10px top no-repeat;
		}

		> div {
			background: #f9d4d4;
		}
	}

	> #responses {
		box-shadow: -1px 0 #d8d8d8, inset 1px 0 #d8d8d8;

		&:not(:empty) {
			background: url('img/information-32.svg') 10px top no-repeat;
		}

		> div {
			background: #e8e8e8;
		}
	}

	> .user.mini {
		display: inline-flex;
		height: 100%;
		position: absolute;
		right: 10px;

		> h3 {
			display: none;
		}

		> .user {
			background: url('img/user-24.svg') center no-repeat;
			display: inline-block;
			font-size: 0;
			height: 24px;
			margin: auto;
			width: 24px;
		}
	}

}
