article > ul.data > li ol.properties > li:not(.component-objects) > div {
  padding-top: 0.3em;
  vertical-align: top; }
  article > ul.data > li ol.properties > li:not(.component-objects) > div > span {
    padding: 0 0.25em; }

article > form > ul.data > li ol.properties > li > div > span {
  padding: 0.3em 0.25em; }
  article > form > ul.data > li ol.properties > li > div > span.set {
    display: inline-block;
    vertical-align: top; }

article > form > ul.data > li, article > ul.data > li {
  display: block; }
article > form ol.properties, article ol.properties {
  display: inline-block;
  padding: 0.5em; }
  article > form ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects), article ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) {
    display: table-row; }
    article > form ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > label, article > form ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > div, article ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > label, article ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > div {
      display: table-cell; }
    article > form ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > div > span, article ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > div > span {
      white-space: nowrap; }
    article > form ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > label, article ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > label {
      padding: 0.3em 0.25em;
      vertical-align: top;
      white-space: nowrap; }
      article > form ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > label:after, article ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > label:after {
        content: ' :';
        margin-right: .5em; }
  article > form ol.properties > li.after,
  article > form ol.properties > li.before,
  article > form ol.properties > li.block,
  article > form ol.properties > li.component-objects, article ol.properties > li.after,
  article ol.properties > li.before,
  article ol.properties > li.block,
  article ol.properties > li.component-objects {
    display: block; }
  article > form ol.properties > li.block, article ol.properties > li.block {
    border: 1px solid lightgray;
    margin-top: -1px; }
  article > form ol.properties > li.block > div,
  article > form ol.properties > li.component-objects > div, article ol.properties > li.block > div,
  article ol.properties > li.component-objects > div {
    border: 1px solid lightgray; }
  article > form ol.properties > li.block > label,
  article > form ol.properties > li.component-objects > label, article ol.properties > li.block > label,
  article ol.properties > li.component-objects > label {
    background-color: #eee;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    display: block;
    padding: 0.3em 0.25em; }
  article > form ol.properties > li.multiline > div, article ol.properties > li.multiline > div {
    white-space: pre-line; }
