article > ul.data ol.properties > li:not(.component-objects) > div {
  vertical-align: top; }

article > form > ul.data ol.properties > li > div > span.set {
  display: inline-block;
  vertical-align: top; }

article > form > ul.data ol.properties > li.component-objects > label {
  cursor: pointer; }
  article > form > ul.data ol.properties > li.component-objects > label:after {
    content: '+';
    padding-right: .5em;
    position: absolute;
    right: 0; }

article > form ul.data > li, article ul.data > li {
  display: block; }
article > form ol.properties, article ol.properties {
  display: block; }
  article > form ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > div > span.unit, article ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > div > span.unit {
    vertical-align: middle;
    white-space: nowrap; }
  article > form ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > label, article ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > label {
    vertical-align: top;
    white-space: nowrap; }
    article > form ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > label:after, article ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > label:after {
      content: ' :';
      margin-right: .5em; }
  article > form ol.properties > li.after,
  article > form ol.properties > li.before,
  article > form ol.properties > li.block,
  article > form ol.properties > li.component-objects, article ol.properties > li.after,
  article ol.properties > li.before,
  article ol.properties > li.block,
  article ol.properties > li.component-objects {
    display: block; }
  article > form ol.properties > li.block, article ol.properties > li.block {
    margin-top: -1px; }
  article > form ol.properties > li.block > label,
  article > form ol.properties > li.component-objects > label, article ol.properties > li.block > label,
  article ol.properties > li.component-objects > label {
    background-color: #eee;
    display: block; }
  article > form ol.properties > li.multiline > div, article ol.properties > li.multiline > div {
    white-space: pre-line; }
article > form ul.data ul.data, article ul.data ul.data {
  overflow: hidden; }
