.properties > .block,
.component-objects {
  background-color: #f8f8f8;
  padding: 0 10px;
}
.properties > .block > div,
.component-objects > div {
  padding: 0;
}
.properties > .block > div ul.collection,
.component-objects > div ul.collection {
  border-collapse: collapse;
}
.properties > .block > div ul.collection > li,
.component-objects > div ul.collection > li {
  display: table-row-group;
}
.properties > .block > div ul.collection > li:first-child > ol > li,
.component-objects > div ul.collection > li:first-child > ol > li {
  white-space: nowrap;
}
.properties > .block > div ul.collection > li > ol,
.component-objects > div ul.collection > li > ol {
  display: table-row;
}
.properties > .block > div ul.collection > li > ol > li,
.component-objects > div ul.collection > li > ol > li {
  display: table-cell;
}
.properties > .block > div ul.collection > li > ol > li:not(.minus),
.component-objects > div ul.collection > li > ol > li:not(.minus) {
  vertical-align: top;
}
.properties > .block > div ul.collection > li > ol > li.float, .properties > .block > div ul.collection > li > ol > li.integer,
.properties > .block > div ul.collection > li > ol > li input.float,
.properties > .block > div ul.collection > li > ol > li input.integer,
.component-objects > div ul.collection > li > ol > li.float,
.component-objects > div ul.collection > li > ol > li.integer,
.component-objects > div ul.collection > li > ol > li input.float,
.component-objects > div ul.collection > li > ol > li input.integer {
  text-align: right;
  white-space: nowrap;
}
.properties > .block > div ul.collection > li > ol > li textarea,
.component-objects > div ul.collection > li > ol > li textarea {
  margin: 0;
}

article ul.data ul.collection > li.header > ol > li {
  padding: 8px;
}

article > ul.data ul.collection > li:not(.header) > ol > li {
  padding: 8px;
}
article > ul.data ul.collection > li:not(.header) > ol > li > ul.collection {
  margin: -8px;
}

article ul.data ul.map {
  display: table;
}
article ul.data ul.map > li {
  display: table-row;
}
article ul.data ul.map > li > * {
  display: table-cell;
}

article ul.data > li {
  display: block;
}

article ul.data ul.data {
  overflow: hidden;
}
