@import 'colors.scss';
@import 'responsive.scss';
@import 'sizes.scss';

.properties:not(.tiny) {
	border-collapse: separate;
	border-spacing: 10px;
	display: block;

	li {
		position: relative;

		> div, > label {
			position: relative;
		}
	}

	> :not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) {
		display: table-row;
		position: relative;

		> div > span.unit {
			white-space: nowrap;

			&:before {
				content: ' ';
			}
		}

		> label {
			font-weight: $medium;
			padding: 9px 0;
			text-align: right;
			vertical-align: top;
			white-space: nowrap;
		}

		> div, > label {
			box-sizing: border-box;
			display: table-cell;
			height: 32px;
		}
	}

	> .after,
	> .before,
	> .block,
	> .component-objects {
		display: block;
	}

	> .after,
	> .before {
		line-height: 1.5em;
		padding: 0 10px;
		white-space: pre-line;

		> div {
			display: block;
		}
	}

	> .block {
		margin-top: -1px;
	}

	> .block,
	> .component-objects {

		> label {
			background-color: #f8f8f8;
			box-sizing: border-box;
			color: var(--dark-color);
			display: block;
			font-size: 14px;
			font-weight: bold;
			height: 34px;
			padding: 10px 0;
			width: 100%;

			&:first-letter {
				text-transform: uppercase;
			}
		}
	}

	> .multiline.string > div,
	.component-objects .multiline.string {
		white-space: pre-line;
	}
}

.properties.tiny {
	padding: 10px;

	> * {
		display: block;

		label {
			display: block;
			font-weight: $medium;
			padding: 4px 0;
		}
	}
}

// output article
article > .data .properties,
article > .properties {

	> * > div {
		background: #efefef;
		border-radius: 2px;
		padding: 9px 10px;
		vertical-align: top;
	}
}
