article ol.properties > li.after > div,
article ol.properties > li.before > div {
  display: block; }
article ol.properties > li.block > div > ul,
article ol.properties > li.component-objects > div > ul {
  display: table; }
  article ol.properties > li.block > div > ul > li,
  article ol.properties > li.component-objects > div > ul > li {
    display: table-row-group; }
    article ol.properties > li.block > div > ul > li:first-child > ol > li,
    article ol.properties > li.component-objects > div > ul > li:first-child > ol > li {
      padding: 0.3em 0.25em;
      text-align: center;
      white-space: nowrap; }
    article ol.properties > li.block > div > ul > li > ol,
    article ol.properties > li.component-objects > div > ul > li > ol {
      display: table-row; }
      article ol.properties > li.block > div > ul > li > ol > li,
      article ol.properties > li.component-objects > div > ul > li > ol > li {
        display: table-cell; }
        article ol.properties > li.block > div > ul > li > ol > li.float, article ol.properties > li.block > div > ul > li > ol > li.integer,
        article ol.properties > li.block > div > ul > li > ol > li > input.float,
        article ol.properties > li.block > div > ul > li > ol > li > input.integer,
        article ol.properties > li.component-objects > div > ul > li > ol > li.float,
        article ol.properties > li.component-objects > div > ul > li > ol > li.integer,
        article ol.properties > li.component-objects > div > ul > li > ol > li > input.float,
        article ol.properties > li.component-objects > div > ul > li > ol > li > input.integer {
          text-align: right; }
