.properties:not(.tiny) {
  border-collapse: separate;
  border-spacing: 10px;
  display: block;
}
.properties:not(.tiny) li {
  position: relative;
}
.properties:not(.tiny) li > div, .properties:not(.tiny) li > label {
  position: relative;
}
.properties:not(.tiny) > :not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) {
  display: table-row;
  position: relative;
}
.properties:not(.tiny) > :not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > div > span.unit {
  white-space: nowrap;
}
.properties:not(.tiny) > :not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > div > span.unit:before {
  content: " ";
}
.properties:not(.tiny) > :not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > label {
  font-weight: 500;
  padding: 9px 0;
  text-align: right;
  vertical-align: top;
  white-space: nowrap;
}
.properties:not(.tiny) > :not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > div, .properties:not(.tiny) > :not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > label {
  box-sizing: border-box;
  display: table-cell;
  height: 32px;
}
.properties:not(.tiny) > .after,
.properties:not(.tiny) > .before,
.properties:not(.tiny) > .block,
.properties:not(.tiny) > .component-objects {
  display: block;
}
.properties:not(.tiny) > .after,
.properties:not(.tiny) > .before {
  line-height: 1.5em;
  padding: 0 10px;
  white-space: pre-line;
}
.properties:not(.tiny) > .after > div,
.properties:not(.tiny) > .before > div {
  display: block;
}
.properties:not(.tiny) > .block {
  margin-top: -1px;
}
.properties:not(.tiny) > .block > div,
.properties:not(.tiny) > .component-objects > div {
  background: #efefef;
}
.properties:not(.tiny) > .block > label,
.properties:not(.tiny) > .component-objects > label {
  background-color: #f8f8f8;
  box-sizing: border-box;
  color: var(--dark-color);
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: 34px;
  padding: 10px 0;
  width: 100%;
}
.properties:not(.tiny) > .block > label:first-letter,
.properties:not(.tiny) > .component-objects > label:first-letter {
  text-transform: uppercase;
}
.properties:not(.tiny) > .multiline > div,
.properties:not(.tiny) .collection > .data > ol > .multiline {
  white-space: pre-line;
}

.properties.tiny {
  padding: 10px;
}
.properties.tiny > * {
  display: block;
}
.properties.tiny > * label {
  display: block;
  font-weight: 500;
  padding: 4px 0;
}

article > .data .properties > * > div,
article > .properties > * > div {
  vertical-align: top;
}
article > .data .properties > :not(.component-objects) > div,
article > .properties > :not(.component-objects) > div {
  background: #efefef;
  border-radius: 2px;
}
article > .data .properties > :not(.component-objects):not(.objects) > div,
article > .properties > :not(.component-objects):not(.objects) > div {
  padding: 9px 10px;
}
article > .data .properties > .float > div,
article > .data .properties > .integer > div,
article > .properties > .float > div,
article > .properties > .integer > div {
  text-align: right;
}
