ol.properties:not(.tiny),
ul.properties:not(.tiny),
.data.property,
.property > table {
  border-collapse: separate;
  border-spacing: 10px; }

ol.properties:not(.tiny),
ul.properties:not(.tiny) {
  display: block; }

ol.properties:not(.tiny) li,
ul.properties:not(.tiny) li,
.property:not(a):not(th):not(td):not(.tiny) {
  position: relative; }
  ol.properties:not(.tiny) li > div, ol.properties:not(.tiny) li > h3, ol.properties:not(.tiny) li > h4, ol.properties:not(.tiny) li > h5, ol.properties:not(.tiny) li > label,
  ul.properties:not(.tiny) li > div,
  ul.properties:not(.tiny) li > h3,
  ul.properties:not(.tiny) li > h4,
  ul.properties:not(.tiny) li > h5,
  ul.properties:not(.tiny) li > label,
  .property:not(a):not(th):not(td):not(.tiny) > div,
  .property:not(a):not(th):not(td):not(.tiny) > h3,
  .property:not(a):not(th):not(td):not(.tiny) > h4,
  .property:not(a):not(th):not(td):not(.tiny) > h5,
  .property:not(a):not(th):not(td):not(.tiny) > label {
    position: relative; }

ol.properties:not(.tiny) > *:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects),
ul.properties:not(.tiny) > *:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects),
.property:not(a):not(span):not(th):not(td):not(.tiny):not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) {
  display: table-row;
  position: relative; }
  ol.properties:not(.tiny) > *:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > h3, ol.properties:not(.tiny) > *:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > h4, ol.properties:not(.tiny) > *:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > h5, ol.properties:not(.tiny) > *:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > label,
  ul.properties:not(.tiny) > *:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > h3,
  ul.properties:not(.tiny) > *:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > h4,
  ul.properties:not(.tiny) > *:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > h5,
  ul.properties:not(.tiny) > *:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > label,
  .property:not(a):not(span):not(th):not(td):not(.tiny):not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > h3,
  .property:not(a):not(span):not(th):not(td):not(.tiny):not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > h4,
  .property:not(a):not(span):not(th):not(td):not(.tiny):not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > h5,
  .property:not(a):not(span):not(th):not(td):not(.tiny):not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > label {
    font-weight: 500;
    padding: 9px 0;
    text-align: right;
    vertical-align: top;
    white-space: nowrap; }
  ol.properties:not(.tiny) > *:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > h3, ol.properties:not(.tiny) > *:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > h4, ol.properties:not(.tiny) > *:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > h5, ol.properties:not(.tiny) > *:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > div, ol.properties:not(.tiny) > *:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > label,
  ul.properties:not(.tiny) > *:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > h3,
  ul.properties:not(.tiny) > *:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > h4,
  ul.properties:not(.tiny) > *:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > h5,
  ul.properties:not(.tiny) > *:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > div,
  ul.properties:not(.tiny) > *:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > label,
  .property:not(a):not(span):not(th):not(td):not(.tiny):not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > h3,
  .property:not(a):not(span):not(th):not(td):not(.tiny):not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > h4,
  .property:not(a):not(span):not(th):not(td):not(.tiny):not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > h5,
  .property:not(a):not(span):not(th):not(td):not(.tiny):not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > div,
  .property:not(a):not(span):not(th):not(td):not(.tiny):not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) > label {
    box-sizing: border-box;
    display: table-cell;
    height: 32px; }
ol.properties:not(.tiny) > *.after, ol.properties:not(.tiny) > *.before, ol.properties:not(.tiny) > *.block,
ul.properties:not(.tiny) > *.after,
ul.properties:not(.tiny) > *.before,
ul.properties:not(.tiny) > *.block,
.property:not(a):not(span):not(th):not(td):not(.tiny).after,
.property:not(a):not(span):not(th):not(td):not(.tiny).before,
.property:not(a):not(span):not(th):not(td):not(.tiny).block {
  display: block; }
ol.properties:not(.tiny) > *.after, ol.properties:not(.tiny) > *.before,
ul.properties:not(.tiny) > *.after,
ul.properties:not(.tiny) > *.before,
.property:not(a):not(span):not(th):not(td):not(.tiny).after,
.property:not(a):not(span):not(th):not(td):not(.tiny).before {
  line-height: 1.5em;
  padding: 0 10px;
  white-space: pre-line; }
  ol.properties:not(.tiny) > *.after > div, ol.properties:not(.tiny) > *.before > div,
  ul.properties:not(.tiny) > *.after > div,
  ul.properties:not(.tiny) > *.before > div,
  .property:not(a):not(span):not(th):not(td):not(.tiny).after > div,
  .property:not(a):not(span):not(th):not(td):not(.tiny).before > div {
    display: block; }
ol.properties:not(.tiny) > *.block,
ul.properties:not(.tiny) > *.block,
.property:not(a):not(span):not(th):not(td):not(.tiny).block {
  margin-top: -1px; }
  ol.properties:not(.tiny) > *.block > h3, ol.properties:not(.tiny) > *.block > h4, ol.properties:not(.tiny) > *.block > h5, ol.properties:not(.tiny) > *.block > label,
  ul.properties:not(.tiny) > *.block > h3,
  ul.properties:not(.tiny) > *.block > h4,
  ul.properties:not(.tiny) > *.block > h5,
  ul.properties:not(.tiny) > *.block > label,
  .property:not(a):not(span):not(th):not(td):not(.tiny).block > h3,
  .property:not(a):not(span):not(th):not(td):not(.tiny).block > h4,
  .property:not(a):not(span):not(th):not(td):not(.tiny).block > h5,
  .property:not(a):not(span):not(th):not(td):not(.tiny).block > label {
    background-color: #f8f8f8;
    box-sizing: border-box;
    color: var(--dark-color);
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 34px;
    padding: 10px 0;
    width: 100%; }
    ol.properties:not(.tiny) > *.block > h3:first-letter, ol.properties:not(.tiny) > *.block > h4:first-letter, ol.properties:not(.tiny) > *.block > h5:first-letter, ol.properties:not(.tiny) > *.block > label:first-letter,
    ul.properties:not(.tiny) > *.block > h3:first-letter,
    ul.properties:not(.tiny) > *.block > h4:first-letter,
    ul.properties:not(.tiny) > *.block > h5:first-letter,
    ul.properties:not(.tiny) > *.block > label:first-letter,
    .property:not(a):not(span):not(th):not(td):not(.tiny).block > h3:first-letter,
    .property:not(a):not(span):not(th):not(td):not(.tiny).block > h4:first-letter,
    .property:not(a):not(span):not(th):not(td):not(.tiny).block > h5:first-letter,
    .property:not(a):not(span):not(th):not(td):not(.tiny).block > label:first-letter {
      text-transform: uppercase; }
ol.properties:not(.tiny) > *.multiline.string > div,
ul.properties:not(.tiny) > *.multiline.string > div,
.property:not(a):not(span):not(th):not(td):not(.tiny).multiline.string > div {
  white-space: pre-line; }

ol.properties.tiny,
ul.properties.tiny {
  padding: 10px; }

ol.properties.tiny > *,
ul.properties.tiny > *,
.property.tiny {
  display: block; }
  ol.properties.tiny > * h3, ol.properties.tiny > * h4, ol.properties.tiny > * h5, ol.properties.tiny > * label,
  ul.properties.tiny > * h3,
  ul.properties.tiny > * h4,
  ul.properties.tiny > * h5,
  ul.properties.tiny > * label,
  .property.tiny h3,
  .property.tiny h4,
  .property.tiny h5,
  .property.tiny label {
    display: block;
    font-weight: 500;
    padding: 4px 0; }

article > .data ol.properties > * > div,
article > .data ul.properties > * > div,
article > ol.properties > * > div,
article > ul.properties > * > div,
.property:not(a):not(th):not(td) > div {
  background: #efefef;
  border-radius: 2px;
  padding: 9px 10px;
  vertical-align: top; }

.unit {
  white-space: nowrap; }

article > .data .unit:before {
  content: ' '; }
