@import 'colors.scss';
@import 'sizes.scss';

.properties > li.block {
	background-color: #f8f8f8;
	padding: 0 10px;
}

article ul.data > li {
	display: block;
}

article ul.data ul.data {
	// allow li with float and clear
	overflow: hidden;
}
