@import 'colors.scss';
@import 'responsive.scss';
@import 'sizes.scss';

ol.properties:not(.tiny),
ul.properties:not(.tiny),
.data.property,
.property > table {
	border-collapse: separate;
	border-spacing: 10px;
}

ol.properties:not(.tiny),
ul.properties:not(.tiny) {
	display: block;
}

ol.properties:not(.tiny) li,
ul.properties:not(.tiny) li,
.property:not(a):not(th):not(td):not(.tiny) {
	position: relative;

	> div, > h3, > h4, > h5, > label {
		position: relative;
	}
}

ol.properties:not(.tiny) > *,
ul.properties:not(.tiny) > *,
.property:not(a):not(span):not(th):not(td):not(.tiny) {

	&:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) {
		display: table-row;
		position: relative;

		> h3, > h4, > h5, > label {
			font-weight: $medium;
			padding: 9px 0;
			text-align: right;
			vertical-align: top;
			white-space: nowrap;
		}

		> h3, > h4, > h5, > div, > label {
			box-sizing: border-box;
			display: table-cell;
			height: 32px;
		}
	}

	&.after,
	&.before,
	&.block {
		display: block;
	}

	&.after,
	&.before {
		line-height: 1.5em;
		padding: 0 10px;
		white-space: pre-line;

		> div {
			display: block;
		}
	}

	&.block {
		margin-top: -1px;

		> h3, > h4, > h5, > label {
			background-color: #f8f8f8;
			box-sizing: border-box;
			color: var(--dark-color);
			display: block;
			font-size: 14px;
			font-weight: bold;
			height: 34px;
			padding: 10px 0;
			width: 100%;

			&:first-letter {
				text-transform: uppercase;
			}
		}
	}

	&.multiline.string > div {
		white-space: pre-line;
	}
}

ol.properties.tiny,
ul.properties.tiny {
	padding: 10px;
}

ol.properties.tiny > *,
ul.properties.tiny > *,
.property.tiny {
	display: block;

	h3, h4, h5, label {
		display: block;
		font-weight: $medium;
		padding: 4px 0;
	}
}

// output article
article > .data ol.properties > * > div,
article > .data ul.properties > * > div,
article > ol.properties > * > div,
article > ul.properties > * > div,
.property:not(a):not(th):not(td) > div {
	background: #efefef;
	border-radius: 2px;
	padding: 9px 10px;
	vertical-align: top;
}

.unit {
	white-space: nowrap;
}

article > .data .unit:before {
	content: ' ';
}
