article ol.properties > li.block,
article ol.properties > li.component-objects {
  background-color: #f8f8f8;
  padding: 0 10px; }
  article ol.properties > li.block > div,
  article ol.properties > li.component-objects > div {
    padding: 0; }
    article ol.properties > li.block > div ul.collection,
    article ol.properties > li.component-objects > div ul.collection {
      border-collapse: collapse; }
      article ol.properties > li.block > div ul.collection > li,
      article ol.properties > li.component-objects > div ul.collection > li {
        display: table-row-group; }
        article ol.properties > li.block > div ul.collection > li:first-child > ol > li,
        article ol.properties > li.component-objects > div ul.collection > li:first-child > ol > li {
          white-space: nowrap; }
        article ol.properties > li.block > div ul.collection > li > ol,
        article ol.properties > li.component-objects > div ul.collection > li > ol {
          display: table-row; }
          article ol.properties > li.block > div ul.collection > li > ol > li,
          article ol.properties > li.component-objects > div ul.collection > li > ol > li {
            display: table-cell; }
            article ol.properties > li.block > div ul.collection > li > ol > li:not(.minus),
            article ol.properties > li.component-objects > div ul.collection > li > ol > li:not(.minus) {
              vertical-align: top; }
            article ol.properties > li.block > div ul.collection > li > ol > li.float, article ol.properties > li.block > div ul.collection > li > ol > li.integer,
            article ol.properties > li.block > div ul.collection > li > ol > li input.float,
            article ol.properties > li.block > div ul.collection > li > ol > li input.integer,
            article ol.properties > li.component-objects > div ul.collection > li > ol > li.float,
            article ol.properties > li.component-objects > div ul.collection > li > ol > li.integer,
            article ol.properties > li.component-objects > div ul.collection > li > ol > li input.float,
            article ol.properties > li.component-objects > div ul.collection > li > ol > li input.integer {
              text-align: right; }
            article ol.properties > li.block > div ul.collection > li > ol > li textarea,
            article ol.properties > li.component-objects > div ul.collection > li > ol > li textarea {
              margin: 0; }

article > ul.data ul.collection > li > ol > li {
  padding: 8px; }

article ul.data ul.map {
  display: table; }
  article ul.data ul.map > li {
    display: table-row; }
    article ul.data ul.map > li > * {
      display: table-cell; }

article ul.data > li {
  display: block; }

article ul.data ul.data {
  overflow: hidden; }
