@import 'colors.scss';
@import 'sizes.scss';

article ol.properties {

	> li.after,
	> li.before {

		> div {
			display: block;
		}
	}

	> li.block,
	> li.component-objects {

		ul.collection {
			display: table;

			> li {
				display: table-row-group;

				&:first-child > ol > li {
					text-align: center;
					white-space: nowrap;
				}

				> ol {
					display: table-row;

					> li {
						display: table-cell;
						vertical-align: top;

						&.float,
						&.integer,
						input.float,
						input.integer {
							text-align: right;
						}

						textarea {
							margin: 0;
						}
					}
				}
			}
		}
	}
}

article > ul.data ul.collection > li > ol > li {
	padding: .25em;
}

article ul.data ul.map {
	display: table;

	> li {
		display: table-row;

		> * {
			display: table-cell;
		}
	}
}
