.component-objects > div > .collection > li {
  border-bottom: 1px solid #d8d8d8;
  display: block;
}
.component-objects > div > .collection > li.header {
  background-color: #efefef;
}
.component-objects > div > .collection > li.header > ol {
  box-shadow: inset 0 -1px #d8d8d8;
}
.component-objects > div > .collection > li.header > ol > li {
  color: #333;
  font-weight: 500;
  padding: 4px 10px;
}
.component-objects > div > .collection > li:not(.header):nth-child(even) {
  background-color: #efefef;
}
.component-objects > div > .collection > li:not(.header):nth-child(odd) {
  background-color: #e8e8e8;
}
.component-objects > div > .collection > li > ol > li > input, .component-objects > div > .collection > li > ol > li > select, .component-objects > div > .collection > li > ol > li > textarea {
  border: none !important;
  box-sizing: border-box;
  color: black;
  width: 100%;
}
.component-objects > div > .collection > li > ol > li > input:not([type=checkbox]):not([type=radio]), .component-objects > div > .collection > li > ol > li > select:not([type=checkbox]):not([type=radio]), .component-objects > div > .collection > li > ol > li > textarea:not([type=checkbox]):not([type=radio]) {
  min-height: 30px;
}
.component-objects > div > .collection > li > ol > li > input[readonly], .component-objects > div > .collection > li > ol > li > select[readonly], .component-objects > div > .collection > li > ol > li > textarea[readonly] {
  background: transparent;
}
.component-objects > div > .collection > li > ol > li > input:not([readonly]), .component-objects > div > .collection > li > ol > li > select:not([readonly]), .component-objects > div > .collection > li > ol > li > textarea:not([readonly]) {
  background: white;
}
.component-objects > div > .collection > li > ol > li > select {
  min-width: 34px;
}
.component-objects > div > .collection > li > ol > li.float, .component-objects > div > .collection > li > ol > li.float > div > input, .component-objects > div > .collection > li > ol > li.integer, .component-objects > div > .collection > li > ol > li.integer > div > input {
  text-align: right;
}
