@import 'colors.scss';
@import 'responsive.scss';
@import 'sizes.scss';

article > ul.data ol.properties > li:not(.component-objects) {

	> div {
		vertical-align: top;
	}
}

article > form > ul.data ol.properties > li > div > span {

	&.set {
		display: inline-block;
		vertical-align: top;
	}
}

article > form > ul.data ol.properties > li.component-objects > label {
	cursor: pointer;

	&:after {
		content: '+';
		padding-right: .5em;
		position: absolute;
		right: 0;
	}
}

article > form, article {

	ul.data > li {
		display: block;
	}

	ol.properties {
		display: block;

		> li:not(.after):not(.before):not(.block):not(.hidden):not(.component-objects) {

			> div > span.unit {
				vertical-align: middle;
				white-space: nowrap;
			}

			> label {
				vertical-align: top;
				white-space: nowrap;

				&:after {
					content: ' :';
					margin-right: .5em;
				}
			}
		}

		> li.after,
		> li.before,
		> li.block,
		> li.component-objects {
			display: block;
		}

		> li.block {
			margin-top: -1px;
		}

		> li.block,
		> li.component-objects {

			> label {
				background-color: #eee;
				display: block;
			}
		}

		> li.multiline > div {
			white-space: pre-line;
		}
	}

	ul.data ul.data {
		// allow li with float and clear
		overflow: hidden;
	}
}
