.plugins.list.window {
  min-width: 600px;
  position: absolute; }
  .plugins.list.window > .application.plugins {
    float: right; }
  .plugins.list.window > .available.plugins {
    float: left; }
  .plugins.list.window > .plugins {
    display: inline-block;
    width: 33%; }
    .plugins.list.window > .plugins > .plugin {
      border: 1px solid darkgrey;
      border-radius: 3px;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
      margin: 0 4px 4px; }
      .plugins.list.window > .plugins > .plugin > h3 {
        background-color: lightgrey;
        border-bottom: 1px solid darkgrey;
        color: #303030;
        font-size: 1.1em;
        padding: 4px; }
      .plugins.list.window > .plugins > .plugin > img {
        background: #FAFAFA url("img/plugin64.png") center no-repeat;
        border-right: 1px solid darkgrey;
        float: left;
        height: 64px;
        padding: 0 4px;
        width: 64px; }
      .plugins.list.window > .plugins > .plugin .summary {
        height: 60px;
        overflow: hidden;
        padding: 2px; }
      .plugins.list.window > .plugins > .plugin .project {
        border-top: 1px solid darkgrey;
        background-color: #f5f5f5;
        color: darkgrey;
        padding: 1px 2px; }
      .plugins.list.window > .plugins > .plugin > a {
        background: lightgrey url("img/add_transparent.png") bottom right no-repeat;
        border: 1px solid darkgrey;
        border-top-left-radius: 32px;
        border-bottom-right-radius: 3px;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.05);
        color: transparent;
        display: inline-block;
        float: right;
        font-size: 1px;
        height: 16px;
        margin-top: -17px;
        margin-right: -1px;
        width: 20px; }
        .plugins.list.window > .plugins > .plugin > a:hover {
          border-color: lightcoral;
          box-shadow: 0 0 1px 1px rgba(255, 0, 0, 0.2); }
      .plugins.list.window > .plugins > .plugin.active > a {
        background: lawngreen url("img/remove_transparent.png") bottom right no-repeat; }
  .plugins.list.window > .selected.plugin {
    display: inline-block;
    width: 33%; }
