.func_select,
.property_select {
  border: 1px solid lightgray;
  display: inline-block;
  top: 1.5em;
  white-space: nowrap; }
  .func_select > h3,
  .property_select > h3 {
    display: none; }
  .func_select > .search > input,
  .property_select > .search > input {
    min-width: 100%; }
  .func_select > .search > label,
  .property_select > .search > label {
    display: none; }
  .func_select ul > li,
  .property_select ul > li {
    display: block; }
    .func_select ul > li.class,
    .property_select ul > li.class {
      padding-left: 1em; }
    .func_select ul > li:not(.class),
    .property_select ul > li:not(.class) {
      padding: .2em 0 .2em 1em; }
      .func_select ul > li:not(.class):hover,
      .property_select ul > li:not(.class):hover {
        background-color: #aedc5f;
        color: white; }
    .func_select ul > li.separator,
    .property_select ul > li.separator {
      border-top: 1px solid lightgray; }
    .func_select ul > li.ui-draggable-handle,
    .property_select ul > li.ui-draggable-handle {
      cursor: grab; }
    .func_select ul > li > a,
    .property_select ul > li > a {
      background-position: .3em center;
      background-repeat: no-repeat;
      display: block;
      font-weight: bold;
      margin-left: -1em;
      padding: .2em 0 .2em 1em; }
      .func_select ul > li > a.expanded,
      .property_select ul > li > a.expanded {
        background-image: url("../default/img/tree/minus.png"); }
      .func_select ul > li > a:not(.expanded),
      .property_select ul > li > a:not(.expanded) {
        background-image: url("../default/img/tree/plus.png"); }
  .func_select > ul,
  .property_select > ul {
    border-top: 1px solid lightgray; }

.object.ui-draggable-dragging,
:not(article.model.edit .editor) .property.ui-draggable-dragging {
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid lightgray;
  font-weight: bold;
  padding: 0.25em; }

.insert-bottom {
  border-bottom: 3px solid #aedc5f !important; }

.insert-left {
  border-left: 3px solid #aedc5f !important; }

.insert-right {
  border-right: 3px solid #aedc5f !important; }

.insert-top {
  border-top: 3px solid #aedc5f !important; }
