@import 'colors.scss';
@import 'sizes.scss';

div#column_select.popup {
	bottom: 0;
	overflow: hidden;
}

.func-select,
.property-select {
	background-color: white;
	border-left: 1px solid #d0d0d0;
	box-sizing: border-box;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;

	> h3 {
		display: none;
	}

	> .search {
		background: linear-gradient(to bottom, #f8f8f8 50%, #efefef);
		border-bottom: 1px solid #ccc;
		position: relative;

		> input {
			background: white !important;
			border: none !important;
			width: calc(100% - 20px) !important;
		}

		> label {
			display: none;
		}
	}

	> .tree {
		height: calc(100% - 21px);
		overflow-x: hidden;
		overflow-y: auto;
	}

	ul {

		> li {
			display: block;
			position: relative;

			> a {
				box-sizing: border-box;
				height: 28px;
				margin: 1px 0;
			}

			> a.expand {
				display: inline-block;
				font-size: 0;
				position: absolute;
				right: 0;
				top: 0;
				width: 16px;
			}

			> a.property {
				cursor: grab;
				display: block;
				padding: 8px 10px 0;
			}

			&:not(.expanded) > a.expand {
				background: url('../default/img/tree/plus.png') center no-repeat;
			}

			&.expanded {
				background-color: #efefef;

				> a.expand {
					background: url('../default/img/tree/minus.png') center no-repeat;
				}

				> a.property {
					font-size: 14px;
					font-style: italic;
					padding-top: 7px;
				}
			}

			div {
				background-color: white;
			}
		}
	}
}

.object.ui-draggable-dragging,
:not(article.model.edit .editor) .property.ui-draggable-dragging {
	background: rgba(255, 255, 255, .6);
	font-weight: bold;
}
