@import "colors.scss";

.func_select,
.property_select {
	background-color: #DCDCDD;
	border: solid 1px #606060;
	border-radius: 0 2px 2px;
	display: inline-block;
	padding: 2px 8px 2px 2px;
	text-align: left;
	z-index: 1;

	.joint {
		background-color: #DCDCDD;
		display: inline-block;
		height: 1px;
		left: 1px;
		position: absolute;
		top: -1px;
		width: 22px;
	}

	> input {
		margin: 0 0 3px;
		width: 100%;
	}

	> label {
		display: none;
	}

	ul {
		background-color: white;
		border-radius: 2px;
		list-style: none;

		> li {
			background: url("img/tree/string-right.png") 8px -2px no-repeat;
			cursor: default;
			font-weight: normal;
			line-height: 1em;
			margin: 0 0 2px;
			padding-left: 18px;

			&:last-child {
				background: url("img/tree/string-last.png") 8px -2px no-repeat;
			}

			&:hover {
				background-color: $hover;
			}

			&.separator {
				border-top: 1px solid darkgray;
				margin: 2px 0;
			}

			&.ui-draggable-handle {
				cursor: grab;
			}

			> a {
				background: url("img/tree/plus.png") 4px 2px no-repeat;
				color: black;
				cursor: pointer;
				display: block;
				font-weight: bold;
				margin-left: -18px;
				padding-left: 18px;
				text-decoration: none;
				white-space: nowrap;

				&.expanded {
					background: url("img/tree/minus.png") 4px 2px no-repeat;
				}
			}

			span {
				display: block;
				&:hover {
					background-color: $hover;
				}
			}

			> section > ul {
				margin-left: -18px;
				padding-left: 18px;
			}
		}
	}
}

.object.ui-draggable-dragging,
:not(.model.edit.window .editor) .property.ui-draggable-dragging {
	background: rgba(255, 255, 255, .6);
	border: 1px solid grey;
	border-radius: 3px;
	color: black;
	font-weight: bold;
	padding: 4px;
}

.insert-bottom {
	border-bottom: 3px solid $hover;
}

.insert-left {
	border-left: 3px solid $hover;
}

.insert-right {
	border-right: 3px solid $hover;
}

.insert-top {
	border-top: 3px solid $hover;
}
