div#column_select.popup {
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto; }

.func_select,
.property_select {
  border-left: 1px solid #d0d0d0;
  box-shadow: 0 -5px 5px -3px rgba(216, 216, 216, 0.4);
  box-sizing: border-box;
  height: 100%;
  white-space: nowrap; }
  .func_select > h3,
  .property_select > h3 {
    display: none; }
  .func_select > .search > input,
  .property_select > .search > input {
    background: white;
    box-sizing: border-box;
    width: 100%; }
  .func_select > .search > label,
  .property_select > .search > label {
    display: none; }
  .func_select ul > li,
  .property_select ul > li {
    display: block; }
    .func_select ul > li.class,
    .property_select ul > li.class {
      padding-left: 1em; }
    .func_select ul > li:not(.class),
    .property_select ul > li:not(.class) {
      padding: .2em 0 .2em 1em; }
    .func_select ul > li.ui-draggable-handle,
    .property_select ul > li.ui-draggable-handle {
      cursor: grab; }
    .func_select ul > li > a,
    .property_select ul > li > a {
      background-position: .3em center;
      background-repeat: no-repeat;
      display: block;
      font-weight: bold;
      margin-left: -1em;
      padding: .2em 0 .2em 1em; }
      .func_select ul > li > a.expanded,
      .property_select ul > li > a.expanded {
        background-image: url("../default/img/tree/minus.png"); }
      .func_select ul > li > a:not(.expanded),
      .property_select ul > li > a:not(.expanded) {
        background-image: url("../default/img/tree/plus.png"); }

.object.ui-draggable-dragging,
:not(article.model.edit .editor) .property.ui-draggable-dragging {
  background: rgba(255, 255, 255, 0.6);
  font-weight: bold; }
