.ql-container {
	background: white;
	height: initial;

	strong {
		font-weight: bold;
	}

	.ql-editor {
		// white-space: initial; // this allows text-align: justify but removes spaces during typing

		table {
			table-layout: initial;
		}
	}
}

.ql-table-tools {
	left: 0;
	position: absolute;
	top: 0;

	li {
		list-style: none;
		position: absolute !important;

		button {
			font-size: 0;
			height: 24px;
			width: 24px;
		}

		&.ql-table-delete button {
			background: url('img/delete-table.svg');
		}
		&.ql-table-delete-column button {
			background: url('img/remove.svg');
		}
		&.ql-table-delete-row button {
			background: url('img/remove.svg');
		}
		&.ql-table-insert-column-left button {
			background: url('img/insert-column-left.svg');
		}
		&.ql-table-insert-column-right button {
			background: url('img/insert-column-right.svg');
		}
		&.ql-table-insert-row-above button {
			background: url('img/insert-row-above.svg');
		}
		&.ql-table-insert-row-below button {
			background: url('img/insert-row-below.svg');
		}
	}
}

.ql-toolbar {
	background: white;

	&:after, .ql-formats:after {
		display: none !important;
	}

	.ql-header.ql-picker {
		.ql-picker-item:before, .ql-picker-label:before {
			color: transparent;
		}
	}

	button {
		height: 18px !important;
	}

	svg {
		filter: brightness(110%);
	}

	.ql-code > svg {
		background-color: #f0f0f0;
	}

	.ql-code-block > svg {
		background-color: #23241f;

		line, polyline {
			stroke: #f0f0f0;
		}
	}
}

li.multiline.string > ol {
	padding-left: 3em;

	> li[data-list="bullet"] {
		list-style: disc;
	}
}
