
// Style

$weight: 12px;

.scrollbar {
	background: #d8d8d8;
	border: 1px solid #f8f8f8;

	.bar {
		background: #999;
	}
}

// Layout
// - The container must have position: relative;

.scrollbar {

	&, * {
		position: absolute;
	}

	&.horizontal {
		bottom: 0;
		height: $weight;
		width: 100%;

		* {
			height: 100%;
		}

		> .next, >.previous {
			width: $weight;
		}

		> .next {
			right: 0;
		}

		> .previous {
			left: 0;
		}

		> .scroll {
			width: calc(100% - #{$weight * 2});
		}
	}

	&.vertical {
		height: 100%;
		right: 0;
		width: $weight;

		* {
			width: 100%;
		}

		> .next, > .previous {
			height: $weight;
		}

		> .next {
			bottom: 0;
		}

		> .previous {
			top: 0;
		}

		> .scroll {
			height: calc(100% - #{$weight * 2});
		}
	}

}
