
// Style

$border: 1px;
$weight: 18px;

.scrollbar {
	background: #d8d8d8;
	border: $border solid #f2f2f2;

	&.angle {
		background: #f2f2f2;
	}

	&.horizontal {
		border-bottom-width: 8px;
		border-top-width: 8px;
	}

	&.vertical {
		border-left-width: 8px;
		border-right-width: 8px;
	}

	.bar {
		background: #999;
		border-radius: 2px;

		&.hover {
			background: #666;
		}

		&.moving {
			background: #2a76c6;
		}
	}
}

// Layout
// - The container must have position: relative;

.scrollbar {
	--weight: #{$weight + ($border * 2)};
	box-sizing: border-box;
	display: none;
	height: 100%;
	width: 100%;
	position: relative;

	&, * {
		position: absolute;
	}

	&.angle {
		grid-area: angle;
	}

	&.horizontal {
		grid-area: horizontal;

		* {
			height: 100%;
		}

		> .next, >.previous {
			width: $weight;
		}

		> .next {
			right: 0;
		}

		> .previous {
			left: 0;
		}

		> .scroll {
			width: calc(100% - #{$weight * 2});
		}
	}

	&.vertical {
		grid-area: vertical;

		* {
			width: 100%;
		}

		> .next, > .previous {
			height: $weight;
		}

		> .next {
			bottom: 0;
		}

		> .previous {
			top: 0;
		}

		> .scroll {
			height: calc(100% - #{$weight * 2});
		}
	}

}
