$font-size: 12px;

$section-border-size: 2px;
$menu-section-width: 256px - $section-border-size;
$contextual-section-width: 256px - $section-border-size;

$input-border-radius: 2px;
$input-border-size: 1px;
$input-height: 30px;
$input-padding: 10px;

//-------------------------------------------------------------------------------------------------

$action-horizontal-padding: .25em;
$action-vertical-padding: .3em;

$actions-horizontal-margin: 0;
$actions-vertical-margin: .3em;

$article-head-height: $font-size * 2;
$article-head-padding: .5em;

$head-height: $font-size * 3;

$list-horizontal-padding: $action-horizontal-padding;
$list-vertical-padding: $action-vertical-padding;

$menu-head-horizontal-padding: $action-horizontal-padding;
$menu-head-vertical-padding: $action-vertical-padding;

$menu-item-horizontal-padding: $action-horizontal-padding;
$menu-item-vertical-padding: $action-vertical-padding;

$property-label-horizontal-padding: $action-horizontal-padding;
$property-label-vertical-padding: $action-vertical-padding;

$window-padding: .5em;
