
// html components

$font-size: 12px;

$input-border-radius: 2px;
$input-border-size: 1px;
$input-height: 30px;
$input-padding: 10px;

// actions

$actions-height: 40px;

// sections

$section-border-size: 2px;

$menu-width: 206px;
$main-width: calc(100% - #{$menu-width});
$contextual-width: $menu-width - $section-border-size;

// main section

$header-height: 64px;
$favorites-height: 28px;
$main-height: calc(100% - #{$header-height} - #{$favorites-height});

// article

$article-favorites-height: 34px;
$article-header-height: $favorites-height + $actions-height;

// list

$list-footer-height: $actions-height - 1px;
$list-form-height: 100%;

// titles

$content-title-font-size: 16px;
