@import 'colors.scss';
@import 'sizes.scss';

.ui-tabber {

	> .ui-tabber-tabs {
		border-bottom: 1px solid #575757;
		font-size: 0;

		> .ui-tabber-tab {
			background-color: #eee;
			border-left: $thin-border;
			border-right: $thin-border;
			border-top: $thin-border;
			cursor: pointer;
			display: inline-block;
			margin: 0 0 0 -1px;

			> a {
				display: block;
				font-size: $font-size;
				padding: .3em .6em;
			}

			&.active,
			&:hover {
				background: white;
				margin-bottom: -1px;
				padding-bottom: 1px;
			}
		}
	}

	> .ui-tabber-page {
		display: none;

		&.active {
			display: block;
		}
	}
}

