.ui-tabber > .ui-tabber-tabs {
  border-bottom: 1px solid #575757;
  font-size: 0; }
  .ui-tabber > .ui-tabber-tabs > .ui-tabber-tab {
    background-color: #eee;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    cursor: pointer;
    display: inline-block;
    margin: 0 0 0 -1px; }
    .ui-tabber > .ui-tabber-tabs > .ui-tabber-tab > a {
      display: block;
      font-size: 18px;
      padding: .3em .6em; }
    .ui-tabber > .ui-tabber-tabs > .ui-tabber-tab.active, .ui-tabber > .ui-tabber-tabs > .ui-tabber-tab:hover {
      background: white;
      margin-bottom: -1px;
      padding-bottom: 1px; }
.ui-tabber > .ui-tabber-page {
  display: none; }
  .ui-tabber > .ui-tabber-page.active {
    display: block; }
