.ui-tabber-page {
  display: none; }
  .ui-tabber-page.active {
    display: block; }
  .ui-tabber-page > h2, .ui-tabber-page > h3, .ui-tabber-page > h4, .ui-tabber-page > h5 {
    display: none; }

.ui-tabber-tab {
  background-color: #eee;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin: 0 0 0 -1px; }
  .ui-tabber-tab.active, .ui-tabber-tab:hover {
    background: white;
    margin-bottom: -1px;
    padding-bottom: 1px; }
  .ui-tabber-tab > a {
    display: block;
    padding: .3em .6em; }

.ui-tabber-tabs {
  border-bottom: 1px solid #575757;
  font-size: 0; }
