.ui-tabber {
	margin: 8px 0 2px;
	padding: 0;

	> .ui-tabber-tabs {
		border-bottom: 1px solid #575757;
		margin-bottom: 6px;

		> .ui-tabber-tab {
			background-color: #f3f4f4;
			border: 1px solid #B9BBBD;
			border-bottom: none;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			color: #1c2e6c;
			cursor: pointer;
			display: inline-block;
			margin: 0;

			> a {
				color: #1c2e6c;
				display: block;
				font-size: 11px;
				font-weight: bold;
				height: auto;
				padding: 5px 10px;
				text-decoration: none;
			}

			&.active,
			&:hover {
				background: url("img/tab_background.png") -10px;
				margin-bottom: -1px;
				padding-bottom: 1px;
			}

			&.active > a {
				color: black;
			}
		}
	}

	> .ui-tabber-page {
		display: none;

		&.active {
			display: block;
		}
	}
}

