@mixin tab($back-element-color, $color: transparent) {
	border-top-left-radius: 4px;
	display: inline-block;
	position: relative;

	&:after {
		border-right: 3px solid $back-element-color;
		border-top: 3px solid $back-element-color;
		border-left: 4px solid $color;
		border-bottom: 4px solid $color;
		content: '';
		height: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 0;
	}
}
