.data.translation.window > fieldset:not([class]) {
  display: table; }
  .data.translation.window > fieldset:not([class]) > ul {
    display: table-row-group; }
    .data.translation.window > fieldset:not([class]) > ul > li {
      display: table-row; }
      .data.translation.window > fieldset:not([class]) > ul > li > input, .data.translation.window > fieldset:not([class]) > ul > li > label {
        display: table-cell; }
      .data.translation.window > fieldset:not([class]) > ul > li > label {
        padding: 3px .5em 0 0;
        vertical-align: top; }
        .data.translation.window > fieldset:not([class]) > ul > li > label > img {
          height: 20px;
          vertical-align: top; }
