.float,
.float > a,
.float > div > input,
.integer,
.integer > a,
.integer > div > input {
  text-align: right;
  white-space: nowrap;
}
.float > div,
.integer > div {
  text-align: initial;
}

article > .data .float > div,
article > .data .integer > div {
  text-align: right;
  white-space: nowrap;
}
