@import 'sizes.scss';

body.user.login > header > .top.bar {
	display: none !important;
}

article.user.login > form > ul.actions {
	text-align: right;
}

section.connected.user {

	> a {
		color: #eee;
		padding: $action-vertical-padding $action-horizontal-padding;
	}

	> a > .disconnect,
	> h3,
	> .user {
		display: none;
	}
}

.user.disconnect > h2 {
	display: none;
}
