@import 'colors.scss';
@import 'mixins.scss';

article.password.reset,
article.user.login {
	background: #efefef;
	display: block;
	text-align: center;

	> h2 {
		border-bottom: 1px solid #d8d8d8;
		box-sizing: border-box;
		font-size: 16px;
		font-weight: $medium;
		height: 64px;
		padding: 24px 10px 0 10px;
	}

	> form {
		display: inline-block;
		overflow: initial;
		padding-top: 82px;
		position: relative;
		width: 256px;

		> * {
			display: block;

			> li {
				display: block;
				margin: 0;
				position: relative;
			}
		}

		> ol.properties > li {
			text-align: left;

			&:not(:first-child) {
				margin-top: 14px;
			}

			> input,
			> label {
				display: block;
				width: calc(100% - 22px);
			}

			> label {
				color: #666;
				font-weight: $medium;
				padding-bottom: 4px;

				&:after {
					display: none;
				}
			}
		}

		> p {
			line-height: 1.33;
			margin-top: 1em;
			text-align: left;

			&.message {
				font-weight: $medium;
				position: absolute;
				text-align: left;
				top: 4px;

				&:before {
					content: '';
					display: inline-block;
					position: absolute;
					height: 32px;
					left: -40px;
					width: 32px;
				}
			}

			&.error.message:before {
				background: url('img/warning-32.svg') center no-repeat;
			}

			&.message:not(.error):before {
				background: url('img/beware-32.svg') center no-repeat;
			}
		}

		> ul.actions {
			position: relative;

			> li {
				margin-top: 24px;

				> a, > input {
					padding-left: 0;
					padding-right: 0;
				}

				&.connect,
				&.reset {
					border-color: #009def;

					> input {
						background: #009def;
						color: white;
						display: block;
						font-size: 14px;
						font-weight: $medium;
						height: 100%;
						padding-top: 6px;
						padding-bottom: 6px;
						width: 100%;
					}

					&.disabled {
						border-color: #a8e8ff;

						> input {
							cursor: default;
							background: #a0deff;
						}
					}

					&:not(.disabled):hover {
						border-color: #00aeff;

						> input {
							background: #00aeff;
						}
					}
				}
			}
		}
	}
}

article.password.reset form {

	span.message {
		background-size: 32px;
		display: inline-block;
		height: 24px;
		left: 260px;
		overflow: hidden;
		padding: 10px 0 0 28px;
		position: absolute;
		top: 16px;
		white-space: nowrap;

		&.error {
			background: url('img/error-24.svg') left center no-repeat;
		}

		&.valid {
			background: url('img/valid-24-green.svg') left center no-repeat;
		}
	}

	li.password,
	li.password2 {

		&.error {

			input  {
				border-color: red;
			}

			label {
				color: red;
				font-weight: $medium;
			}

			span.valid.message {
				display: none;
			}
		}

		&:not(.error) .error.message {
			display: none;
		}
	}
}

article.user.login form.error {

	li.password {

		input {
			border-color: red;
		}

		label {
			color: red;
			font-weight: $medium;
		}
	}
}

body.password.reset,
body.user.login {
	grid-template-areas: "title main side" "menu main side";
	grid-template-rows: 64px 1fr;

	> .company.logo {
		border: none;

		&:after {
			display: none;
		}
	}

	> #favorites,
	> #notifications {
		display: none;
	}

	> #menu {
		border-right: none;
	}
}
