article.password.reset,
article.user.login {
  text-align: center; }
  article.password.reset > h2,
  article.user.login > h2 {
    border-bottom: 1px solid #d8d8d8;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 500;
    height: 64px;
    padding: 24px 10px 0 10px; }
  article.password.reset > form,
  article.user.login > form {
    display: inline-block;
    padding-top: 82px;
    position: relative;
    width: 256px; }
    article.password.reset > form > *,
    article.user.login > form > * {
      display: block; }
      article.password.reset > form > * > li,
      article.user.login > form > * > li {
        display: block;
        margin: 0;
        position: relative; }
    article.password.reset > form > ol.properties > li,
    article.user.login > form > ol.properties > li {
      text-align: left; }
      article.password.reset > form > ol.properties > li:not(:first-child),
      article.user.login > form > ol.properties > li:not(:first-child) {
        margin-top: 14px; }
      article.password.reset > form > ol.properties > li > input,
      article.password.reset > form > ol.properties > li > label,
      article.user.login > form > ol.properties > li > input,
      article.user.login > form > ol.properties > li > label {
        display: block;
        width: calc(100% - 22px); }
      article.password.reset > form > ol.properties > li > label,
      article.user.login > form > ol.properties > li > label {
        color: #666;
        font-weight: 500;
        padding-bottom: 4px; }
        article.password.reset > form > ol.properties > li > label:after,
        article.user.login > form > ol.properties > li > label:after {
          display: none; }
    article.password.reset > form > p,
    article.user.login > form > p {
      line-height: 1.33;
      margin-top: 1em;
      text-align: left; }
      article.password.reset > form > p.error.message,
      article.user.login > form > p.error.message {
        font-weight: 500;
        position: absolute;
        text-align: left;
        top: 4px; }
        article.password.reset > form > p.error.message:before,
        article.user.login > form > p.error.message:before {
          background: url("img/warning-32.svg") center no-repeat;
          content: '';
          display: inline-block;
          position: absolute;
          height: 32px;
          left: -40px;
          width: 32px; }
    article.password.reset > form > ul.actions,
    article.user.login > form > ul.actions {
      position: relative; }
      article.password.reset > form > ul.actions > li,
      article.user.login > form > ul.actions > li {
        margin-top: 24px; }
        article.password.reset > form > ul.actions > li > a, article.password.reset > form > ul.actions > li > input,
        article.user.login > form > ul.actions > li > a,
        article.user.login > form > ul.actions > li > input {
          padding-left: 0;
          padding-right: 0; }
        article.password.reset > form > ul.actions > li.connect, article.password.reset > form > ul.actions > li.reset,
        article.user.login > form > ul.actions > li.connect,
        article.user.login > form > ul.actions > li.reset {
          border-color: #009def; }
          article.password.reset > form > ul.actions > li.connect > input, article.password.reset > form > ul.actions > li.reset > input,
          article.user.login > form > ul.actions > li.connect > input,
          article.user.login > form > ul.actions > li.reset > input {
            background: #009def;
            color: white;
            display: block;
            font-size: 14px;
            font-weight: 500;
            height: 100%;
            padding-top: 6px;
            padding-bottom: 6px;
            width: 100%; }
          article.password.reset > form > ul.actions > li.connect.disabled, article.password.reset > form > ul.actions > li.reset.disabled,
          article.user.login > form > ul.actions > li.connect.disabled,
          article.user.login > form > ul.actions > li.reset.disabled {
            border-color: #a8e8ff; }
            article.password.reset > form > ul.actions > li.connect.disabled > input, article.password.reset > form > ul.actions > li.reset.disabled > input,
            article.user.login > form > ul.actions > li.connect.disabled > input,
            article.user.login > form > ul.actions > li.reset.disabled > input {
              cursor: default;
              background: #a0deff; }
          article.password.reset > form > ul.actions > li.connect:not(.disabled):hover, article.password.reset > form > ul.actions > li.reset:not(.disabled):hover,
          article.user.login > form > ul.actions > li.connect:not(.disabled):hover,
          article.user.login > form > ul.actions > li.reset:not(.disabled):hover {
            border-color: #00aeff; }
            article.password.reset > form > ul.actions > li.connect:not(.disabled):hover > input, article.password.reset > form > ul.actions > li.reset:not(.disabled):hover > input,
            article.user.login > form > ul.actions > li.connect:not(.disabled):hover > input,
            article.user.login > form > ul.actions > li.reset:not(.disabled):hover > input {
              background: #00aeff; }

article.password.reset form span.message {
  background-size: 32px;
  display: inline-block;
  height: 24px;
  left: 260px;
  overflow: hidden;
  padding: 10px 0 0 28px;
  position: absolute;
  top: 16px;
  white-space: nowrap; }
  article.password.reset form span.message.error {
    background: url("img/error-24.svg") left center no-repeat; }
  article.password.reset form span.message.valid {
    background: url("img/valid-24-green.svg") left center no-repeat; }
article.password.reset form li.password.error input,
article.password.reset form li.password2.error input {
  border-color: red; }
article.password.reset form li.password.error label,
article.password.reset form li.password2.error label {
  color: red;
  font-weight: 500; }
article.password.reset form li.password.error span.valid.message,
article.password.reset form li.password2.error span.valid.message {
  display: none; }
article.password.reset form li.password:not(.error) .error.message,
article.password.reset form li.password2:not(.error) .error.message {
  display: none; }
article.password.reset form:not(.disabled) p.error.message:before {
  background-image: url("img/beware-32.svg"); }

article.user.login form.error li.password input {
  border-color: red; }
article.user.login form.error li.password label {
  color: red;
  font-weight: 500; }

body.password.reset > .menu,
body.user.login > .menu {
  border-right: none; }
  body.password.reset > .menu:after,
  body.user.login > .menu:after {
    display: none; }
  body.password.reset > .menu > .company.logo,
  body.user.login > .menu > .company.logo {
    border-bottom: none; }
body.password.reset > .main > .favorites,
body.password.reset > .main > .notifications,
body.user.login > .main > .favorites,
body.user.login > .main > .notifications {
  display: none; }
