body.user.login > header > .top.bar {
  display: none !important; }

article.user.login > form > ul.actions {
  text-align: right; }

section.connected.user > a {
  color: #eee;
  padding: 0.3em 0.25em; }
section.connected.user > a > .disconnect,
section.connected.user > h3,
section.connected.user > .user {
  display: none; }

.user.disconnect > h2 {
  display: none; }
