<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Menu output template</title>
	<style type="text/css">
		@import "../../../skins/default/application.css";
	</style>
</head>
<body>

<!--BEGIN-->
	<h2><a href="{title_link}" target="#main">|{title}|</a></h2>
	<ul class="blocks">
		<!--blocks-->
		<li class="block {color}">
			<h3>|{title}|</h3>
			<ul class="items">
				<!--items-->
				<li class="item trashable"><a href="{link}" target="#main">|{caption}|</a></li>
				<!--sample-->
				<li class="item trashable"><a href="#" target="#main">Un autre caption</a></li>
				<li class="item trashable"><a href="#" target="#main">Et un dernier</a></li>
				<!--items-->
			</ul>
		</li>
		<!--sample-->
		<li class="block green">
			<h3>Ventes</h3>
			<ul class="items">
				<li class="item trashable"><a href="#" target="#main">Devis</a></li>
				<li class="item trashable"><a href="#" target="#main">Commandes</a></li>
				<li class="item trashable"><a href="#" target="#main">Factures</a></li>
			</ul>
		</li>
		<!--blocks-->
	</ul>
<!--END-->

</body>
</html>
