@media screen and (max-width: 479px) {
  body > header > .logo,
  body > header > .top.bar > .logo {
    display: none !important; } }
@media screen and (min-width: 480px) {
  body {
    white-space: nowrap; } }
a {
  color: inherit;
  padding: 0.3em 0.5em;
  text-decoration: inherit; }
  a:hover {
    background-color: #00b39c;
    color: #efe; }

body {
  background-color: white;
  color: #444;
  font-size: 18px;
  height: 100%;
  position: absolute;
  width: 100%; }
  body > :not(nav) {
    white-space: initial; }
  body > h1 {
    display: none; }
  body > header {
    background: #444 url("img/header-background.png") bottom right;
    color: white;
    display: table-row;
    height: 3em;
    position: relative; }
    body > header > * {
      display: table-cell; }
    body > header > .logo {
      background: white url("img/bappli-studio-logo.png") center no-repeat;
      background-size: contain;
      font-size: 0; }
    body > header > .top.bar {
      vertical-align: middle; }
      body > header > .top.bar > .logo {
        background: url("img/bappli-studio-logo-for-dark.png") center no-repeat;
        background-size: contain;
        color: transparent;
        display: inline-block;
        height: 3em;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 11.75em; }
  body > main, body > nav {
    display: table-cell;
    vertical-align: top; }
  body > main {
    width: 100%; }

div.popup {
  background-color: white;
  color: #444;
  left: 0;
  position: absolute;
  text-align: left;
  z-index: 1; }

summary {
  cursor: pointer; }
