@import 'colors.scss';
@import 'margins.scss';
@import 'responsive.scss';

@media screen and (max-width: $phone-max-width) {

	body > header {

		> .logo,
		> .top.bar > .logo {
			display: none !important;
		}
	}
}

@media screen and (min-width: $tab-min-width) {

	body {
		white-space: nowrap;
	}
}

a {
	color: inherit;
	padding: $list-margin $list-horizontal-margin;
	text-decoration: inherit;

	&:hover {
		background-color: $action-focus-background;
		color: $action-focus-color;
	}
}

body {
	background-color: $background;
	color: $color;
	font-size: 18px;
	height: 100%;
	position: absolute;
	width: 100%;

	> :not(nav) {
		white-space: initial;
	}

	> h1 {
		display: none;
	}

	> header {
		background: $head-background url('img/header-background.png') bottom right;
		color: $head-color;
		display: table-row;
		height: 3em;
		position: relative;

		> * {
			display: table-cell;
		}

		> .logo {
			background: $background url('img/bappli-studio-logo.png') center no-repeat;
			background-size: contain;
			font-size: 0;
		}

		> .top.bar {
			vertical-align: middle;

			> .logo {
				background: url('img/bappli-studio-logo-for-dark.png') center no-repeat;
				background-size: contain;
				color: transparent;
				display: inline-block;
				height: 3em;
				padding: 0;
				position: absolute;
				right: 0;
				top: 0;
				width: 11.75em;
			}
		}
	}

	> main, > nav {
		display: table-cell;
		vertical-align: top;
	}

	> main {
		width: 100%;
	}
}

summary {
	cursor: pointer;
}

div.popup {
	background-color: $background;
	color: $color;
	left: 0;
	position: absolute;
	text-align: left;
	z-index: 1;
}
