article > h2, article > header > h2 {
  padding: 0.5em; }
article > h2, article > header {
  background-color: #00b39c;
  color: #eef; }
  article > h2header > h2, article > headerheader > h2 {
    cursor: pointer;
    display: inline-block; }
article > p {
  margin: 0.5em 0; }
article:not(.list) > ul.general.actions,
article > form > ul.general.actions {
  border-bottom: 1px solid lightgray; }
