$background: white;
$color: #444;

$action-focus-background: #00b39c;
$action-focus-color: #efe;

$action-zone-background: #dff;

$edit-focus-background: #ddd;
$edit-focus-color: $color;

$error-border-color: darkred;

$head-background: $color;
$head-color: white;

$line-even: white;
$line-odd: #f1f1f1;

$separator-color: #ddd;

$thin-border: 1px solid lightgray;

$window-head-background: #00b39c;
$window-head-color: #eef;
