$background: white;
$color: #444;

$action-focus-background: #00b39c;
$action-focus-color: #efe;

$action-zone-background: #dff;

$edit-focus-background: #eee;
$edit-focus-color: $color;

$error-border-color: darkred;

$head-background: $color;
$head-color: white;

$line-even: #ececec;
$line-odd: #dedede;

$list-border: 1px solid white;

$separator-color: #ddd;

$thin-border: 1px solid lightgrey;

$window-head-background: #00b39c;
$window-head-color: #eef;
