article > header {
  position: relative; }
  article > header > div.custom {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1; }
    article > header > div.custom > :not(.actions) {
      display: none; }
      article > header > div.custom > :not(.actions).name > label {
        display: none; }
    article > header > div.custom > .actions {
      display: inline-block;
      position: absolute;
      right: 0; }
      article > header > div.custom > .actions > li {
        margin: 1px; }
        article > header > div.custom > .actions > li.custom_save > a {
          font-size: 0;
          height: 34px;
          width: 34px; }
    article > header > div.custom > .name {
      position: absolute;
      right: 39px;
      top: 3px; }
    article > header > div.custom > .select {
      background: white;
      color: #444;
      border: 1px solid lightgray;
      margin: 0.2em 0em; }
      article > header > div.custom > .select > li {
        display: block; }
        article > header > div.custom > .select > li.default {
          font-weight: bold; }
        article > header > div.custom > .select > li > a {
          display: block;
          padding: 0.3em 0.5em; }
  article > header:hover > div.custom > .actions > li.custom_save > a {
    background: url("../default/img/floppy.png") center no-repeat; }
    article > header:hover > div.custom > .actions > li.custom_save > a:hover {
      background-color: white; }
