form ol.properties > li > div > ul > li > ol > li.minus {
  cursor: pointer;
  text-align: center;
  width: 18px; }
  form ol.properties > li > div > ul > li > ol > li.minus:hover {
    background: #00b39c;
    color: #efe; }
form ol.properties > li > div > ul > li > ol > li > input, form ol.properties > li > div > ul > li > ol > li > select, form ol.properties > li > div > ul > li > ol > li > textarea {
  width: 100%; }
