@import 'colors.scss';
@import 'sizes.scss';

a {
	color: inherit;
	text-decoration: inherit;

	&:hover {
		background-color: $action-focus-background;
		color: $action-focus-color;
	}
}

input, select, textarea {
	background-color: $background;
	border: none;
	font-size: 1em;

	&:not([readonly]) {
		border-bottom: $thin-border;

		&:focus {
			background-color: $edit-focus-background;
			color: $edit-focus-color;
		}

		&:hover {
			background-color: $action-focus-background;
			color: $action-focus-color;
		}
	}
}

div.popup {
	background-color: $background;
	border: 1px solid $action-focus-background;
	padding: $window-padding;
	color: $color;
	position: fixed;
	z-index: 1;
}

.hidden {
	display: none;
}
