a {
  color: inherit;
  text-decoration: inherit; }
  a:hover {
    background-color: #00b39c;
    color: #efe; }

input, select, textarea {
  background-color: white;
  border: none;
  font-size: 1em; }
  input:not([readonly]), select:not([readonly]), textarea:not([readonly]) {
    border-bottom: 1px solid lightgray; }
    input:not([readonly]):focus, select:not([readonly]):focus, textarea:not([readonly]):focus {
      background-color: #ddd;
      color: #444; }
    input:not([readonly]):hover, select:not([readonly]):hover, textarea:not([readonly]):hover {
      background-color: #00b39c;
      color: #efe; }

div.popup {
  background-color: white;
  border: 1px solid #00b39c;
  color: #444;
  position: fixed;
  z-index: 1; }
  div.popup > article > header {
    cursor: pointer;
    margin: -1px; }

.hidden {
  display: none; }
