@import 'colors.scss';
@import 'margins.scss';

article.list {

	> form > ul.footer > li.visible.lines > ul > li.display {
		margin: $list-horizontal-margin 0;
	}

	> section.summary {

		> details.error {
			border: 1px solid $error-border-color;
		}

		> h3 {
			display: none;
		}
	}

	> form {
		display: inline-block;
		min-width: 480px;

		> ul.footer {
			position: relative;

			> li {
				display: inline-block;

				&.selector:after {
					content: '>';
				}

				&.visible.lines {
					position: absolute;
					right: 0;

					> ul > li {
						display: inline-block;
						padding: $list-margin $list-horizontal-margin;

						&.actions > ul > li {

							> a {
								font-size: 0;

								&:before {
									color: initial;
									font-size: initial;
									padding: $list-margin $list-horizontal-margin;
								}

								&:hover:before {
									background-color: $action-focus-background;
									color: $action-focus-color;
								}
							}

							&.twenty.less > a:before {
								content: '[-]';
							}

							&.hundred.more > a:before {
								content: '[+]';
							}

							&.thousand.more > a:before {
								content: '[#]';
							}
						}
					}
				}
			}
		}

		> ul.list {
			display: table;
			width: 100%;

			> li {
				display: table-row-group;
				position: relative;

				&:not(:first-child) > ol > li {

					&:first-child > a {
						display: none;
					}
				}

				&:nth-child(n+3) {

					&:nth-child(even) {
						background-color: $line-even;
					}

					&:nth-child(odd) {
						background-color: $line-odd;
					}

					&:hover {
						background-color: $action-zone-background;
					}
				}

				&.search input {
					min-width: 100%;
				}

				&.title {
					background-color: $head-background;
					color: $head-color;
					text-align: center;

					> ol > li {
						vertical-align: middle;

						&.column_select {
							position: relative;

							> a {
								background-image: url('img/column-select-white.png');
								background-position: center;
								background-repeat: no-repeat;
								font-size: 0;
								height: 100%;
								position: absolute;
								top: 0;
								width: 100%;
							}
						}

						&:not(.column_select) {
							padding: $list-margin;
						}
					}
				}

				> ol {
					display: table-row;

					> li {
						display: table-cell;

						&:not(:first-child) {
							border-left: 1px solid white;
						}

						&.value {
							padding: $list-margin;

							&.date_time {
								text-align: center;
							}

							&.float, &.integer {
								text-align: right;
							}
						}

						> a {
							display: block;
							margin: -$list-margin;
						}
					}
				}
			}
		}
	}
}
