@import 'colors.scss';

article.list {

	> section.summary {
		cursor: pointer;

		> details.error {
			border: 1px solid $error-border-color;
		}

		> h3 {
			display: none;
		}
	}

	> form {
		display: inline-block;
		min-width: 500px;
	}
}
