@import 'colors.scss';
@import 'responsive.scss';
@import 'sizes.scss';

@media screen and (max-width: $phone-max-width) {

	nav#menu {
		display: none;
	}
}

nav#menu {
	background-color: $head-background;
	color: $head-color;
	position: relative;

	> .minimize {
		background: $head-background url('img/menu-button-white.png');
		background-size: contain;
		cursor: pointer;
		display: inline-block;
		font-size: 0;
		height: 2em;
		margin-top: -2.2em;
		position: absolute;
		width: 2em;
	}

	> h2 {
		display: none;
	}

	> ul {

		> li {

			> h3 {
				background-color: #888;
				padding: $menu-head-vertical-padding $menu-head-horizontal-padding;
			}

			> ul {
				> li {
					background-color: #777;
					color: $head-color;

					&:not(:first-child) {
						margin-top: 1px;
					}

					> a {
						display: block;
						padding: $menu-item-vertical-padding $menu-item-horizontal-padding;
					}
				}
			}
		}
	}
}
