@import 'colors.scss';
@import 'sizes.scss';

div#messages {
	background-color: $background;
	color: $color;
	border: solid 1px $action-focus-background;
	padding: $window-padding;
	position: fixed;
	z-index: 1;

	&:empty {
		display: none;
	}
}
