@import "colors.scss";
@import "margins.scss";

article.edit > ul.data, article.output > ul.data {
	display: inline-block;

	ol.properties {
		padding: $window-padding;

		> li:not(.after):not(.before):not(.block):not(.multiple) {
			display: table-row;

			> label, > div {
				display: table-cell;
			}

			> div {
				vertical-align: middle;
			}

			> label {
				padding: $list-margin 0;
				vertical-align: top;
				white-space: nowrap;

				&:after {
					content: ' :';
					margin-right: .5em;
				}
			}
		}

		> li.after,
		> li.before,
		> li.block,
		> li.multiple {
			display: block;

			&.block,
			&.multiple {
				border: $thin-border;
				margin-top: -1px;
			}

			> label {
				background-color: #eee;
				display: block;
				padding: $list-margin $list-horizontal-margin;
			}

			> div > ul.collection {
				display: table;

				> li {
					display: table-row-group;

					&:first-child > ol > li {
						padding: $list-margin $list-horizontal-margin;
						text-align: center;
					}

					> ol {
						display: table-row;

						> li {
							display: table-cell;
						}
					}
				}
			}
		}
	}

}
