article.edit > form > ul.data ol.properties, article.output > ul.data ol.properties {
  display: inline-block;
  padding: 0.5em; }
  article.edit > form > ul.data ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.multiple), article.output > ul.data ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.multiple) {
    display: table-row; }
    article.edit > form > ul.data ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.multiple) > label, article.edit > form > ul.data ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.multiple) > div, article.output > ul.data ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.multiple) > label, article.output > ul.data ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.multiple) > div {
      display: table-cell; }
    article.edit > form > ul.data ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.multiple) > div, article.output > ul.data ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.multiple) > div {
      vertical-align: middle; }
    article.edit > form > ul.data ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.multiple) > label, article.output > ul.data ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.multiple) > label {
      padding: 0.3em 0;
      vertical-align: top;
      white-space: nowrap; }
      article.edit > form > ul.data ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.multiple) > label:after, article.output > ul.data ol.properties > li:not(.after):not(.before):not(.block):not(.hidden):not(.multiple) > label:after {
        content: ' :';
        margin-right: .5em; }
  article.edit > form > ul.data ol.properties > li.after,
  article.edit > form > ul.data ol.properties > li.before,
  article.edit > form > ul.data ol.properties > li.block,
  article.edit > form > ul.data ol.properties > li.multiple, article.output > ul.data ol.properties > li.after,
  article.output > ul.data ol.properties > li.before,
  article.output > ul.data ol.properties > li.block,
  article.output > ul.data ol.properties > li.multiple {
    display: block; }
    article.edit > form > ul.data ol.properties > li.after.block, article.edit > form > ul.data ol.properties > li.after.multiple,
    article.edit > form > ul.data ol.properties > li.before.block,
    article.edit > form > ul.data ol.properties > li.before.multiple,
    article.edit > form > ul.data ol.properties > li.block.block,
    article.edit > form > ul.data ol.properties > li.block.multiple,
    article.edit > form > ul.data ol.properties > li.multiple.block,
    article.edit > form > ul.data ol.properties > li.multiple.multiple, article.output > ul.data ol.properties > li.after.block, article.output > ul.data ol.properties > li.after.multiple,
    article.output > ul.data ol.properties > li.before.block,
    article.output > ul.data ol.properties > li.before.multiple,
    article.output > ul.data ol.properties > li.block.block,
    article.output > ul.data ol.properties > li.block.multiple,
    article.output > ul.data ol.properties > li.multiple.block,
    article.output > ul.data ol.properties > li.multiple.multiple {
      border: 1px solid lightgray;
      margin-top: -1px; }
    article.edit > form > ul.data ol.properties > li.after > label,
    article.edit > form > ul.data ol.properties > li.before > label,
    article.edit > form > ul.data ol.properties > li.block > label,
    article.edit > form > ul.data ol.properties > li.multiple > label, article.output > ul.data ol.properties > li.after > label,
    article.output > ul.data ol.properties > li.before > label,
    article.output > ul.data ol.properties > li.block > label,
    article.output > ul.data ol.properties > li.multiple > label {
      background-color: #eee;
      display: block;
      padding: 0.3em 0.5em; }
    article.edit > form > ul.data ol.properties > li.after > div > ul.collection,
    article.edit > form > ul.data ol.properties > li.before > div > ul.collection,
    article.edit > form > ul.data ol.properties > li.block > div > ul.collection,
    article.edit > form > ul.data ol.properties > li.multiple > div > ul.collection, article.output > ul.data ol.properties > li.after > div > ul.collection,
    article.output > ul.data ol.properties > li.before > div > ul.collection,
    article.output > ul.data ol.properties > li.block > div > ul.collection,
    article.output > ul.data ol.properties > li.multiple > div > ul.collection {
      display: table; }
      article.edit > form > ul.data ol.properties > li.after > div > ul.collection > li,
      article.edit > form > ul.data ol.properties > li.before > div > ul.collection > li,
      article.edit > form > ul.data ol.properties > li.block > div > ul.collection > li,
      article.edit > form > ul.data ol.properties > li.multiple > div > ul.collection > li, article.output > ul.data ol.properties > li.after > div > ul.collection > li,
      article.output > ul.data ol.properties > li.before > div > ul.collection > li,
      article.output > ul.data ol.properties > li.block > div > ul.collection > li,
      article.output > ul.data ol.properties > li.multiple > div > ul.collection > li {
        display: table-row-group; }
        article.edit > form > ul.data ol.properties > li.after > div > ul.collection > li:first-child > ol > li,
        article.edit > form > ul.data ol.properties > li.before > div > ul.collection > li:first-child > ol > li,
        article.edit > form > ul.data ol.properties > li.block > div > ul.collection > li:first-child > ol > li,
        article.edit > form > ul.data ol.properties > li.multiple > div > ul.collection > li:first-child > ol > li, article.output > ul.data ol.properties > li.after > div > ul.collection > li:first-child > ol > li,
        article.output > ul.data ol.properties > li.before > div > ul.collection > li:first-child > ol > li,
        article.output > ul.data ol.properties > li.block > div > ul.collection > li:first-child > ol > li,
        article.output > ul.data ol.properties > li.multiple > div > ul.collection > li:first-child > ol > li {
          padding: 0.3em 0.5em;
          text-align: center;
          white-space: nowrap; }
        article.edit > form > ul.data ol.properties > li.after > div > ul.collection > li > ol,
        article.edit > form > ul.data ol.properties > li.before > div > ul.collection > li > ol,
        article.edit > form > ul.data ol.properties > li.block > div > ul.collection > li > ol,
        article.edit > form > ul.data ol.properties > li.multiple > div > ul.collection > li > ol, article.output > ul.data ol.properties > li.after > div > ul.collection > li > ol,
        article.output > ul.data ol.properties > li.before > div > ul.collection > li > ol,
        article.output > ul.data ol.properties > li.block > div > ul.collection > li > ol,
        article.output > ul.data ol.properties > li.multiple > div > ul.collection > li > ol {
          display: table-row; }
          article.edit > form > ul.data ol.properties > li.after > div > ul.collection > li > ol > li,
          article.edit > form > ul.data ol.properties > li.before > div > ul.collection > li > ol > li,
          article.edit > form > ul.data ol.properties > li.block > div > ul.collection > li > ol > li,
          article.edit > form > ul.data ol.properties > li.multiple > div > ul.collection > li > ol > li, article.output > ul.data ol.properties > li.after > div > ul.collection > li > ol > li,
          article.output > ul.data ol.properties > li.before > div > ul.collection > li > ol > li,
          article.output > ul.data ol.properties > li.block > div > ul.collection > li > ol > li,
          article.output > ul.data ol.properties > li.multiple > div > ul.collection > li > ol > li {
            display: table-cell; }
  article.edit > form > ul.data ol.properties > li.hidden, article.output > ul.data ol.properties > li.hidden {
    display: none; }
article.edit > form > ul.general.actions, article.output > ul.general.actions {
  border-bottom: 1px solid lightgray; }
