article > form > ul.data ol.properties > li.after > div > ul.collection,
article > form > ul.data ol.properties > li.before > div > ul.collection,
article > form > ul.data ol.properties > li.block > div > ul.collection,
article > form > ul.data ol.properties > li.multiple > div > ul.collection, article > ul.data ol.properties > li.after > div > ul.collection,
article > ul.data ol.properties > li.before > div > ul.collection,
article > ul.data ol.properties > li.block > div > ul.collection,
article > ul.data ol.properties > li.multiple > div > ul.collection {
  display: table; }
  article > form > ul.data ol.properties > li.after > div > ul.collection > li,
  article > form > ul.data ol.properties > li.before > div > ul.collection > li,
  article > form > ul.data ol.properties > li.block > div > ul.collection > li,
  article > form > ul.data ol.properties > li.multiple > div > ul.collection > li, article > ul.data ol.properties > li.after > div > ul.collection > li,
  article > ul.data ol.properties > li.before > div > ul.collection > li,
  article > ul.data ol.properties > li.block > div > ul.collection > li,
  article > ul.data ol.properties > li.multiple > div > ul.collection > li {
    display: table-row-group; }
    article > form > ul.data ol.properties > li.after > div > ul.collection > li:first-child > ol > li,
    article > form > ul.data ol.properties > li.before > div > ul.collection > li:first-child > ol > li,
    article > form > ul.data ol.properties > li.block > div > ul.collection > li:first-child > ol > li,
    article > form > ul.data ol.properties > li.multiple > div > ul.collection > li:first-child > ol > li, article > ul.data ol.properties > li.after > div > ul.collection > li:first-child > ol > li,
    article > ul.data ol.properties > li.before > div > ul.collection > li:first-child > ol > li,
    article > ul.data ol.properties > li.block > div > ul.collection > li:first-child > ol > li,
    article > ul.data ol.properties > li.multiple > div > ul.collection > li:first-child > ol > li {
      padding: 0.3em 0.25em;
      text-align: center;
      white-space: nowrap; }
    article > form > ul.data ol.properties > li.after > div > ul.collection > li > ol,
    article > form > ul.data ol.properties > li.before > div > ul.collection > li > ol,
    article > form > ul.data ol.properties > li.block > div > ul.collection > li > ol,
    article > form > ul.data ol.properties > li.multiple > div > ul.collection > li > ol, article > ul.data ol.properties > li.after > div > ul.collection > li > ol,
    article > ul.data ol.properties > li.before > div > ul.collection > li > ol,
    article > ul.data ol.properties > li.block > div > ul.collection > li > ol,
    article > ul.data ol.properties > li.multiple > div > ul.collection > li > ol {
      display: table-row; }
      article > form > ul.data ol.properties > li.after > div > ul.collection > li > ol > li,
      article > form > ul.data ol.properties > li.before > div > ul.collection > li > ol > li,
      article > form > ul.data ol.properties > li.block > div > ul.collection > li > ol > li,
      article > form > ul.data ol.properties > li.multiple > div > ul.collection > li > ol > li, article > ul.data ol.properties > li.after > div > ul.collection > li > ol > li,
      article > ul.data ol.properties > li.before > div > ul.collection > li > ol > li,
      article > ul.data ol.properties > li.block > div > ul.collection > li > ol > li,
      article > ul.data ol.properties > li.multiple > div > ul.collection > li > ol > li {
        display: table-cell; }
        article > form > ul.data ol.properties > li.after > div > ul.collection > li > ol > li.float, article > form > ul.data ol.properties > li.after > div > ul.collection > li > ol > li.integer,
        article > form > ul.data ol.properties > li.after > div > ul.collection > li > ol > li > input.float,
        article > form > ul.data ol.properties > li.after > div > ul.collection > li > ol > li > input.integer,
        article > form > ul.data ol.properties > li.before > div > ul.collection > li > ol > li.float,
        article > form > ul.data ol.properties > li.before > div > ul.collection > li > ol > li.integer,
        article > form > ul.data ol.properties > li.before > div > ul.collection > li > ol > li > input.float,
        article > form > ul.data ol.properties > li.before > div > ul.collection > li > ol > li > input.integer,
        article > form > ul.data ol.properties > li.block > div > ul.collection > li > ol > li.float,
        article > form > ul.data ol.properties > li.block > div > ul.collection > li > ol > li.integer,
        article > form > ul.data ol.properties > li.block > div > ul.collection > li > ol > li > input.float,
        article > form > ul.data ol.properties > li.block > div > ul.collection > li > ol > li > input.integer,
        article > form > ul.data ol.properties > li.multiple > div > ul.collection > li > ol > li.float,
        article > form > ul.data ol.properties > li.multiple > div > ul.collection > li > ol > li.integer,
        article > form > ul.data ol.properties > li.multiple > div > ul.collection > li > ol > li > input.float,
        article > form > ul.data ol.properties > li.multiple > div > ul.collection > li > ol > li > input.integer, article > ul.data ol.properties > li.after > div > ul.collection > li > ol > li.float, article > ul.data ol.properties > li.after > div > ul.collection > li > ol > li.integer,
        article > ul.data ol.properties > li.after > div > ul.collection > li > ol > li > input.float,
        article > ul.data ol.properties > li.after > div > ul.collection > li > ol > li > input.integer,
        article > ul.data ol.properties > li.before > div > ul.collection > li > ol > li.float,
        article > ul.data ol.properties > li.before > div > ul.collection > li > ol > li.integer,
        article > ul.data ol.properties > li.before > div > ul.collection > li > ol > li > input.float,
        article > ul.data ol.properties > li.before > div > ul.collection > li > ol > li > input.integer,
        article > ul.data ol.properties > li.block > div > ul.collection > li > ol > li.float,
        article > ul.data ol.properties > li.block > div > ul.collection > li > ol > li.integer,
        article > ul.data ol.properties > li.block > div > ul.collection > li > ol > li > input.float,
        article > ul.data ol.properties > li.block > div > ul.collection > li > ol > li > input.integer,
        article > ul.data ol.properties > li.multiple > div > ul.collection > li > ol > li.float,
        article > ul.data ol.properties > li.multiple > div > ul.collection > li > ol > li.integer,
        article > ul.data ol.properties > li.multiple > div > ul.collection > li > ol > li > input.float,
        article > ul.data ol.properties > li.multiple > div > ul.collection > li > ol > li > input.integer {
          text-align: right; }
