@import 'sizes.scss';

section.connected.user {

	> a {
		padding: $action-vertical-padding $action-horizontal-padding;
	}

	> a > .disconnect,
	> h3,
	> .user {
		display: none;
	}
}

.user.disconnect > h2 {
	display: none;
}
