@import 'colors.scss';
@import 'margins.scss';

article {

	> header {

		> h2 {
			background-color: $window-head-background;
			color: $window-head-color;
			padding: $window-padding;
		}

		> .custom {
			display: none;
		}
	}
}
