<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script src="../../../../vendor/components/jquery/jquery.js"></script>
	<script> path = "../../../../"; </script>
	<script src="../../js/all.js"></script>
	<style> @import "../../skins/default/all.css"; </style>
	<title>|A button has been added|</title>
</head>
<body>
<!--BEGIN-->

	<a href="(url_app)(link)" target="{target}" class="{color} {additional_classes}"
	   data-post="{data-post}" title="{hint}">
	{content}
	</a>

<!--END-->
</body>
</html>
