<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>|Select a ¦property¦|</title>
	<style type="text/css">
		@import "../../skins/default/application.css";
	</style>
</head>
<body>

<!--BEGIN-->
<div class="property select">
	<div id="search"><input></div>
	<!--BEGIN:subtree-->
	<ul class="treeview">
	<!--properties-->
		<li>
			<!--getType.!isBasic--><a href="/Property/select/{getType.getElementTypeAsString.short}/{path}" target="#tree-{path}"><!--getType.!isBasic-->
			<span class="property" id="{path}" title="|{path}|">|{@display}|</span>
			<!--getType.!isBasic--></a><!--getType.!isBasic-->
		</li>
	<!--properties-->
	</ul>
	<!--END:subtree-->
</div>
<!--END-->

</body>
</html>
