<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>|Select a ¦property¦|</title>
	<style type="text/css">
		@import "../../skins/default/all.css";
	</style>
</head>
<body>
<!--BEGIN-->

<div class="property_select">
	<input name="property_select">
	<!--BEGIN:subtree-->
	<ul class="property_tree">
	<!--properties-->
		<li class="property" id="{path}" title="|{path}|">
			<!--getType.!isBasic?-->
            <a href="/Property/select/{--class_name.short}/{path}" target="#tree-{path}">
            <!--getType.!isBasic?-->
			|{@display}|
			<!--getType.!isBasic?-->
            </a>
            <!--getType.!isBasic?-->
		</li>
    <!--sample-->
        <li class="property" id="property_1" title="property 1">property 1</li>
        <li class="property" id="property_2" title="property 2">property 2</li>
        <li class="property" id="property_3" title="property 3">property 3</li>
        <li class="property" id="sub_object" title="sub object">
            <a href="/Property/select/Class/sub_object" target="#tree-sub_object">sub_object</a>
        </li>
        <li class="property" id="weight_unit" title="weight unit" target="#tree-weight_unit" class="expanded">
            <a href="/Property/select/Class/weight_unit" target="#tree-weight_unit">weight unit</a>
            <section id="tree-weight_unit">
                <ul class="property tree">
                    <li class="property" id="weight_unit.code" title="weight unit.code">code</li>
                    <li class="property" id="weight_unit.name" title="weight unit.name">name</li>
                </ul>
            </section>
        </li>
	<!--properties-->
	</ul>
	<!--END:subtree-->
</div>

<!--END-->
</body>
</html>
