article.email #content > div {
  white-space: initial; }
  article.email #content > div a {
    color: blue;
    text-decoration: underline; }
  article.email #content > div p:not(:last-of-type) {
    margin-bottom: 1em; }
  article.email #content > div p:not(:first-of-type) {
    margin-top: 1em; }
article.email #content {
  border-spacing: 0;
  display: block;
  padding: 0 10px; }
  article.email #content > label {
    display: none; }
article.email #to .collapsed {
  display: inline-block;
  position: relative;
  vertical-align: top; }
  article.email #to .collapsed > li {
    background: #ddd;
    border: 1px solid #aaa;
    border-radius: 3px;
    display: inline-block;
    list-style: none;
    margin-left: 8px; }
    article.email #to .collapsed > li > button {
      height: 30px;
      padding: 4px !important;
      width: 30px; }
article.email #to .map {
  display: inline-table; }
