article.email #to {

	.collapsed {
		display: inline-block;
		position: relative;
		vertical-align: top;

		> li {
			background: #ddd;
			border: 1px solid #aaa;
			border-radius: 3px;
			display: inline-block;
			list-style: none;
			margin-left: 8px;

			> button {
				height: 30px;
				padding: 4px !important;
				width: 30px;
			}
		}
	}

	.map {
		display: inline-table;
	}
}
