article.email {

	#content > div {
		white-space: initial;

		a {
			color: blue;
			text-decoration: underline;
		}

		p {

			&:not(:last-of-type) {
				margin-bottom: 1em;
			}

			&:not(:first-of-type) {
				margin-top: 1em;
			}
		}
	}

	#content {
		border-spacing: 0;
		display: block;
		padding: 0 10px;

		> label {
			display: none;
		}
	}

	#to {

		.collapsed {
			display: inline-block;
			position: relative;
			vertical-align: top;

			> li {
				background: #ddd;
				border: 1px solid #aaa;
				border-radius: 3px;
				display: inline-block;
				list-style: none;
				margin-left: 8px;

				> button {
					height: 30px;
					padding: 4px !important;
					width: 30px;
				}
			}
		}

		.map {
			display: inline-table;
		}
	}
}
