@import "colors.scss";

/* actions */

.action {

	&.import {
		padding-left: 12px;
		background: $green_action;
	}

}

.actions {

	>.cancel>a, >.close>a {
		padding-left: 12px;
		background: $close_action;
	}

	>.add>a, >.edit>a, >.import>a, >.write>a {
		padding-left: 12px;
		background: $green_action;
	}

	>.export>a, >.print>a {
		padding-left: 12px;
		background: $blue_action;
	}

}

/* modules on menu */

.menu>ul {

	li.sales>h3 {
		background-color: $green;
		color: white;
	}

	li.purchases>h3 {
		background-color: $blue;
		color: white;
	}

	li.items_catalog>h3 {
		background-color: $magenta;
		color: white;
	}

	li.webshop>h3 {
		background-color: $green;
		color: white;
	}

	li.administration>h3 {
		background-color: $black;
		color: white;
	}

	li.base_data>h3 {
		background-color: $gray;
		color: white;
	}

}

/* modules windows */

.window {

	&.purchases_order, &.purchases_orders,
	&.purchases_receipt, &.purchases_receipts,
	&.purchases_invoice, &.purchases_invoices,
	&.purchases_credit, &.purchases_credits,
	&.supplier, &.suppliers {
		>h2 {
			background-color: $blue;
			color: white;
		}
	}

	&.client, &.clients,
	&.sales_quote, &.sales_quotes,
	&.sales_order, &.sales_orders,
	&.sales_invoice, &.sales_invoices,
	&.sales_preparation, &.sales_preparations,
	&.sales_credit, &.sales_credits,
	&.salesman, &.salesmen,
	&.shipping_cost, &.shipping_costs {
		>h2 {
			background-color: $green;
			color: white;
		}
	}

	&.category, &.categories,
	&.characteristic, &.characteristics,
	&.item, &.items,
	&.media, &.medias,
	&.value, &.values {
		>h2 {
			background-color: $magenta;
			color: white;
		}
	}

	&.account, &.accounts,
	&.cart, &.carts,
	&.webshop, &.webshops {
		>h2, >select.customized {
			background-color: $green;
			color: white;
		}
	}

	&.agency, &.agencies,
	&.company, &.companies,
	&.plugin, &.plugins,
	&.setting, &.settings,
	&.user, &.users {
		>h2, >select.customized {
			background-color: $black;
			color: white;
		}
	}

	&.address, &.addresses,
	&.city, &.cities,
	&.civility, &.civilities,
	&.contact, &.contacts,
	&.mean_of_payment, &.mean_of_payments,
	&.size_unit, &.size_units,
	&.term_of_payment, &.term_of_payments,
	&.vat_code, &.vat_codes,
	&.vat_value, &.vat_values,
	&.weight_unit, &.weight_units {
		>h2 {
			background-color: $gray;
			color: white;
		}
	}

}
