body > header > ul > li.rad.add > a {
	color: transparent;
	font-size: 1px;

	&:before {
		color: #222;
		content: "+";
		font-size: 16px;
	}

	&:hover:before {
		color: #2D8F8D;
	}
}

.div.list {
	width: 150px;
	top: 55px;
	position: fixed;
	font-family: arial,helvetica,sans-serif;
	right: 120px;
}

.rad.highlight {
	border: 1px solid green;
}

.rad.insert-bottom {
	border-bottom: 2px solid red;
}

.rad.insert-left {
	border-left: 2px solid red;
}

.rad.insert-right {
	border-right: 2px solid red;
}

.rad.insert-top {
	border-top: 2px solid red;
}

.rad.invisible{
	display: none;
}

.rad.reload {
	top: 55px;
	position: fixed;
	font-family: arial,helvetica,sans-serif;
	right: 0;
}

.rad.visible{
	display: inline-block;
}
