.window {
  background: white;
  border: 1px solid darkgray;
  border-radius: 4px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 4px;
  max-width: 80%;
  padding: 8px;
  position: relative; }
  .window > h2 {
    background-color: darkgray;
    border: 1px solid darkgray;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin: -9px -9px 8px;
    padding: 0 8px;
    white-space: nowrap; }

section.ui-draggable > .window > h2 {
  cursor: move; }
