<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	</head>
	<body>

	<div class="User_login">
	<!-- BEGIN -->
		<form action="User_authenticate.html">
			<label for="login">login</label><input name="login">
			<label for="password">password</label><input name="password">
			<input type="submit" value="login">
		</form>
	<!-- END -->
	</div> 

	</body>
</html>
