<!doctype html>
<html lang="fr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Default output template</title>
	<script type="text/javascript" src="../../../vendor/jquery/jquery-1.8.3.js"></script>
	<style type="text/css">
		@import "../../../skins/default/application.css";
		@import "../../../skins/default/form.css";
	</style>
</head>
<body>

<!--BEGIN-->
<div class="{@class.short.lower} {feature.lower} window" id="/{@class.short}<!--id-->/{id}<!--id-->/{feature}">
	<h2 class="window title">|{@class.ucfirst}| |{display}|</h2>

	<div class="general buttons">
		<!--general_buttons-->
		<a class="button trashable {feature.lower} {?class} {color}" href="{link}" target="{?target}">|{caption}|</a>
		<!--sample-->
		<a class="button trashable write submit {color}" href="/abook/Contact/1/write" target="#messages">Write</a>
		<!--general_buttons-->
	</div>

	<!--tabs._top-->
	<div class="fieldset">
		<!--content-->
		<div class="field {name} {?getType.isMultiple}" id="{name}">
			<div class="label trashable">|{display}|</div>
			<div class="value">{value}</div>
		</div>
		<!--content-->
	</div>
	<!--tabs._top-->

	<!--tabs.included?-->
	<div class="tabber">
		<ul>
			<!--tabs.included-->
			<li class="trashable"><a href="#tab_{id}">|{title}|</a></li>
			<!--tabs.included-->
		</ul>
		<!--tabs.included-->
		<div class="fieldset" id="tab_{id}">
			<h2>{title}</h2>
			<!--included?-->
			<div class="tabber">
				<ul>
					<!--included-->
					<li class="trashable"><a href="#tab_{id}">|{title}|</a></li>
					<!--included-->
				</ul>
				<!--included-->
				<div class="fieldset" id="tab_{id}">
					<h2>{title}</h2>
					<!--content-->
					<div class="field {name} {?getType.isMultiple}" id="{name}">
						<div class="label trashable">|{display}|</div>
						<div class="value">{value}</div>
					</div>
					<!--content-->
				</div>
				<!--included-->
			</div>
			<!--included?-->
			<!--columns?-->
			<div class="columns">
				<!--columns-->
				<div class="column">
					<div class="fieldset">
						<!--content-->
						<div class="field {name} {?getType.isMultiple}" id="{name}">
							<div class="label trashable">|{display}|</div>
							<div class="value">{value}</div>
						</div>
						<!--content-->
					</div>
				</div>
				<!--columns-->
			</div>
			<!--columns?-->
			<!--content-->
			<div class="field {name} {?getType.isMultiple}" id="{name}">
				<div class="label trashable">|{display}|</div>
				<div class="value">{value}</div>
			</div>
			<!--content-->
		</div>
		<!--tabs.included-->
	</div>
	<!--tabs.included?-->

	<!--@propertiesOutOfTabs?-->
	<div class="fieldset">
		<!--@propertiesOutOfTabs-->
		<div class="field {name} {?getType.isMultiple}" id="{name}">
			<div class="label trashable">|{display}|</div>
			<div class="value">{value}</div>
		</div>
		<!--@propertiesOutOfTabs-->
	</div>
	<!--@propertiesOutOfTabs?-->

	<!--tabs._middle-->
	<div class="fieldset">
		<!--content-->
		<div class="field {name} {?getType.isMultiple}" id="{name}">
			<div class="label trashable">|{display}|</div>
			<div class="value">{value}</div>
		</div>
		<!--content-->
	</div>
	<!--tabs._middle-->

	<!--tabs._bottom-->
	<div class="fieldset">
		<!--tabs._bottom.content-->
		<div class="field {name} {?getType.isMultiple}" id="{name}">
			<div class="label trashable">|{display}|</div>
			<div class="value">{value}</div>
		</div>
		<!--tabs._bottom.content-->
		<div class="field">
			<div class="label">test</div>
			<div class="value"><input value="test"><a href="/test" class="add action">test</a></div>
		</div>
	</div>
	<!--tabs._bottom-->

</div>
<!--END-->

</body>
</html>
