<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Default output template</title>
	<script type="text/javascript" src="../../../vendor/jquery/jquery-1.8.3.js"></script>
	<style type="text/css">
		@import "../../../skins/default/application.css";
		@import "../../../skins/default/form.css";
	</style>
</head>
<body>

<!--BEGIN-->
<div class="{@class.short.lower} {feature.lower} window" id="/{@class.short}<!--id-->/{id}<!--id-->/{feature}">
	<h2 class="window title">|{@class.ucfirst}| |{display}|</h2>

	<div class="general buttons">
		<!--general_buttons-->
		<a class="trashable {feature.lower} {?class} button {color}" href="{link}" target="{?target}">|{caption}|</a>
		<!--sample-->
		<a class="trashable write submit button {color}" href="/abook/Contact/1/write" target="#messages">Write</a>
		<!--general_buttons-->
	</div>

	<!--tabs._top-->
	<div class="top fieldset">
		<!--content--><!--@expand-->
		<div class="{name} {?getType.isMultiple} field" id="{path}">
			<div class="trashable label">|{display}|</div>
			<div class="value">{value}</div>
		</div>
		<!--@expand--><!--content-->
	</div>
	<!--tabs._top-->

	<!--tabs.included?-->
	<div class="tabber one">
		<ul>
			<!--tabs.included-->
			<li class="trashable {getClass}"><a href="#tab_{id}">|{title}|</a></li>
			<!--tabs.included-->
		</ul>
		<!--tabs.included-->
		<div class="{getClass} fieldset" id="tab_{id}">
			<h2>{title}</h2>
			<!--included?-->
			<div class="tabber two">
				<ul>
					<!--included-->
					<li class="trashable {getClass}"><a href="#tab_{id}">|{title}|</a></li>
					<!--included-->
				</ul>
				<!--included-->
				<div class="{getClass} fieldset" id="tab_{id}">
					<h2>{title}</h2>
					<!--content--><!--@expand-->
					<div class="{name} {?getType.isMultiple} field" id="{path}">
						<div class="trashable label">|{display}|</div>
						<div class="value">{value}</div>
					</div>
					<!--@expand--><!--content-->
				</div>
				<!--included-->
			</div>
			<!--included?-->
			<!--columns?-->
			<div class="{getClass} columns">
				<!--columns-->
				<div class="column">
					<div class="fieldset">
						<!--content--><!--@expand-->
						<div class="{name} {?getType.isMultiple} field" id="{path}">
							<div class="trashable label">|{display}|</div>
							<div class="value">{value}</div>
						</div>
						<!--@expand--><!--content-->
					</div>
				</div>
				<!--columns-->
			</div>
			<!--columns?-->
			<!--content--><!--@expand-->
			<div class="{name} {?getType.isMultiple} field" id="{path}">
				<div class="trashable label">|{display}|</div>
				<div class="value">{value}</div>
			</div>
			<!--@expand--><!--content-->
		</div>
		<!--tabs.included-->
	</div>
	<!--tabs.included?-->

	<!--@propertiesOutOfTabs?-->
	<div class="outoftabs fieldset">
		<!--@propertiesOutOfTabs-->
		<div class="{name} {?getType.isMultiple} field" id="{path}">
			<div class="trashable label">|{display}|</div>
			<div class="value">{value}</div>
		</div>
		<!--@propertiesOutOfTabs-->
	</div>
	<!--@propertiesOutOfTabs?-->

	<!--tabs._middle-->
	<div class="middle fieldset">
		<!--content--><!--@expand-->
		<div class="{name} {?getType.isMultiple} field" id="{path}">
			<div class="trashable label">|{display}|</div>
			<div class="value">{value}</div>
		</div>
		<!--@expand--><!--content-->
	</div>
	<!--tabs._middle-->

	<!--tabs._bottom-->
	<div class="bottom fieldset">
		<!--content--><!--@expand-->
		<div class="{name} {?getType.isMultiple} field" id="{path}">
			<div class="trashable label">|{display}|</div>
			<div class="value">{value}</div>
		</div>
		<!--@expand--><!--content-->
	</div>
	<!--tabs._bottom-->

</div>
<!--END-->

</body>
</html>
