<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Import form template</title>
	<script type="text/javascript" src="../../vendor/jquery/jquery-1.8.3.js"></script>
	<style type="text/css">
		@import "../../skins/default/application.css";
	</style>
</head>
<body>

<!--BEGIN-->
<div class="{@class.short.lower} {@feature} window" id="/{@class.short}/{@feature}">
	<h2 class="window title">|Import preview|</h2>

	<form action="/Import/preview" method="post" target="#main">

		<!--worksheets-->
		<div class="worksheet">
			<input type="hidden" name="worksheets[{name}][name]" value="{settings.name}">

			<!--custom.{#}-->
			{/general_buttons.html}
			{/custom.html}
			<!--custom.{#}-->

			<!--settings.classes-->
			<div class="{name} class">
				<h3>
					|{--settings.getClassName.short}|
					<!--property_path?-->:<!--property_path?-->
					<!--property_path--><span class="property">|{.}|</span><!--property_path-->
				</h3>
				<div class="identify properties">
					<input type="hidden" name="worksheets[{--name}][classes][{getPropertyPathValue}][identify]" value="{getIdentifyValue}">
					Identifie chaque <span>|{name}|</span> par
					<ul><!--identify_properties--><li class="{name}">|{name}|</li><!--identify_properties--></ul>
					(doit être unique).
				</div>
				<div class="none">
					Si aucun <span>|{name}|</span> n'a été trouvé,
					{object_not_found_behaviour.@edit}
				</div>
				<div class="write properties">
					<input type="hidden" name="worksheets[{--name}][classes][{getPropertyPathValue}][write]" value="{getWriteValue}">
					Remplace la valeur de
					<ul><!--write_properties--><li class="{name}">|{name}|</li><!--write_properties--></ul>.
				</div>
				<div class="ignore properties">
					<input type="hidden" name="worksheets[{--name}][classes][{getPropertyPathValue}][ignore]" value="{getIgnoreValue}">
					Ignore la valeur de
					<ul><!--ignore_properties--><li class="{name}">|{name}|</li><!--ignore_properties--></ul>
				</div>
			</div>
			<!--settings.classes-->

			<!--preview-->
				<table class="preview">
					<tr><!--properties--><th>{.}</th><!--properties--></tr>
					<!--data:{first_row}-{last_row}-->
					<tr><!--.:-{--last_column}--><td>{.}</td><!--.--></tr>
					<!--data-->
				</table>
			<!--preview-->

		</div>
		<!--worksheets-->

		<p class="warning">
			<span>Une fois vérifiés les réglages ci-dessus, vous pouvez</span>
			<a class="green button submit" href="/Import/execute" target="#import_execute">Lancer l'import</a>
		</p>

	</form>

</div>
<div id="import_execute">
</div>
<!--END-->

</body>
</html>
