<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Default list template</title>
	<script type="text/javascript" src="../../../vendor/jquery/jquery-1.8.3.js"></script>
	<style type="text/css">
		@import "../../../skins/default/application.css";
	</style>
</head>
<body>
<!--BEGIN-->

<form action="/{@class.short}/{@feature}" class="{@class.short.lower} list window" id="/{@class.short}/{@feature}" method="post" target="#main">
	<h2>{title}</h2>

	{/general_buttons.html}
	{/custom.html}

	<table>
	<caption class="search_summary">{search_summary}</caption>
	<colgroup><col/><col/><!--getProperties--><col/><!--getProperties--></colgroup>
	<thead>
	<tr>
		<th></th>
		<th class="column_select">
			<a class="popup" href="/Property/select/{@class.short}" target="#column_select">|select columns|</a>
		</th>
		<!--getProperties-->
		<th id="{.}" class="sort{sorted.{#}} {?reversed.{#}} property">
			<a href="/{--@class.short}/{@feature}?{sort_options.{#}}={.}" target="#main" title="|{.}|">{short_titles.{#}}</a>
		</th>
		<!--sample-->
		<th id="column2" class="sort property">
			<a href="/Class/feature?sort=column2" target="#main">column2</a>
		</th>
		<!--getProperties-->
	</tr>
	<tr class="search">
		<td colspan="2"></td>
		<!--search-->
		<td>{@edit("search[{#.@escapeName}]")}</td>
		<!--sample-->
		<td><input name="search[column2]"></td>
		<!--search-->
	</tr>
	</thead>
	<tbody>
	<!--elements:-{displayed_lines_count}-->
	<tr>
		<!--@isFirst?-->
		<td class="vertical scrollbar" data-start="{--display_start}" data-length="{--displayed_lines_count}" data-total="{--rows_count}" rowspan="{--displayed_lines_count}">
			<a class="up" href="/{--@class.short}/{@feature}?move=up" target="#main">/\</a>
			<a class="position" href="/{--@class.short}/{@feature}?move={--display_start}" target="#main">=</a>
			<a class="down" href="/{--@class.short}/{@feature}?move=down" target="#main">\/</a>
		</td>
		<!--@isFirst?-->
		<td><input type="checkbox" name="s[]" value="{id}"></td>
		<!--formatValues:1-->
		<td>
			<!----class_name?-->
			<a class="object" href="/{--class_name.short}/{--id}" target="#main">{value}</a>
			<!----class_name?-->
		</td>
		<!--formatValues-->
		<!--formatValues:2----count-->
		<td>{value}</td>
		<!--formatValues-->
	</tr>
	<!--sample-->
	<tr>
		<td><input type="checkbox"></td>
		<td><a href="/Class/2">code2</a></td>
		<td>3,18</td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td><a href="/Class/3">code3</a></td>
		<td>2,29</td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td><a href="/Class/4">code4</a></td>
		<td>12,39</td>
	</tr>
	<!--elements-->
	</tbody>
	</table>

	<ul class="selection actions">
		<li class="arrow">[select]</li>
		<!--selection_buttons-->
		<li class="{feature.lower}"><a class="{class?}" href="{link}" target="{?target}">|{caption}|</a>
			<!--sub_buttons?-->
			<ul>
				<!--sub_buttons-->
				<li class="{feature.lower}"><a class="{class?}" href="{link}" target="{?target}">|{caption}|</a></li>
				<!--sub_buttons-->
			</ul>
			<!--sub_buttons?-->
		</li>
		<!--sample-->
		<li class="new"><a class="other classes" href="/Class/new" target="#main">New</a></li>
		<!--selection_buttons-->
		<!--less_twenty?--><li class="less twenty growth"><a class="" href="/{@class.short}/{@feature}?less=20" target="#main" title="|Display the standard lines count|">|Less lines|</a></li><!--less_twenty?-->
		<!--more_hundred?--><li class="more hundred growth"><a href="/{@class.short}/{@feature}?more=100" target="#main" title="|Display more lines|">|More lines|</a></li><!--more_hundred?-->
		<!--more_thousand?--><li class="more thousand growth"><a href="/{@class.short}/{@feature}?more=1000" target="#main" title="|Display the maximal lines count|">|Max lines|</a></li><!--more_thousand?-->
		<li class="rows_count">|!{rows_count}! ¦lines¦ match your search|<br>|!{displayed_lines_count}! ¦lines¦ starting from !{display_start}! displayed|</li>
	</ul>

</form>

<!--END-->
</body>
</html>
