<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Default list template</title>
	<script type="text/javascript" src="../../../vendor/jquery/jquery-1.8.3.js"></script>
	<style type="text/css">
		@import "../../../skins/default/application.css";
	</style>
</head>
<body>

<!--BEGIN-->
<div class="{@class.short.lower} list window" id="/{@class.short}/{@feature}">
	<h2 class="window title">|¦{@class.ucfirst}¦ list|</h2>

	{/general_buttons.html}

	<form action="/{@class.short}/{@feature}" method="POST" target="#main">
	<table class="list">
	<thead>
	<tr>
		<th class="column_select">
			<a href="/Property/select/{@class.short}" class="popup" target="#column_select">|select columns|</a>
		</th>
		<!--getProperties-->
		<th id="{.}" class="property trashable sort{sorted.{#}} {?reversed.{.}}">
			<a href="/{--@class.short}/{@feature}?{sort_options.{#}}={.}" target="#main" title="|{titles.{#}}|">|{short_titles.{#}}|</a>
		</th>
		<!--sample-->
		<th id="column2" class="property trashable">
			<a href="/Class/feature?sort=column2" target="#main">column2</a>
		</th>
		<!--getProperties-->
	</tr>
	<tr class="search">
		<td></td>
		<!--search-->
		<td>{@edit}</td>
		<!--sample-->
		<td><input name="column2"></td>
		<!--search-->
	</tr>
	</thead>
	<tbody>
	<!--elements:-20-->
	<tr>
		<td><input type="checkbox" name="s[]" value="{id}"></td>
		<!--formatValues:1-->
		<td>
			<!----class_name?-->
			<a href="/{--class_name.short}/{--id}" target="#main" class="trashable">{value}</a>
			<!----class_name?-->
		</td>
		<!--formatValues-->
		<!--formatValues:2----count-->
		<td>{value}</td>
		<!--formatValues-->
	</tr>
	<!--sample-->
	<tr>
		<td><input type="checkbox"></td>
		<td><a href="/Class/2">code2</a></td>
		<td>3,18</td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td><a href="/Class/3">code3</a></td>
		<td>2,29</td>
	</tr>
	<tr>
		<td><input type="checkbox"></td>
		<td><a href="/Class/4">code4</a></td>
		<td>12,39</td>
	</tr>
	<!--elements-->
	</tbody>
	</table>
	</form>

	<ul class="selection buttons">
		<li class="selection arrow trashable">[select]</li>
		<!--selection_buttons-->
		<li class="button"><a class="{class?} {feature.lower} trashable button {color}" href="{link}" target="{?target}">|{caption}|</a>
			<!--sub_buttons?-->
			<ul class="sub_buttons">
				<!--sub_buttons-->
				<li class="sub_button"><a class="{class?} {feature.lower} trashable sub_button {color}" href="{link}" target="{?target}">|{caption}|</a></li>
				<!--sub_buttons-->
			</ul>
			<!--sub_buttons?-->
		</li>
		<!--sample-->
		<li><a class="button trashable new blue" href="/Class/new" target="#main">New</a></li>
		<!--selection_buttons-->
	</ul>

</div>
<!--END-->

</body>
</html>
